{% if CustomThemeSection == "header" %}

    <nav class="navbar navbar-inverse navbar-sticky navbar-mobile bootsnav" id="primaryNav"
            {% if pageConfig.MENUColor %}
                style="background-color: #{{ pageConfig.MENUColor.backgroundColor }}; color: #{{ pageConfig.MENUColor.backgroundColorContrast }};"
            {% endif %}>
        <div class="container">

            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ CONFIG.ROOTFRONTENDURL }}/yusu-elections-2019"><img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/headerImages/customThemes/YUSUElections/Website Graphic.svg" alt="Nouse elections logo" style="width:100%;"></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu" style="background-color: inherit; color: inherit;">
                   <ul class="nav navbar-nav navbar-right" data-in="navFadeInDown" data-out="navFadeOutUp">
                     <li><a href="{{ CONFIG.ROOTFRONTENDURL }}"><i class="fa fa-home"></i></a></li>
                       
                     {# <li class="dropdown megamenu-fw megamenu-nav-tabs">
                           <a href="#" class="dropdown-toggle">Candidates</a>
                           <ul class="dropdown-menu megamenu-content">
                               <li>
                                   <div class="block-mega-menu">
                                       <div class="mega-cat-menu">
                                           <!-- Nav tabs -->
                                           <ul class="nav nav-tabs menu-tabs">
                                               <li><a href="#cat1" data-toggle="tab">President</a></li>
                                               <li><a href="#cat2" data-toggle="tab">Travel</a></li>
                                               <li class="active"><a href="#cat3" data-toggle="tab">Health & Fitness</a></li>
                                               <li><a href="#cat4" data-toggle="tab">Business</a></li>
                                               <li><a href="#cat5" data-toggle="tab">Foods</a></li>
                                           </ul>
                                       </div>
                                       <div class="mega-cat-article">
                                           <!-- Tab panes -->
                                           <div class="tab-content menu-tab-content">
                                               <div class="tab-pane" id="cat1">
                                                   <div class="row">
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="https://elections.yusu.org/candidates/6"><figure><img class="img-responsive" src="https://d350x4n02brjm.cloudfront.net/elections/2019/photos/6.JPG" alt=""></figure></a>
                                                               <h4>Christopher Oldnall</h4>
                                                           </article>
                                                       </div>

                                                   </div>
                                               </div>
                                               <div class="tab-pane" id="cat2">
                                                   <div class="row">
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-8.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-9.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-video.html">
                                                                   <figure><img class="img-responsive" alt="" src="assets/img/400x280-10.jpg"></figure>
                                                                   <span class="post__icon post__icon--video"></span>
                                                               </a>
                                                               <h4><a href="details-video.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-11.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="tab-pane active" id="cat3">
                                                   <div class="row">
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-12.jpg" alt=""> </figure></a>
                                                               <h4><a href="details-post.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-video.html">
                                                                   <figure><img class="img-responsive" alt="" src="assets/img/400x280-13.jpg"></figure>
                                                                   <span class="post__icon post__icon--video"></span>
                                                               </a>
                                                               <h4><a href="details-video.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-14.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam eu nunc at nulla efficitur <em>pellentesque.</em></a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-video.html">
                                                                   <figure><img class="img-responsive" alt="" src="assets/img/400x280-15.jpg"></figure>
                                                                   <span class="post__icon post__icon--video"></span>
                                                               </a>
                                                               <h4><a href="details-video.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="tab-pane" id="cat4">
                                                   <div class="row">
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-16.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-17.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-18.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam eu nunc at nulla efficitur <em>pellentesque.</em></a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-19.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="tab-pane" id="cat5">
                                                   <div class="row">
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-20.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Ut et nunc a <em><strong>dolor sodales</strong></em> lacinia quis ac justo.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-21.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-22.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam eu nunc at nulla efficitur <em>pellentesque.</em></a></h4>
                                                           </article>
                                                       </div>
                                                       <div class="col-sm-3">
                                                           <article class="post_article">
                                                               <a class="post_img" href="details-post.html"><figure><img class="img-responsive" src="assets/img/400x280-23.jpg" alt=""></figure></a>
                                                               <h4><a href="details-post.html">Aliquam <em>gravida urna</em> ut ipsum hendrerit cursus.</a></h4>
                                                           </article>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><!-- end row -->
                               </li>
                           </ul>
                       </li>#}
                       {#  class="hidden-lg hidden-md"  #}
                     <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/yusu-elections-2019/candidates">Candidates</a></li>
                     <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/yusu-elections-2019/news">Elections News</a></li>
                     <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/yusu-elections-2019/analysis">Analysis</a></li>
                     <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/yusu-elections-2019/galleries">Galleries</a></li>
                     <li><a href="https://yusu.org/vote" target="_blank">Vote</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="clearfix" style="{{ pageConfig.MENUColor is not defined or pageConfig.MENUColor.backgroundColor == "ffffff" ? "border-top: 1px solid #eaeaea" : "" }}"></div>
    <!-- /.End of navigation -->
    <div class="search">
        <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"> <i class="fa fa-times"></i></button>
        <form class="search__form" action="javascript:void(0)" method="post">
            <input class="search__input" autocomplete="off" id="searchBox" name="search" type="search" placeholder="Search {{ totalArticlesCountForSearch|number_format }} articles..."/>
            <span class="search__info">Hit enter to search or ESC to close</span>
        </form>
        <div class="search__related" id="searchSuggestions">

        </div>
    </div>
{% elseif CustomThemeSection == "categoryBody" %}
<div class="container">
    <div class="row">

        <aside class="col-sm-4 col-md-3 rightSidebar">
            <div class="latest_post_widget">
                <div class="title-holder">
                    <h3 class="title">Elections Timetable</h3>
                    <span class="title-shape title-shape-dark"></span>
                </div>

                <div class="media latest_post">
                     <div class="media-body">
                        <h6 class="media-heading">Candidates announced</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday 12th February - 9am</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">Candidate Speed Dating</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday 14th February - 6pm</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">FTO Candidate Hustings</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday 15th February - 7pm</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">Vote opens</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday 18th February</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">Vote closes</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday 22nd February - 4pm</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">Elections results night</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday 23nd February - 7:30pm</span>
                        </div>
                    </div>
                </div>

                <div class="media latest_post">
                    <div class="media-body">
                        <h6 class="media-heading">Timewarp Elections Special afterparty</h6>
                        <div class="entry-meta">
                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday 23nd February</span>
                        </div>
                    </div>
                </div>
        </aside>
        <main class="col-sm-8 col-md-9 content p_l_40">
            {% embed 'elements/articleList.twig' with {'pagination': pagination, ' articles':  articles } %}
            {% endembed %}
        </main>
    </div>
</div>
{% endif %}