{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
<div class="container">
    <div class="row">
        <main class="col-sm-12">
            <div class="post_details" style="padding: 25px;">
                <h1 class="entry-title">About Nouse</h1>
                <div class="entry-content">
                    <p>This is <cite>Nouse</cite>, the University of York's oldest society and an award-winning newspaper.We publish regular print editions which include investigations in the University and the Students' Union alongside multiple online articles. We are always looking for new writers or team members, so if you are interested, please get involved!
<br/>
                    <cite>Nouse</cite> experience represents an exceptionally valuable addition to any future journalist's CV, recognised by industry experts nationwide.

                    <cite>Nouse</cite> alumni work for the <cite>Financial Times</cite>, the <cite>Telegraph</cite> and the <cite>Times</cite>, while others have secured internships with national outlets such as the <cite>Guardian</cite>, <cite>Style</cite> and <cite>Wonderland</cite>. If you're at all interested in training for the testing world of journalism during your time at University, there's no better place.
                    </p>
                    <h3>YuStart</h3>
                    <p>In 2015, <cite>Nouse</cite> ran a successful YuStart campaign which raised over £1,000. We were grateful for the generosity of all our sponsors, but would like to thank Ben Crawley, Liam Dooley, Catherine Dunning and Kevin Murphy in particular.</p>
                    <h3 id="logo">Looking for the <cite>Nouse</cite> logo?</h3>
                    <p>You can download it in a range of formats, or read <a href="{{ CONFIG.ROOTFRONTENDURL }}/2013/01/22/our-new-logo-a-word-from-the-designer/">a word from the designer</a>.</p>
                    <ul>
                        <li>Kingfisher + <i>Nouse</i> text: <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.png">PNG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.svg">SVG</a></li>
                        <li>Kingfisher: <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher-1307-797.png">PNG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher.svg">SVG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher.tiff">TIFF</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/Kingfisher.ai">Adobe Illustrator</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}