{% extends "template.twig" %}

{% block content %}
    <style>
        .page-content {
            padding: 20px;
        }
    </style>
<div class="container">
    <div class="row">
        <main class="col-sm-12">
            <div class="post_details" style="padding: 25px;">
                <h1 class="entry-title">About Nouse</h1>
                <div class="entry-content">
                    This is <cite>Nouse</cite>, the University of York's largest, oldest, and best-known media outlet and one of the most highly-respected, nationally-acclaimed and award-winning student news providers in the country.
<br/>
                    <cite>Nouse</cite> experience represents an exceptionally valuable addition to any future journalist's CV, recognised by industry experts nationwide.

                    <cite>Nouse</cite> alumni who graduated just months ago are already working for the <cite>Financial Times</cite>, the <cite>Telegraph</cite> and the <cite>Times</cite>, while others have secured internships with national outlets such as the <cite>Guardian</cite>, <cite>Style</cite> and <cite>Wonderland</cite>. If you're at all interested in training for the testing world of journalism during your time at University, there's no better place.

                    Founded in 1964, making us the oldest society on campus, <cite>Nouse</cite> has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students' Union.

                    Recent investigations into the University's investment into the international arms trade led to divestment promises from the administration's finance department and national acclaim, while a campaign to save campus porters lead by this newspaper ensured the survival of an important University service.
                    <br/><br/><h3>YuStart</h3>
                    In 2015, <cite>Nouse</cite> ran a successful YuStart campaign which raised over £1,000. We were grateful for the generosity of all our sponsors, but would like to thank Ben Crawley, Liam Dooley, Catherine Dunning and Kevin Murphy in particular.
                    <br/><br/><h3>The formal stuff</h3>
                    <ul>
                        <li><del><a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/attachments/Nouse-constitution-2012.pdf"><cite>Nouse</cite> Constitution</a> (updated 2012)</del></li>
                        <li><a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/attachments/media-charter-2008.pdf">YUSU Media Charter</a> (as of February 2008)</li>
                        <li><a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/attachments/NUJ_Code_of_Conduct.pdf">NUJ Code of Conduct</a></li>
                    </ul>
                    <h3 id="logo">Looking for the <cite>Nouse</cite> logo?</h3>
                    You can download it in a range of formats, or read <a href="{{ CONFIG.ROOTFRONTENDURL }}/2013/01/22/our-new-logo-a-word-from-the-designer/">a word from the designer</a>.
                    <ul>
                        <li>Kingfisher + <i>Nouse</i> text: <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.png">PNG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.svg">SVG</a></li>
                        <li>Kingfisher: <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher-1307-797.png">PNG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher.svg">SVG</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher.tiff">TIFF</a>, <a href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/Kingfisher.ai">Adobe Illustrator</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}