{% extends "template.twig" %}

{% block prePageContent %}
    <div class="parallax page_header"  data-parallax-bg-image="{{ CONFIG.ASSETSURL }}img/header-bg.jpg" data-parallax-direction="left">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Authors</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Authors</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="authors-content">
        <figure class="author-card">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar1.png" alt="" class="profile" />
                <h3>Hans Down<span>San Francisco, CA</span></h3>
                <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
        <figure class="author-card">
            <img src="{{ CONFIG.ASSETSURL }}img/profile-bg-2.jpg" alt="">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar2.png" alt="" class="profile" />
                <h3>Wisteria Widget<span>San Francisco, CA</span></h3>
                <p>Calvin: I'm a genius, but I'm a misunderstood genius. Hobbes: What's misunderstood about you? Calvin: Nobody thinks I'm a genius.</p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
        <figure class="author-card">
            <img src="{{ CONFIG.ASSETSURL }}img/profile-bg-3.jpg" alt="">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar3.png" alt="" class="profile" />
                <h3>Desmond Eagle<span>San Francisco, CA</span></h3>
                <p>If you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
        <figure class="author-card">
            <img src="{{ CONFIG.ASSETSURL }}img/profile-bg-4.jpg" alt="">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar4.png" alt="" class="profile" />
                <h3>Naeem Khan<span>San Francisco, CA</span></h3>
                <p>If you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
        <figure class="author-card">
            <img src="{{ CONFIG.ASSETSURL }}img/profile-bg-5.jpg" alt="">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar5.png" alt="" class="profile" />
                <h3>Jahangir Alom<span>San Francisco, CA</span></h3>
                <p>If you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
        <figure class="author-card">
            <img src="{{ CONFIG.ASSETSURL }}img/profile-bg-6.jpg" alt="">
            <figcaption>
                <img src="{{ CONFIG.ASSETSURL }}img/img_avatar6.png" alt="" class="profile" />
                <h3>Tuhin Sorker<span>San Francisco, CA</span></h3>
                <p>If you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</p>
                <a href="author-post.html" class="follow">Follow</a>
                <a href="author-post.html" class="info">More Info</a>
            </figcaption>
        </figure>
        <!-- /.End of profile card -->
    </div>
</div>

{% endblock %}