---
import Layout from "@layouts/Layout.astro";
import type { IEdition, S3URL } from "@components/types";

const apiBase = import.meta.env.PUBLIC_API_BASE_URL;

const res = await fetch(`${apiBase}/api/frontend/editions`);
const allEditions: IEdition[] = await res.json();

// Sorting editions into academic years
let yearlyEditions: {
  [academicYear: string]: {
    printEditions: IEdition[];
    webEditions: IEdition[];
  };
} = {};
allEditions.forEach((edition) => {
  const published = new Date(edition.editions_published);
  let academicYear =
    published.getMonth() + 1 >= 9
      ? `${published.getFullYear()}-${published.getFullYear() + 1}`
      : `${published.getFullYear() - 1}-${published.getFullYear()}`;
  if (yearlyEditions[academicYear]) {
    if (edition.editions_type !== "Web Edition") {
      yearlyEditions[academicYear].printEditions.push(edition);
    } else {
      yearlyEditions[academicYear].webEditions.push(edition);
    }
  } else {
    if (edition.editions_type !== "Web Edition") {
      yearlyEditions[academicYear] = {
        printEditions: [edition],
        webEditions: [],
      };
    } else {
      yearlyEditions[academicYear] = {
        printEditions: [],
        webEditions: [edition],
      };
    }
  }
});
---

<Layout title="Our Editions - Nouse" active={undefined} style={"nouse"}>
  <div class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">Our Editions</h1>
    {
      Object.entries(yearlyEditions).map(([academicYear, editions]) => (
        <div class="academic-year">
          <h2 class="playfair-display text-center text-2xl sm:text-4xl">
            {academicYear}
          </h2>
          {editions.printEditions.length !== 0 && (
            <>
              <h3 class="mb-4 text-center text-lg sm:text-3xl">
                Print Editions and Supplements
              </h3>
              <div
                class={`print-editions mb-4 flex flex-wrap justify-center gap-8`}
              >
                {editions.printEditions.map(async (edition) => {
                  const res = await fetch(
                    `${apiBase}/api/s3url?fileId=${Number(edition.editions_thumbnail)}&size=medium`,
                  );
                  const s3url: S3URL = await res.json();
                  return (
                    <a
                      class="edition px-[17%] md:w-1/6 md:p-0"
                      href={`${
                        import.meta.env.BASE_URL
                      }editions/${decodeURIComponent(edition.editions_slug)}`}
                    >
                      {edition.editions_thumbnail && (
                        <img
                          class="mb-4 aspect-auto object-contain md:aspect-edition"
                          src={s3url.url}
                        />
                      )}
                      <h4 class="text-center text-base sm:text-xl">
                        {edition.editions_printNumber
                          ? `№${edition.editions_printNumber}`
                          : edition.editions_name}
                      </h4>
                    </a>
                  );
                })}
              </div>
            </>
          )}
          {editions.webEditions.length !== 0 && (
            <>
              <h3 class="mb-4 text-center text-lg md:text-xl lg:text-3xl">
                Web Editions and Supplements
              </h3>
              <div
                class={`web-editions mb-4 flex flex-wrap justify-center gap-8`}
              >
                {editions.webEditions.map(async (edition) => {
                  const res = await fetch(
                    `${apiBase}/api/s3url?fileId=${Number(edition.editions_thumbnail)}&size=medium`,
                  );
                  const s3url: S3URL = await res.json();
                  return (
                    <a
                      class="edition px-[17%] md:w-1/6 md:p-0"
                      href={`/editions/${edition.editions_slug}`}
                    >
                      {edition.editions_thumbnail && (
                        <img
                          class="mb-4 aspect-auto object-contain md:aspect-video"
                          src={s3url.url}
                        />
                      )}
                      <h4 class="text-center text-base sm:text-xl">
                        {edition.editions_name}
                      </h4>
                    </a>
                  );
                })}
              </div>
            </>
          )}
        </div>
      ))
    }
  </div>
</Layout>
