---
import { s3URL } from "@components/utils/s3URL";
import type { editions } from "@prisma/client";
import Layout from "src/layouts/Layout.astro";
import prisma from "src/prisma";

const allEditions = await prisma.editions.findMany({
  where: {
    editions_show: true,
    editions_deleted: false,
    NOT: {
      editions_thumbnail: null,
    },
  },
  orderBy: {
    editions_published: "desc",
  },
});

let yearlyEditions: { [academicYear: string]: {printEditions: editions[], webEditions: editions[]} } = {};
allEditions.forEach((edition) => {
  let academicYear =
    edition.editions_published.getMonth() + 1 >= 9
      ? `${edition.editions_published.getFullYear()}-${
          edition.editions_published.getFullYear() + 1
        }`
      : `${
          edition.editions_published.getFullYear() - 1
        }-${edition.editions_published.getFullYear()}`;
  if (yearlyEditions[academicYear]) {
    if (edition.editions_type !== "Web Edition") {
      yearlyEditions[academicYear].printEditions.push(edition);
    } else {
      yearlyEditions[academicYear].webEditions.push(edition);
    }
  } else {
    if (edition.editions_type !== "Web Edition") {
      yearlyEditions[academicYear] = { printEditions: [edition], webEditions: [] };
    } else {
      yearlyEditions[academicYear] = { printEditions: [], webEditions: [edition] };
    }
  }
});

---

<Layout title="Nouse - Our Editions" active={undefined} style="nouse">
  <div class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    <h1 class="mb-4 text-center text-2xl sm:text-4xl">
      Our Editions
    </h1>
    {Object.entries(yearlyEditions).map(([academicYear, editions]) => (
      <div>
        <h2 class="text-center text-2xl sm:text-4xl font-bold">{academicYear}</h2>
        {editions.printEditions.length !== 0 && (
          <>
            <h2 class="mb-4 text-center text-xl sm:text-2xl">Print Editions and Supplements</h2>
            <div class={`flex flex-wrap gap-8 justify-center mb-4`}>
              {editions.printEditions.map(async (edition) => (
                <a class="px-[17%] md:w-1/6 md:p-0" href=`editions/${edition.editions_slug}`}>
                  {edition.editions_thumbnail && <img class="mb-4 aspect-edition object-contain" src={await s3URL(edition.editions_thumbnail, "medium")} />}
                  <h3 class="text-lg sm:text-xl category-text text-center">{edition.editions_printNumber ? `№${edition.editions_printNumber}` : edition.editions_name}</h3>
                </a>
              ))}
            </div>
          </>
        )}
        {editions.webEditions.length !== 0 && (
          <>
            <h2 class="mb-4 text-center text-lg md:text-xl lg:text-2xl">Web Editions and Supplements</h2>
            <div class={`flex flex-wrap gap-8 justify-center mb-4`}>
              {editions.webEditions.map(async (edition) => (
                <a class="w-1/6" href=`editions/${edition.editions_slug}`}>
                  {edition.editions_thumbnail && <img class="mb-4 aspect-video object-contain" src={await s3URL(edition.editions_thumbnail, "medium")} />}
                  <h3 class="text-base md:text-lg lg:text-xl category-text text-center">{edition.editions_name}</h3>
                </a>
              ))}
            </div>
          </>
        )}
      </div>
    ))}
  </div>
</Layout>
