{% extends "template.twig" %}
{% block htmlIncludes %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col-sm-4 col-md-3 rightSidebar">
                <div class="about-card">
                    <div class="ui divider">{{ pageConfig.USER.users_name1 }} {{ pageConfig.USER.users_name2 }}</div>
                    {% if pageConfig.USER.IMAGE %}
                    <figure>
                        <img src="{{ pageConfig.USER.IMAGE }}" class="img-responsive center-block" alt="{{ pageConfig.USER.users_name1 }} {{ pageConfig.USER.users_name2 }}">
                    </figure>
                    {% endif %}
                    <p>{{ pageConfig.USER.users_bio|replace({"\n":"<br/>"})|raw }}</p>
                    <p><em>{{ pageConfig.USER.users_name1 }}</em> has written {{ pageConfig.USER.ARTICLECOUNT }} article{{ (pageConfig.USER.ARTICLECOUNT != 1 ? "s" : "") }} for Nouse</p>
                    {% if pageConfig.USER.users_social_facebook != null %}
                        <a href="https://facebook.com/{{ pageConfig.USER.users_social_facebook }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-facebook"></i> Facebook</a>
                    {% endif %}
                    {% if pageConfig.USER.users_social_instagram != null %}
                        <a href="https://instagram.com/{{ pageConfig.USER.users_social_instagram }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-instagram"></i> Instagram</a>
                    {% endif %}
                    {% if pageConfig.USER.users_social_twitter != null %}
                        <a href="https://twitter.com/{{ pageConfig.USER.users_social_twitter }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-twitter"></i> Twitter</a>
                    {% endif %}
                    {% if pageConfig.USER.users_social_snapchat != null %}
                        <a href="https://snapchat.com/add/{{ pageConfig.USER.users_social_snpachat }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-snapchat"></i> Snapchat</a>
                    {% endif %}
                    {% if pageConfig.USER.users_social_linkedin != null %}
                        <a href="https://www.linkedin.com/in/{{ pageConfig.USER.users_social_linkedin }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-linkedin"></i> Snapchat</a>
                    {% endif %}
                </div>
                {% if pageConfig.USER.POSITIONS %}
                <div class="latest_post_widget">
                    <div class="title-holder">
                        <h3 class="title">Positions</h3>
                        <span class="title-shape title-shape-dark"></span>
                    </div>
                    {% for position in pageConfig.USER.POSITIONS %}
                    <div class="media latest_post">
                        <div class="media-body">
                            <h6 class="media-heading">{{ (position.userPositions_displayName == null ? position.positions_displayName : position.userPositions_displayName) }}</h6>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    {% if date(position.userPositions_end) > date() %}
                                    Since {{ position.userPositions_start|date("M Y") }}
                                    {% else %}
                                    {{ position.userPositions_start|date("M Y") }}   to {{ position.userPositions_end|date("M Y") }}
                                    {% endif %}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </aside>
            <main class="col-sm-8 col-md-9 content p_l_40">
                {% embed 'elements/articleList.twig' with {'pagination': pagination, ' articles':  articles } %}
                {% endembed %}
            </main>
        </div>
    </div>
{% endblock %}
