{% extends "template.twig" %}
{% block htmlMeta %}
    {% if pageConfig.USER.IMAGE %}
        <meta property="og:image" content="{{ pageConfig.USER.IMAGE }}" />
    {% endif %}
    <meta property="fb:app_id" content="471873819886891" />
    <meta property="og:title" content="{{ pageConfig.USER.users_name1 }} {{ pageConfig.USER.users_name2 }}">
    <meta property="og:description" content="{{ pageConfig.USER.users_bio|replace({"\n":" "}) }}">
{% endblock %}
{% block prePageContent %}
    <div class="profile-header">
        <div id="author-header">
            <img src="{{CONFIG.ASSETSFILESTOREURL}}/headerImages/centralhall-comp.jpg" alt="Central Hall - Credit: University of York/Alex Holland">
        </div>
        <div class="container text-center">
            <div class="author-avatar">
                <img
                        {% if pageConfig.USER.IMAGE %}
                        src="{{ pageConfig.USER.IMAGE }}" alt="{{ pageConfig.USER.users_name1 }} {{ pageConfig.USER.users_name2 }}"
                        {% else %}
                        src="{{CONFIG.ASSETSFILESTOREURL}}/logo/kingfisher.jpg" alt="Nouse Logo"
                        {% endif %}
                        style="width: auto;height: 200px;">
            </div>
            <h2 class="author-name">{{ pageConfig.USER.users_name1 }} {{ pageConfig.USER.users_name2 }}</h2>
            <p>{{ pageConfig.USER.users_bio|replace({"\n":"<br/>"}) }}</p>
            <p><em>{{ pageConfig.USER.users_name1 }}</em> has written {{ pageConfig.USER.ARTICLECOUNT }} article{{ (pageConfig.USER.ARTICLECOUNT != 1 ? "s" : "") }} for Nouse</p>
            <style>
                .social-link {
                    font-size: 20px;
                    line-height: 20px;
                    padding-top: 10px;
                }
            </style>
            <div class="author-social-link">
                {% if pageConfig.USER.users_social_facebook != null %}
                    <a href="https://facebook.com/{{ pageConfig.USER.users_social_facebook }}" class="social-link"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if pageConfig.USER.users_social_instagram != null %}
                    <a href="https://instagram.com/{{ pageConfig.USER.users_social_instagram }}" class="social-link"><i class="fa fa-instagram"></i></a>
                {% endif %}
                {% if pageConfig.USER.users_social_twitter != null %}
                    <a href="https://twitter.com/{{ pageConfig.USER.users_social_twitter }}" class="social-link"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if pageConfig.USER.users_social_snapchat != null %}
                    <a href="https://snapchat.com/add/{{ pageConfig.USER.users_social_snpachat }}" class="social-link"><i class="fa fa-snapchat"></i></a>
                {% endif %}
                {% if pageConfig.USER.users_social_linkedin != null %}
                    <a href="https://www.linkedin.com/in/{{ pageConfig.USER.users_social_linkedin }}" class="social-link"><i class="fa fa-linkedin"></i></a>
                {% endif %}
            </div>
            <!--<div class="clearfix"></div>-->
        </div>
    </div>
    {% if FEATUREDARTICLES %}
        {% include 'elements/masonryArticleSet.twig' with { 'articles':FEATUREDARTICLES } %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col-sm-4 col-md-3 rightSidebar">
                {% if pageConfig.USER.POSITIONS %}
                <div class="latest_post_widget">
                    <div class="title-holder">
                        <h3 class="title">Positions</h3>
                        <span class="title-shape title-shape-dark"></span>
                    </div>
                    {% for position in pageConfig.USER.POSITIONS %}
                    <div class="media latest_post">
                        <div class="media-body">
                            <h6 class="media-heading">{{ (position.userPositions_displayName == null ? position.positions_displayName : position.userPositions_displayName) }}</h6>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    {% if date(position.userPositions_end) > date() %}
                                    Since {{ position.userPositions_start|date("M Y") }}
                                    {% else %}
                                    {{ position.userPositions_start|date("M Y") }}   to {{ position.userPositions_end|date("M Y") }}
                                    {% endif %}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <p>Header Credit: University of York/Alex Holland</p>
            </aside>
            <main class="col-sm-8 col-md-9 content p_l_40">
                {% embed 'elements/articleList.twig' with {'pagination': pagination, ' articles':  articles } %}
                {% endembed %}
            </main>
        </div>
    </div>
{% endblock %}
