{% extends "template.twig" %}
{% block htmlIncludes %}
    <script src="{{ CONFIG.ASSETSURL }}js/macy.js"></script>
    <script>
        var currentSectionID = null;
        $( document ).ready(function() {
            $(".masonry-slide1").owlCarousel({
                autoPlay: 4000, //Set AutoPlay
                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });
            $(".masonry-slide2").owlCarousel({
                autoPlay: 4500, //Set AutoPlay
                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });
            $(".masonry-slide3").owlCarousel({
                autoPlay: 5000, //Set AutoPlay
                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });
            $(".masonry-slide4").owlCarousel({
                autoPlay: 5500, //Set AutoPlay
                navigation: false, // Show next and prev buttons
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true
            });
        });
    </script>
{% endblock %}
{% block prePageContent %}
    {% if pageConfig.SUBCATEGORY is defined %}
    <div class="breadcrumbBithell">
        <div class="container" style="background-color: #F5F5F5;">
        {% if pageConfig.SUBSUBCATEGORY is defined %}
            <ol class="breadcrumb">
                <li><a style="color: black;" href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                <li><a style="color: black;" href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.SUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBCATEGORY.categories_displayName }}</a></li>
                <li>{{ pageConfig.SUBSUBCATEGORY.categories_displayName }}</li>
            </ol>
        {% else %}
            <ol class="breadcrumb">
                <li><a style="color: black;" href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                <li>{{ pageConfig.SUBCATEGORY.categories_displayName }}</li>
            </ol>
        {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="news-masonry">
        <div class="height_30"></div>
        <div class="container">
            <div class="row mas-m">
                {% if FEATUREDARTICLES|length > 0 %}
                    <div class="col-sm-{{ FEATUREDARTICLES|length < 2 ? "12" : "6"}} mas-p">
                        <div class="mas-item mas-big">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[0]} %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-6 mas-p">
                    {% if FEATUREDARTICLES|length > 1 %}
                        <div class="row mas-m hidden-xs">
                            <div class="col-xs-12 col-sm-12 mas-p">
                                <div class="mas-item masonry-sm mas-m-b">
                                    {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[1]} %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row mas-m">
                        <div class="col-xs-6 col-sm-6 mas-p">
                            <div class="masonry-slide1 owl-carousel owl-theme">
                                {% if FEATUREDARTICLES|length > 2 %}
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[2]} %}
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                {% endif %}
                                {% if FEATUREDARTICLES|length > 3 %}
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[3]} %}
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 mas-p">
                            <div class="masonry-slide2 owl-carousel owl-theme">
                                {% if FEATUREDARTICLES|length > 4 %}
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[4]} %}
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                {% endif %}
                                {% if FEATUREDARTICLES|length > 5 %}
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[5]} %}
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="parallax page_header"  data-parallax-bg-image="{{CONFIG.ASSETSFILESTOREURL}}/headerImages/hesHall-min.jpg" data-parallax-direction="left">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if pageConfig.SUBSUBCATEGORY is defined %}
                        <h3>{{ pageConfig.SUBSUBCATEGORY.categories_displayName }}</h3>
                        <ol class="breadcrumb">
                            <li><a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                            <li><a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.SUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBCATEGORY.categories_displayName }}</a></li>
                            <li class="active"><a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.SUBSUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBSUBCATEGORY.categories_displayName }}</a></li>
                        </ol>
                    {% elseif pageConfig.SUBCATEGORY is defined %}
                        <h3>{{ pageConfig.SUBCATEGORY.categories_displayName }}</h3>
                        <ol class="breadcrumb">
                            <li><a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                            <li class="active"><a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ pageConfig.SUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBCATEGORY.categories_displayName }}</a></li>
                        </ol>
                    {% else %}
                        <h3>{{ pageConfig.CATEGORY.categories_displayName }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>-->

{% endblock %}
{% block content %}
    {% if pageConfig.CustomTheme %}
        {% include "customThemes/" ~ pageConfig.CustomTheme with {'CustomThemeSection': 'categoryBody'} %}
    {% else %}
        <div class="container">
            <div class="row">

                <aside class="col-sm-4 col-md-3 rightSidebar">

                    {% if pageConfig.CATEGORY.categories_facebook != null or pageConfig.CATEGORY.categories_instagram != null or pageConfig.CATEGORY.categories_twitter != null %}
                    <div class="about-card">
                        <div class="ui divider">{{ pageConfig.CATEGORY.categories_displayName }}</div>
                        {% if pageConfig.CATEGORY.categories_facebook != null %}
                        <a href="{{ pageConfig.CATEGORY.categories_facebook }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-facebook"></i> Facebook</a>
                        {% endif %}
                        {% if pageConfig.CATEGORY.categories_instagram != null %}
                            <a href="{{ pageConfig.CATEGORY.categories_instagram }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-instagram"></i> Instagram</a>
                        {% endif %}
                        {% if pageConfig.CATEGORY.categories_twitter != null %}
                            <a href="{{ pageConfig.CATEGORY.categories_twitter }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-twitter"></i> Twitter</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <!-- /.End of donation widget -->
                    <div class="latest_post_widget">
                        <div class="title-holder">
                            <h3 class="title">Latest in {{ pageConfig.CATEGORY.categories_displayName }}</h3>
                            <span class="title-shape title-shape-dark"></span>
                        </div>
                        <!--  /.End of title -->
                        {% for article in pageConfig.leftBar.LATEST %}
                        <div class="media latest_post">
                            {% if article.articles_id|articleThumbnail %}
                               <a class="media-left" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                    <img src="{{ article.articles_id|articleThumbnail }}" class="media-object" alt="">
                                </a>
                            {% endif %}
                            <div class="media-body">
                                <h6 class="media-heading"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("d/M/y") }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </aside>
                <main class="col-sm-8 col-md-9 content p_l_40">
                    {% embed 'elements/articleList.twig' with {'pagination': pagination, ' articles':  articles } %}
                    {% endembed %}
                </main>
            </div>
        </div>
    {% endif %}
{% endblock %}
