{% extends "template.twig" %}
{% block htmlIncludes %}

{% endblock %}

{% block prePageContent %}
    <div class="parallax page_header"  data-parallax-bg-image="{{CONFIG.FILESTOREURL}}/site-assets/headerImages/hesHall-min.jpg" data-parallax-direction="left">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if pageConfig.SUBSUBCATEGORY is defined %}
                    <h3>{{ pageConfig.SUBSUBCATEGORY.categories_displayName }}</h3>
                    <ol class="breadcrumb">
                        <li><a href="{{ CONFIG.ROOTURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                        <li><a href="{{ CONFIG.ROOTURL ~ "/" ~ pageConfig.SUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBCATEGORY.categories_displayName }}</a></li>
                        <li class="active"><a href="{{ CONFIG.ROOTURL ~ "/" ~ pageConfig.SUBSUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBSUBCATEGORY.categories_displayName }}</a></li>
                    </ol>
                    {% elseif pageConfig.SUBCATEGORY is defined %}
                        <h3>{{ pageConfig.SUBCATEGORY.categories_displayName }}</h3>
                        <ol class="breadcrumb">
                            <li><a href="{{ CONFIG.ROOTURL ~ "/" ~ pageConfig.CATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.CATEGORY.categories_displayName }}</a></li>
                            <li class="active"><a href="{{ CONFIG.ROOTURL ~ "/" ~ pageConfig.SUBCATEGORY.categories_id|getCategoryURL }}">{{ pageConfig.SUBCATEGORY.categories_displayName }}</a></li>
                        </ol>
                    {% else %}
                        <h3>{{ pageConfig.CATEGORY.categories_displayName }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col-sm-4 col-md-3 rightSidebar">
                {% if pageConfig.CATEGORY.categories_facebook != null or pageConfig.CATEGORY.categories_instagram != null or pageConfig.CATEGORY.categories_twitter != null %}
                <div class="about-card">
                    <div class="ui divider">{{ pageConfig.CATEGORY.categories_displayName }}</div>
                    {% if pageConfig.CATEGORY.categories_facebook != null %}
                    <a href="{{ pageConfig.CATEGORY.categories_facebook }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-facebook"></i> Facebook</a>
                    {% endif %}
                    {% if pageConfig.CATEGORY.categories_instagram != null %}
                        <a href="{{ pageConfig.CATEGORY.categories_instagram }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-instagram"></i> Instagram</a>
                    {% endif %}
                    {% if pageConfig.CATEGORY.categories_twitter != null %}
                        <a href="{{ pageConfig.CATEGORY.categories_twitter }}" class="btn link-btn btn-rounded" style="margin: 5px;"><i class="fa fa-twitter"></i> Twitter</a>
                    {% endif %}
                </div>
                {% endif %}
                <!-- /.End of donation widget -->
                <div class="latest_post_widget">
                    <div class="title-holder">
                        <h3 class="title">Latest in {{ pageConfig.CATEGORY.categories_displayName }}</h3>
                        <span class="title-shape title-shape-dark"></span>
                    </div>
                    <!--  /.End of title -->
                    {% for article in pageConfig.leftBar.LATEST %}
                    <div class="media latest_post">
                        {% if article.articles_thumbnail != null %}
                           <a class="media-left" href="{{ CONFIG.ROOTURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                <img src="{{ CONFIG.FILESTOREURL ~ "/archive/public/articleImages/" ~ article.articles_thumbnail }}" class="media-object" alt="">
                            </a>
                        {% endif %}
                        <div class="media-body">
                            <h6 class="media-heading"><a href="{{ CONFIG.ROOTURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a></h6>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("d/M/y") }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </aside>
            <main class="col-sm-8 col-md-9 content p_l_40">
                {% embed 'elements/articleList.twig' with {'pagination': pagination, ' articles':  articles } %}
                {% endembed %}
            </main>
        </div>
    </div>
{% endblock %}
