{% extends "template.twig" %}
{% block htmlIncludes %}
    <style>
        .page-content {
            padding: 0 !important;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/macy/2.5.1/macy.min.js" integrity="sha512-/o/3HSUNsIEsxRpMb5LdGO+algy6JHTf3tMn2VpWKfVexrEAepEzsuJPA51tJVdC9kCHsN5+Z4GJ35pcldgsGw==" crossorigin="anonymous"></script>
{% endblock %}
{% block htmlMeta %}
{% if edition.editions_thumbnail %}
    <meta property="og:image" content="{{ edition.editions_thumbnail|s3URL("large") }}" />
{% endif %}
<meta property="fb:app_id" content="471873819886891" />
<meta property="og:title" content="{{ edition.editions_name|raw }}">
<meta property="og:description" content="{{ edition.editions_excerpt|raw }}">
<meta property="og:type"   content="article" />
<meta property="article:content_tier"   content="free" />
<meta property="article:publisher" content="https://www.facebook.com/yorknouse" />
<meta property="og:url" content="{{ CONFIG.ROOTFRONTENDURL }}/edition/{{ edition.editions_slug }}" />
<link rel="canonical" href="{{ CONFIG.ROOTFRONTENDURL }}/edition/{{ edition.editions_slug }}" />
<meta property="article:published_time" content="{{ edition.editions_published|date("d M Y") }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@yorknouse">

{% endblock %}
{% block prePageContent %}
    {% if edition.editions_headerImage %}
        <div class="container-fluid">
             <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-10" style="text-align: center;">
                        <img src="{{ edition.editions_headerImage|s3URL("medium") }}" class="img-responsive" alt="{{ edition.editions_name }}" style="width: 100%;">
                    </div>
             </div>
         </div>
    {% else %}
        <div class="container" style="text-align: center;">
            <h3>{{ edition.editions_name }}
                <b>
                    {% if edition.editions_printNumber %}
                       &nbsp;&numero;{{ edition.editions_printNumber }}
                    {% endif %}
                </b>
            </h3>
            <h4>
                {{ edition.editions_type }}
            </h4>
            {% if edition.editions_excerpt %}
                <p> {{ edition.editions_excerpt }}</p>
            {% endif %}
        </div>
    {% endif %}
    {% if edition.editions_pdf or edition.editions_pdfOriginal %}
    <div style="padding-bottom:10px;background-image:url({{ CONFIG.ASSETSURL }}flipbook/img/bg-blur.jpg);background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            {% include 'elements/flipBook.twig' with { 'pdf':(edition.editions_pdf ? edition.editions_pdf : edition.editions_pdfOriginal),'pdfOrig':edition.editions_pdfOriginal } %}
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% if edition['editions_featuredHighlights'] %}
        <div class="container-fluid">
        {% for section in edition['editions_featuredHighlights']['sections'] %}
            <div class="height_30"></div>
             <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-{{ section['customBoxHeader'] ? '7':'10' }} {# col-lg-offset-2  col-lg-{{ section['customBoxHeader'] ? '6':'8' }} #}" style="text-align: center;">
                        {% if section.headerImage %}
                            <img src="{{ section.headerImage|s3URL("large") }}" style="width: 100%;" alt="Section header image" />
                        {% endif %}
                    </div>
                    {% if section['customBoxHeader'] %}
                    <div class="col-sm-12 col-md-3 {# col-lg-2  #} rightSidebar">
                        <div class="about-card">
                            {% if section['customBoxHeader'] and section['customBoxHeader']['type'] == "text" %}
                                <h4>{{ section['customBoxHeader']['title']|nl2br }}</h4>
                                <p>{{ section['customBoxHeader']['text']|nl2br }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-{{ section['customBoxes'] ? '7':'10' }} {# col-lg-offset-2  col-lg-{{ section['customBoxHeader'] ? '6':'8' }} #}">
                        {% if section['articles'] %}
                            {% include 'elements/masonryArticleSet.twig' with { 'articles':section['articles'] } %}
                        {% endif %}
                    </div>
                    {% if section['customBoxes'] %}
                        <div class="col-sm-12 col-md-3 {# col-lg-2  #} rightSidebar">
                            <div class="height_30"></div>
                            {% for box in section['customBoxes'] %}
                                {% if box and box['type'] == "text" %}
                                    <div class="about-card">
                                        {% if box and box['type'] == "text" and box['title'] != "" and box['text'] != "" %}
                                            <h4>{{ box['title']|nl2br }}</h4>
                                            <p>{{ box['text']|nl2br }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if category.articles %}
        <div class="container">
            <main class="col-lg-12 content">
                <div class="height_30"></div>
                {% for category in CATEGORIESARTICLES %}
                    {% if category.articles|length > 0 %}
                <div class="title-holder">
                    <h3 class="title">{{ category.categories_displayName }}</h3>
                    <span class="title-shape title-shape-dark"></span>
                </div>
                <!--<h3 class="widget-title">Latest Articles</h3>-->
                <div class="grid-content latest_articles articlecategorygrid{{ category.categories_name }}">
                    {% for article in category.articles %}
                    <article class="grid_post">
                        <figure>
                            {% if article.articles_id|articleThumbnail %}
                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}" class="grid_image">
                                <img src="{{ article.articles_id|articleThumbnail("small") }}" class="img-responsive" alt="{{ article.articlesDrafts_headline }}">
                            </a>
                            {% endif %}
                            <figcaption>
                                <div class="post-cat">
                                    {% if article.articles_authors %}
                                        <span>By</span>
                                        {% for author in article.articles_authors %}
                                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}">{{ author.users_name1 ~ ' ' ~ author.users_name2 }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h4 class="grid_post_title">
                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a>
                                </h4>
                                {% if article.articlesDrafts_excerpt != null %}
                                <div class="entry-meta">
                                    <span class="entry-date">{{ article.articlesDrafts_excerpt|raw }}</span>
                                </div>
                                {% endif %}
                            </figcaption>
                        </figure>
                    </article>
                    <script>
                        $( document ).ready(function() {
                            new Macy({
                                container: '.articlecategorygrid{{ category.categories_name }}',
                                trueOrder: false,
                                waitForImages: false,
                                useOwnImageLoader: false,
                                debug: true,
                                mobileFirst: true,
                                columns: 1,
                                margin: 30,
                                breakAt: {
                                    1200: 5,
                                    992: 5,
                                    768: 4,
                                    480: 3
                                }
                            });
                        });
                    </script>
                    {% endfor %}
                </div>
                    {% endif %}
                {% endfor %}
            </main>
        </div>
    {% endif %}
{% endblock %}