{% extends "template.twig" %}
{% block htmlIncludes %}
<script src="{{ CONFIG.ASSETSURL }}js/macy.js"></script>
<script>
     $( document ).ready(function() {
         $(".masonry-slide1").owlCarousel({
            autoPlay: 4000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide2").owlCarousel({
            autoPlay: 4500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide3").owlCarousel({
            autoPlay: 5000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide4").owlCarousel({
            autoPlay: 5500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
    });
</script>
{% endblock %}
{% block prePageContent %}
    {% if edition.editions_pdf %}
    <div class="video-inner" style="margin-top: 0px;padding-bottom:10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% if edition.editions_thumbnail %}
                        <a href="{{ edition.editions_pdf|s3URL }}" target="_blank">
                            <img src="{{ edition.editions_thumbnail|s3URL("large") }}" style="width:100%;" alt="{{ edition.editions_name|raw }}">
                        </a>
                    {% else %}
                        <a href="{{ edition.editions_pdf|s3URL }}" target="_blank"><h4 style="color:white;">PDF Download</h4></a>
                    {% endif %}
                    <header class="details-header" style="margin-bottom:0;">
                        {% set pdfData = edition.editions_pdf|s3DATA %}
                        <div class="element-block" style="margin-bottom: 30px;margin-top:10px;">
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ edition.editions_published|date("j M Y") }}</span>
                                <span class="comment-link"><a href="{{ edition.editions_pdf|s3URL }}" target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i> {{ pdfData.data.s3files_meta_size|formatsize }}</a></span>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if FEATUREDARTICLES %}
    <div class="news-masonry">
    <div class="height_30"></div>
    <div class="container">
        <div class="row mas-m">
            {% if FEATUREDARTICLES|length > 0 %}
            <div class="col-sm-{{ FEATUREDARTICLES|length < 2 ? "12" : "6" }} mas-p">
                <div class="mas-item mas-big">
                    {% if FEATUREDARTICLES[0].articles_id|articleThumbnail %}
                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[0].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[0].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[0].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[0].articlesDrafts_headline|raw }}"></figure></a>
                    {% endif %}
                    <div class="mas-text">
                        <div class="post-cat">
                            {% for category in FEATUREDARTICLES[0].CATEGORIES %}
                            <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                            {% if category.categories_backgroundColor != "" %}
                             style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                            {% endif %}>{{ category.categories_displayName }}</a>
                            {% endfor %}
                        </div>
                        <h2 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[0].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[0].articles_slug }}">{{ FEATUREDARTICLES[0].articlesDrafts_headline|raw }}</a></h2>
                        <div class="mas-details">
                            <p>{{ FEATUREDARTICLES[0].articlesDrafts_excerpt|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-sm-6 mas-p">
                {% if FEATUREDARTICLES|length > 1 %}
                <div class="row mas-m hidden-xs">
                    <div class="col-xs-12 col-sm-12 mas-p">
                        <div class="mas-item masonry-sm mas-m-b">
                            {% if FEATUREDARTICLES[1].articles_id|articleThumbnail %}
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[1].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[1].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[1].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[1].articlesDrafts_headline|raw }}"></figure></a>
                            {% endif %}
                            <div class="mas-text">
                                <div class="post-cat">{% for category in FEATUREDARTICLES[1].CATEGORIES %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                            {% if category.categories_backgroundColor != "" %}
                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                            {% endif %}>{{ category.categories_displayName }}</a>
                                    {% endfor %}</div>
                                <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[1].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[1].articles_slug }}">{{ FEATUREDARTICLES[1].articlesDrafts_headline|raw }}</a></h4>
                                <div class="mas-details">
                                    <p>{{ FEATUREDARTICLES[1].articlesDrafts_excerpt|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row mas-m">
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide1 owl-carousel owl-theme">
                            {% if FEATUREDARTICLES|length > 2 %}
                            <div class="item">
                                <div class="mas-item masonry-sm">
                                    {% if FEATUREDARTICLES[2].articles_id|articleThumbnail %}
                                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[2].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[2].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[2].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[2].articlesDrafts_headline|raw }}"></figure></a>
                                    {% endif %}
                                    <div class="mas-text">
                                        <div class="post-cat">{% for category in FEATUREDARTICLES[2].CATEGORIES %}
                                                <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                        {% if category.categories_backgroundColor != "" %}
                                                    style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                        {% endif %}>{{ category.categories_displayName }}</a>
                                            {% endfor %}</div>
                                        <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[2].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[2].articles_slug }}">{{ FEATUREDARTICLES[2].articlesDrafts_headline|raw }}</a></h4>
                                        <div class="mas-details">
                                            <p>{{ FEATUREDARTICLES[2].articlesDrafts_excerpt|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.End of masonry item -->
                            </div>
                            {% endif %}
                            {% if FEATUREDARTICLES|length > 3 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDARTICLES[3].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[3].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[3].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[3].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[3].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDARTICLES[3].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[3].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[3].articles_slug }}">{{ FEATUREDARTICLES[3].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDARTICLES[3].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide2 owl-carousel owl-theme">
                            {% if FEATUREDARTICLES|length > 4 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDARTICLES[4].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[4].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[4].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[4].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[4].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDARTICLES[4].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[4].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[4].articles_slug }}">{{ FEATUREDARTICLES[4].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDARTICLES[4].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                            {% if FEATUREDARTICLES|length > 5 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDARTICLES[5].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[5].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[5].articles_slug }}"><figure><img src="{{ FEATUREDARTICLES[5].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDARTICLES[5].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDARTICLES[5].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDARTICLES[5].articles_published|date("Y/m/d") }}/{{ FEATUREDARTICLES[5].articles_slug }}">{{ FEATUREDARTICLES[5].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDARTICLES[5].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">

    <div class="row">
        <main class="col-lg-12 content">
            {% for category in CATEGORIESARTICLES if category.articles|length > 0 %}
            <div class="title-holder">
                <h3 class="title">{{ category.categories_displayName }}</h3>
                <span class="title-shape title-shape-dark"></span>
            </div>
            <!--<h3 class="widget-title">Latest Articles</h3>-->
            <div class="grid-content latest_articles articlecategorygrid{{ category.categories_name }}">
                {% for article in category.articles %}
                <article class="grid_post">
                    <figure>
                        {% if article.articles_id|articleThumbnail %}
                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}" class="grid_image">
                            <img src="{{ article.articles_id|articleThumbnail }}" class="img-responsive" alt="{{ article.articlesDrafts_headline }}">
                        </a>
                        {% endif %}
                        <figcaption>
                            <div class="post-cat">
                                {% if article.articles_authors %}
                                    <span>By</span>
                                    {% for author in article.articles_authors %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}">{{ author.users_name1 ~ ' ' ~ author.users_name2 }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <h4 class="grid_post_title">
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a>
                            </h4>
                            {% if article.articlesDrafts_excerpt != null %}
                            <div class="entry-meta">
                                <span class="entry-date">{{ article.articlesDrafts_excerpt|raw }}</span>
                            </div>
                            {% endif %}
                        </figcaption>
                    </figure>
                </article>
                <script>
                    $( document ).ready(function() {
                        new Macy({
                            container: '.articlecategorygrid{{ category.categories_name }}',
                            trueOrder: false,
                            waitForImages: false,
                            useOwnImageLoader: false,
                            debug: true,
                            mobileFirst: true,
                            columns: 1,
                            margin: 30,
                            breakAt: {
                                1200: 5,
                                992: 5,
                                768: 4,
                                480: 3
                            }
                        });
                    });
                </script>
                {% endfor %}
            </div>
            {% endfor %}
        </main>
    </div>
</div>
{% endblock %}