{% extends "template.twig" %}
{% block htmlIncludes %}
<script src="{{ CONFIG.ASSETSURL }}js/macy.js"></script>
{% endblock %}
{% block htmlMeta %}
{% if edition.editions_thumbnail %}
    <meta property="og:image" content="{{ edition.editions_thumbnail|s3URL("large") }}" />
{% endif %}
<meta property="fb:app_id" content="471873819886891" />
<meta property="og:title" content="{{ edition.editions_name|raw }}">
<meta property="og:description" content="{{ edition.editions_excerpt|raw }}">
<meta property="og:type"   content="article" />
<meta property="article:content_tier"   content="free" />
<meta property="article:publisher" content="https://www.facebook.com/yorknouse" />
<meta property="og:url" content="{{ CONFIG.ROOTFRONTENDURL }}/edition/{{ edition.editions_slug }}" />
<link rel="canonical" href="{{ CONFIG.ROOTFRONTENDURL }}/edition/{{ edition.editions_slug }}" />
<meta property="article:published_time" content="{{ edition.editions_published|date("d M Y") }}" />
{% endblock %}
{% block prePageContent %}
    {% if edition.editions_pdf %}
    <div class="video-inner" style="margin-top: 0px;padding-bottom:10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% if edition.editions_thumbnail %}
                        <a href="{{ edition.editions_pdf|s3URL }}" target="_blank">
                            <img src="{{ edition.editions_thumbnail|s3URL("large") }}" style="width:100%;" alt="{{ edition.editions_name|raw }}">
                        </a>
                    {% else %}
                        <a href="{{ edition.editions_pdf|s3URL }}" target="_blank"><h4 style="color:white;">PDF Download</h4></a>
                    {% endif %}
                    <header class="details-header" style="margin-bottom:0;">
                        {% set pdfData = edition.editions_pdf|s3DATA %}
                        <div class="element-block" style="margin-bottom: 30px;margin-top:10px;">
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ edition.editions_published|date("j M Y") }}</span>
                                <span class="comment-link"><a href="{{ edition.editions_pdf|s3URL }}" target="_blank"><i class="fa fa-cloud-download" aria-hidden="true"></i> {{ pdfData.data.s3files_meta_size|formatsize }}</a></span>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if FEATUREDARTICLES %}
    <div class="news-masonry">
    <div class="height_30"></div>

        {# This is a bit of a custom masonary requested by the editor at the time - it doesn't work on mobile so there's a desktop one below #}
    <div class="container hidden-md hidden-lg">
        <div class="row">
            {% if FEATUREDARTICLES|length > 0 %}
            <div class="col-sm-12 col-xs-12 mas-m-b">
                <div class="mas-item mas-big" style="margin-bottom:0px;">
                    {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[0]} %}
                </div>
            </div>
            {% endif %}
            {# Its in an odd order to preserve aspect ratio#}
            {% if FEATUREDARTICLES|length > 2 %}
                <div class="col-xs-{{ FEATUREDARTICLES|length < 4 ? 12 : 6 }} mas-m-b" {{ FEATUREDARTICLES|length < 4 ? '' : 'style="padding-right:2px;"' }}>
                    <div class="mas-item masonry-sm">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[2]} %}
                    </div>
                </div>
                {% if FEATUREDARTICLES|length > 3 %}
                    <div class="col-xs-6  mas-m-b" style="padding-left:2px;">
                        <div class="mas-item masonry-sm">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[3]} %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if FEATUREDARTICLES|length > 1 %}
                <div class="col-sm-12 col-xs-12 mas-m-b">
                    <div class="mas-item masonry-sm">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[1]} %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if FEATUREDARTICLES|length > 4 %}
                <div class="col-sm-12 col-xs-12 mas-m-b">
                    <div class="mas-item mas-big" style="margin-bottom:0px;">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[4]} %}
                    </div>
                </div>
            {% endif %}
            {# Its in an odd order to preserve aspect ratio#}
            {% if FEATUREDARTICLES|length > 6 %}
                <div class="col-xs-{{ FEATUREDARTICLES|length < 8 ? 12 : 6 }} mas-m-b" {{ FEATUREDARTICLES|length < 8 ? '' : 'style="padding-right:2px;"' }}>
                    <div class="mas-item masonry-sm">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[6]} %}
                    </div>
                </div>
                {% if FEATUREDARTICLES|length > 7 %}
                    <div class="col-xs-6  mas-m-b" style="padding-left:2px;">
                        <div class="mas-item masonry-sm">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[7]} %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if FEATUREDARTICLES|length > 5 %}
                <div class="col-sm-12 col-xs-12 mas-m-b">
                    <div class="mas-item masonry-sm">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[5]} %}
                    </div>
                </div>
            {% endif %}
            {% if FEATUREDARTICLES|length > 8 %}
                <div class="col-xs-{{ FEATUREDARTICLES|length < 10 ? 12 : 6 }} mas-m-b" {{ FEATUREDARTICLES|length < 10 ? '' : 'style="padding-right:2px;"' }}>
                    <div class="mas-item masonry-sm">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[8]} %}
                    </div>
                </div>
                {% if FEATUREDARTICLES|length > 9 %}
                    <div class="col-xs-6  mas-m-b" style="padding-left:2px;">
                        <div class="mas-item masonry-sm">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[9]} %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="container hidden-sm hidden-xs">
        <div class="row mas-m">
            {% if FEATUREDARTICLES|length > 0 %}
            <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 2 ? "12" : "6" }} mas-p">
                <div class="mas-item{{ FEATUREDARTICLES|length < 3 ? ' masonry-sm' : ' mas-big' }} mas-m-b">
                    {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[0]} %}
                </div>
            </div>
            {% endif %}
            {% if FEATUREDARTICLES|length > 1 %}
            <div class="col-sm-12 col-md-6 mas-p">
                <div class="row mas-m">
                    <div class="col-lg-12 mas-p">
                        <div class="mas-item masonry-sm mas-m-b">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[1]} %}
                        </div>
                    </div>
                </div>
                {% if FEATUREDARTICLES|length > 2 %}
                <div class="row mas-m">
                    <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 4 ? 12 : 6 }} mas-p">
                        <div class="mas-item masonry-sm mas-m-b">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[2]} %}
                        </div>
                    </div>
                    {% if FEATUREDARTICLES|length > 3 %}
                    <div class="col-sm-12 col-md-6 mas-p">
                        <div class="mas-item masonry-sm mas-m-b">
                            {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[3]} %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="row mas-m">
            {% if FEATUREDARTICLES|length > 5 %}
                <div class="col-sm-12 col-md-6 mas-p">
                    <div class="row mas-m">
                        <div class="col-lg-12 mas-p">
                            <div class="mas-item masonry-sm mas-m-b">
                                {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[5]} %}
                            </div>
                        </div>
                    </div>
                    {% if FEATUREDARTICLES|length > 6 %}
                        <div class="row mas-m">
                            <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 8 ? 12 : 6 }} mas-p">
                                <div class="mas-item masonry-sm mas-m-b">
                                    {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[6]} %}
                                </div>
                            </div>
                            {% if FEATUREDARTICLES|length > 7 %}
                                <div class="col-sm-12 col-md-6 mas-p">
                                    <div class="mas-item masonry-sm mas-m-b">
                                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[7]} %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if FEATUREDARTICLES|length > 4 %}
                <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 6 ? "12" : "6" }} mas-p">
                    <div class="mas-item{{ FEATUREDARTICLES|length < 7 ? ' masonry-sm mas-m-b' : ' mas-big' }} mas-m-b">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[4]} %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row mas-m">
            {% if FEATUREDARTICLES|length > 8 %}
                <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 10 ? "12" : "6" }} mas-p">
                    <div class="mas-item{{ FEATUREDARTICLES|length < 11 ? ' masonry-sm' : ' mas-big' }}">
                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[8]} %}
                    </div>
                </div>
            {% endif %}
            {% if FEATUREDARTICLES|length > 9 %}
                <div class="col-sm-12 col-md-6 mas-p">
                    <div class="row mas-m">
                        <div class="col-lg-12 mas-p">
                            <div class="mas-item masonry-sm mas-m-b">
                                {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[9]} %}
                            </div>
                        </div>
                    </div>
                    {% if FEATUREDARTICLES|length > 10 %}
                        <div class="row mas-m">
                            <div class="col-sm-12 col-md-{{ FEATUREDARTICLES|length < 12 ? 12 : 6 }} mas-p">
                                <div class="mas-item masonry-sm">
                                    {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[10]} %}
                                </div>
                            </div>
                            {% if FEATUREDARTICLES|length > 11 %}
                                <div class="col-sm-12 col-md-6 mas-p">
                                    <div class="mas-item masonry-sm">
                                        {% include 'elements/masonryArticle.twig' with {'article':FEATUREDARTICLES[11]} %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">

    <div class="row">
        <main class="col-lg-12 content">
            {% for category in CATEGORIESARTICLES if category.articles|length > 0 %}
            <div class="title-holder">
                <h3 class="title">{{ category.categories_displayName }}</h3>
                <span class="title-shape title-shape-dark"></span>
            </div>
            <!--<h3 class="widget-title">Latest Articles</h3>-->
            <div class="grid-content latest_articles articlecategorygrid{{ category.categories_name }}">
                {% for article in category.articles %}
                <article class="grid_post">
                    <figure>
                        {% if article.articles_id|articleThumbnail %}
                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}" class="grid_image">
                            <img src="{{ article.articles_id|articleThumbnail }}" class="img-responsive" alt="{{ article.articlesDrafts_headline }}">
                        </a>
                        {% endif %}
                        <figcaption>
                            <div class="post-cat">
                                {% if article.articles_authors %}
                                    <span>By</span>
                                    {% for author in article.articles_authors %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}">{{ author.users_name1 ~ ' ' ~ author.users_name2 }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <h4 class="grid_post_title">
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a>
                            </h4>
                            {% if article.articlesDrafts_excerpt != null %}
                            <div class="entry-meta">
                                <span class="entry-date">{{ article.articlesDrafts_excerpt|raw }}</span>
                            </div>
                            {% endif %}
                        </figcaption>
                    </figure>
                </article>
                <script>
                    $( document ).ready(function() {
                        new Macy({
                            container: '.articlecategorygrid{{ category.categories_name }}',
                            trueOrder: false,
                            waitForImages: false,
                            useOwnImageLoader: false,
                            debug: true,
                            mobileFirst: true,
                            columns: 1,
                            margin: 30,
                            breakAt: {
                                1200: 5,
                                992: 5,
                                768: 4,
                                480: 3
                            }
                        });
                    });
                </script>
                {% endfor %}
            </div>
            {% endfor %}
        </main>
    </div>
</div>
{% endblock %}