{% extends "template.twig" %}
{% block htmlIncludes %}
<script src="{{ CONFIG.ASSETSURL }}js/macy.js"></script>
<script src="{{ CONFIG.ASSETSURL }}owl-carousel/owl.carousel.min.js"></script>
<script>

    $( document ).ready(function() {
        $(".masonry-slide1").owlCarousel({
            autoPlay: 4000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide2").owlCarousel({
            autoPlay: 4500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide3").owlCarousel({
            autoPlay: 5000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide4").owlCarousel({
            autoPlay: 5500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        var owl = $("#newsTicker");
        owl.owlCarousel({
            autoPlay: 5000, //Set AutoPlay to 5 seconds
            singleItem: true,
            transitionStyle: "goDown",
            pagination: false,
            navigation: true,
            navigationText: [
                "<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ]
        });

        var masonry = new Macy({
            container: '#macy-container',
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: 2,
            breakAt: {
                1200: 2,
                992: 3,
                768: 2,
                480: 1
            }
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="container">

    <div class="row">
        <main class="col-sm-8 col-md-8 content">
            <div class="category-holder style1">
                <div class="title-holder2">
                    <h3>Technology</h3>
                    <div class="title-alignright">
                        <ul class="title-filter">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">Foods</a></li>
                            <li><a href="#">Life Style</a></li>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Technology</a></li>
                        </ul>
                    </div>
                </div>
                <!--  /.End of title -->
                <div class="row">
                    <div class="col-sm-6">
                        <article class="grid_post">
                            <figure>
                                <a href="#" class="grid_image"><img src="{{ CONFIG.ASSETSURL }}img/400x280-24.jpg" class="img-responsive" alt=""></a>
                                <figcaption>
                                    <!--<div class="post-cat"><a href="#">Fashion</a></div>-->
                                    <div class="entry-meta">
                                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                    </div>
                                    <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                                    <!-- /.Post button -->
                                </figcaption>
                            </figure>
                        </article>
                        <!-- /.End of grid post -->
                    </div>
                    <div class="col-sm-6">
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-4.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">Vestibulum <em>quis ex euismod</em>, tristique diam.</a></h6>
                                <div class="entry-meta">
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-5.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">Etiam vitae augue quis <em>mauris lacinia</em> efficitur.</a></h6>
                                <div class="entry-meta">
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-6.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">In molestie ex id urna, sed posuere <em>metus tristique</em>.</a></h6>
                                <div class="entry-meta">
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-7.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">Praesent et eros consectetur, <em>tristique mauris</em>.</a></h6>
                                <div class="entry-meta">
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-8.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">Sed eget ante volutpat, consequat libero ut, viverra.</a></h6>
                                <div class="entry-meta">
                                    <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="macy-container" class="grid-masonry">
                <article class="grid_post card-post">
                    <figure>
                        <a href="#" class="grid_image">
                            <img src="{{ CONFIG.ASSETSURL }}img/950x1312-2.jpg" class="img-responsive" alt="">
                        </a>
                        <figcaption>
                            <div class="post-cat"><a href="#">Fashion</a></div>
                            <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum</a></h4>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="grid_post card-post">
                    <figure>
                        <a href="#" class="grid_image">
                            <img src="{{ CONFIG.ASSETSURL }}img/950x654-3.jpg" class="img-responsive" alt="">
                        </a>
                        <figcaption>
                            <div class="post-cat"><a href="#">Foods</a></div>
                            <h4 class="grid_post_title"><a href="#">Aenean consectetur justo et finibus ornare.</a></h4>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="grid_post card-post">
                    <figure>
                        <a href="#" class="grid_image">
                            <img src="{{ CONFIG.ASSETSURL }}img/950x654-4.jpg" class="img-responsive" alt="">
                        </a>
                        <figcaption>
                            <div class="post-cat"><a href="#">Travel</a></div>
                            <h4 class="grid_post_title"><a href="#">Pellentesque nec lectus nec ante laoreet ornare.</a></h4>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>


            <!--                                <div class="banner-content">
                                                            <img src="{{ CONFIG.ASSETSURL }}img/ad-728x90-1.png" class="img-responsive center-block" alt="">
                                                        </div>
                                                         /.End of banner content -->
            <div class="category-element-holder style2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="category-holder">
                            <div class="title-holder2"><h3>Travel</h3></div>
                            <!--  /.End of title -->
                            <article class="grid_post">
                                <figure>
                                    <a href="#" class="grid_image"><img src="{{ CONFIG.ASSETSURL }}img/400x280-9.jpg" class="img-responsive" alt=""></a>
                                    <figcaption>
                                        <!--<div class="post-cat"><a href="#">Fashion</a></div>-->
                                        <div class="entry-meta">
                                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                            <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                        </div>
                                        <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                                        <!-- /.Post button -->
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- /.End of grid post -->
                            <div class="media latest_post">
                                <a class="media-left" href="">
                                    <img src="{{ CONFIG.ASSETSURL }}img/100x70-4.jpg" class="media-object" alt="">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">Vestibulum <em>quis ex</em> euismod, tristique diam.</a></h6>
                                    <div class="entry-meta">
                                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="media latest_post">
                                <a class="media-left" href="">
                                    <img src="{{ CONFIG.ASSETSURL }}img/100x70-5.jpg" class="media-object" alt="">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">Etiam vitae augue quis <em>mauris lacinia</em> efficitur.</a></h6>
                                    <div class="entry-meta">
                                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="category-holder">
                            <div class="title-holder2"><h3>Entertainment</h3></div>
                            <!--  /.End of title -->
                            <article class="grid_post">
                                <figure>
                                    <a href="#" class="grid_image"><img src="{{ CONFIG.ASSETSURL }}img/400x280-25.jpg" class="img-responsive" alt=""></a>
                                    <figcaption>
                                        <div class="entry-meta">
                                            <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time></span>
                                            <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                        </div>
                                        <h4 class="grid_post_title"><a href="#">There are <em>many variations</em> of passages of Lorem Ipsum available</a></h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...</p>
                                        <!-- /.Post button -->
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- /.End of grid post -->
                            <div class="media latest_post">
                                <a class="media-left" href="">
                                    <img src="{{ CONFIG.ASSETSURL }}img/100x70-9.jpg" class="media-object" alt="">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">Vestibulum <em>quis ex</em> euismod, tristique diam.</a></h6>
                                    <div class="entry-meta">
                                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="media latest_post">
                                <a class="media-left" href="">
                                    <img src="{{ CONFIG.ASSETSURL }}img/100x70-10.jpg" class="media-object" alt="">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">Etiam vitae augue quis <em>mauris lacinia</em> efficitur.</a></h6>
                                    <div class="entry-meta">
                                        <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>9 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-sm-4 col-md-4 rightSidebar">
            <div class="social_share_btn style2 category-holder">
                <div class="title-holder2"><h3>Subscribe</h3></div>
                <!--  /.End of title -->
                <ul>
                    <li class="li-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i> 19,351 <span>fans</span></a></li>
                    <li class="li-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i> 921 <span>Followers</span></a></li>
                    <li class="li-google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i> 4,381 <span>Followers</span></a></li>
                    <li class="li-vimeo"><a href="#" target="_blank"><i class="fa fa-vimeo"></i> 45,221 <span>Subscribers</span></a></li>
                    <li class="li-pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i> 60 <span>Followers</span></a></li>
                    <li class="li-rss"><a href="#" target="_blank"><i class="fa fa-rss"></i> 90 <span>Subscribe</span></a></li>
                    <li class="li-instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i> 50,563 <span>Followers</span></a></li>
                    <li class="li-linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i> 77,59 <span>Followers</span></a></li>
                </ul>
            </div>
            <!-- /.End of subscribe -->
            <div class="tab-widget">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
                    <li><a href="#popular" data-toggle="tab">Popular</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="recent">
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-1.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-2.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">Donec ut urna nec nisl <em>placerat molestie</em>.</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-3.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">In tristique nulla eu <em>vestibulum</em> rutrum.</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-4.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                    </div>
                    <div class="tab-pane fade" id="popular">
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-5.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-6.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-7.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                        <div class="media latest_post">
                            <a class="media-left" href="">
                                <img src="{{ CONFIG.ASSETSURL }}img/100x70-8.jpg" class="media-object" alt="">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="#">The <em>Best Street-Style</em> Pics Copenhagen</a></h6>
                                <div class="entry-meta">
                                    <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time datetime="2018-01-21T19:00">Jan 21, 2018</time> </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of post -->
                    </div>
                </div>
            </div>
            <!-- /.End of tab widget -->
            <div class="banner-content category-holder">
                <img src="{{ CONFIG.ASSETSURL }}img/ad-300x250-1.png" class="img-responsive center-block" alt="">
            </div>
            <!-- /.End of banner content -->
            <div class="category_widget category-holder">
                <div class="title-holder2"><h3>Category</h3></div>
                <!--  /.End of title -->
                <ul class="cat_list">
                    <li><a href="#">Fashion <span>12</span></a></li>
                    <li><a href="#">LifeStyle <span>32</span></a></li>
                    <li><a href="#">Travel <span>21</span></a></li>
                    <li><a href="#">Kitchen <span>15</span></a></li>
                    <li><a href="#">Blog <span>23</span></a></li>
                    <li><a href="#">Fashion <span>16</span></a></li>
                    <li><a href="#">Fashion <span>41</span></a></li>
                </ul>
            </div>
            <div class="banner-content category-holder">
                <img src="{{ CONFIG.ASSETSURL }}img/ad-300x250-1.png" class="img-responsive center-block" alt="">
            </div>
            <!-- /.End of banner content -->
            <div class="tag_widget category-holder">
                <div class="title-holder2"><h3>Tags</h3></div>
                <!--  /.End of title -->
                <a href="#">WordPress</a>
                <a href="#">HTML</a>
                <a href="#">CSS</a>
                <a href="#">PHP</a>
                <a href="#">Fashion</a>
                <a href="#">News</a>
                <a href="#">Blog</a>
                <a href="#">Travel</a>
                <a href="#">Politics</a>
                <a href="#">Economy</a>
                <a href="#">Javascript</a>
            </div>
        </aside>
    </div>
    </div>
    <div class="height_20"></div>
{% endblock %}