{% extends "template.twig" %}
{% block htmlIncludes %}
<script src="{{ CONFIG.ASSETSURL }}js/macy.js"></script>
<script>
    var currentSectionID = null;
    $( document ).ready(function() {
        //Change colour of menu
        var $w = $(window).scroll(function(){
            if (false) {
                //Do nothing - this is just here so everything else can be an "else if"
            }
            {% for key,category in CATEGORIES|reverse if category.categories_showHome == 1 %}
            else if ( $w.scrollTop() > $("#category{{ category.categories_id }}Div" ).offset().top ) {
                if (currentSectionID != {{ category.categories_id }}) {
                    currentSectionID = {{ category.categories_id }};
                    $('#primaryNav').css({"background-color":"#{{ category.categories_backgroundColor }}","color": "#{{ category.categories_backgroundColorContrast }}"});
                }
            }
            {% endfor %}
            else if ( $w.scrollTop() < $("#categoryTopDiv").offset().top ) {
                if (currentSectionID != 0) {
                    //Back at the top so reset the header
                    currentSectionID = 0;
                    $('#primaryNav').css({"background-color":"white","color": "black"});
                }
            }
        });




        $(".masonry-slide1").owlCarousel({
            autoPlay: 4000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide2").owlCarousel({
            autoPlay: 4500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide3").owlCarousel({
            autoPlay: 5000, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        $(".masonry-slide4").owlCarousel({
            autoPlay: 5500, //Set AutoPlay
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
        var owl = $("#newsTicker");
        owl.owlCarousel({
            autoPlay: 5000, //Set AutoPlay to 5 seconds
            singleItem: true,
            transitionStyle: "goDown",
            pagination: false,
            navigation: true,
            navigationText: [
                "<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ]
        });
    });
</script>
{% endblock %}
{% block prePageContent %}
    <div class="container">
        <div class="newstricker_inner">
            <div class="trending"><strong>Trending</strong> Now</div>
            <div id="newsTicker" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                </div>
                <div class="item">
                    <a href="#">It is a long established fact that a reader will be distracted by the readable.</a>
                </div>
                <div class="item">
                    <a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text.</a>
                </div>
            </div>
        </div>
    </div>

    <div class="news-masonry">
    <div class="height_30"></div>
    <div class="container">
        <div class="row mas-m">
            {% if FEATUREDHOME|length > 0 %}
            <div class="col-sm-6 mas-p">
                <div class="mas-item mas-big">
                    {% if FEATUREDHOME[0].articles_id|articleThumbnail %}
                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[0].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[0].articles_slug }}"><figure><img src="{{ FEATUREDHOME[0].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[0].articlesDrafts_headline|raw }}"></figure></a>
                    {% endif %}
                    <div class="mas-text">
                        <div class="post-cat">
                            {% for category in FEATUREDHOME[0].CATEGORIES %}
                            <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                            {% if category.categories_backgroundColor != "" %}
                             style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                            {% endif %}>{{ category.categories_displayName }}</a>
                            {% endfor %}
                        </div>
                        <h2 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[0].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[0].articles_slug }}">{{ FEATUREDHOME[0].articlesDrafts_headline|raw }}</a></h2>
                        <div class="mas-details">
                            <p>{{ FEATUREDHOME[0].articlesDrafts_excerpt|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-sm-6 mas-p">
                {% if FEATUREDHOME|length > 1 %}
                <div class="row mas-m hidden-xs">
                    <div class="col-xs-12 col-sm-12 mas-p">
                        <div class="mas-item masonry-sm mas-m-b">
                            {% if FEATUREDHOME[1].articles_id|articleThumbnail %}
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[1].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[1].articles_slug }}"><figure><img src="{{ FEATUREDHOME[1].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[1].articlesDrafts_headline|raw }}"></figure></a>
                            {% endif %}
                            <div class="mas-text">
                                <div class="post-cat">{% for category in FEATUREDHOME[1].CATEGORIES %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                            {% if category.categories_backgroundColor != "" %}
                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                            {% endif %}>{{ category.categories_displayName }}</a>
                                    {% endfor %}</div>
                                <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[1].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[1].articles_slug }}">{{ FEATUREDHOME[1].articlesDrafts_headline|raw }}</a></h4>
                                <div class="mas-details">
                                    <p>{{ FEATUREDHOME[1].articlesDrafts_excerpt|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row mas-m">
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide1 owl-carousel owl-theme">
                            {% if FEATUREDHOME|length > 2 %}
                            <div class="item">
                                <div class="mas-item masonry-sm">
                                    {% if FEATUREDHOME[2].articles_id|articleThumbnail %}
                                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[2].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[2].articles_slug }}"><figure><img src="{{ FEATUREDHOME[2].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[2].articlesDrafts_headline|raw }}"></figure></a>
                                    {% endif %}
                                    <div class="mas-text">
                                        <div class="post-cat">{% for category in FEATUREDHOME[2].CATEGORIES %}
                                                <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                        {% if category.categories_backgroundColor != "" %}
                                                    style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                        {% endif %}>{{ category.categories_displayName }}</a>
                                            {% endfor %}</div>
                                        <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[2].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[2].articles_slug }}">{{ FEATUREDHOME[2].articlesDrafts_headline|raw }}</a></h4>
                                        <div class="mas-details">
                                            <p>{{ FEATUREDHOME[2].articlesDrafts_excerpt|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.End of masonry item -->
                            </div>
                            {% endif %}
                            {% if FEATUREDHOME|length > 3 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDHOME[3].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[3].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[3].articles_slug }}"><figure><img src="{{ FEATUREDHOME[3].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[3].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDHOME[3].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[3].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[3].articles_slug }}">{{ FEATUREDHOME[3].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDHOME[3].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 mas-p">
                        <div class="masonry-slide2 owl-carousel owl-theme">
                            {% if FEATUREDHOME|length > 4 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDHOME[4].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[4].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[4].articles_slug }}"><figure><img src="{{ FEATUREDHOME[4].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[4].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDHOME[4].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[4].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[4].articles_slug }}">{{ FEATUREDHOME[4].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDHOME[4].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                            {% if FEATUREDHOME|length > 5 %}
                                <div class="item">
                                    <div class="mas-item masonry-sm">
                                        {% if FEATUREDHOME[5].articles_id|articleThumbnail %}
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[5].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[5].articles_slug }}"><figure><img src="{{ FEATUREDHOME[5].articles_id|articleThumbnail }}" class="img-responsive" alt="{{ FEATUREDHOME[5].articlesDrafts_headline|raw }}"></figure></a>
                                        {% endif %}
                                        <div class="mas-text">
                                            <div class="post-cat">{% for category in FEATUREDHOME[5].CATEGORIES %}
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                                            {% if category.categories_backgroundColor != "" %}
                                                        style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                                            {% endif %}>{{ category.categories_displayName }}</a>
                                                {% endfor %}</div>
                                            <h4 class="mas-title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ FEATUREDHOME[5].articles_published|date("Y/m/d") }}/{{ FEATUREDHOME[5].articles_slug }}">{{ FEATUREDHOME[5].articlesDrafts_headline|raw }}</a></h4>
                                            <div class="mas-details">
                                                <p>{{ FEATUREDHOME[5].articlesDrafts_excerpt|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.End of masonry item -->
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
    <div class="container">

    <div class="row">
        <main class="col-sm-8 col-md-8 content" id="categoryTopDiv">
            {% for category in CATEGORIES if category.categories_showHome == 1 %}
            <div class="category-holder style1" id="category{{ category.categories_id }}Div">
                <div class="title-holder2" style="--backgroundColorCustom: #{{ category.categories_backgroundColor }};">
                    <h3>{{ category.categories_displayName }}</h3>
                    <div class="title-alignright">
                        <ul class="title-filter">
                            {% for subCategory in category.SUB if subCategory.categories_showHome == 1 %}
                            <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}/{{ subCategory.categories_name }}">{{ subCategory.categories_displayName }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--  /.End of title -->
                <div class="row">
                    <div class="col-sm-6">
                        {% if category.FEATUREDARTICLES|length > 0 %}
                        <article class="grid_post">
                            <figure>
                                {% if category.FEATUREDARTICLES[0].articles_id|articleThumbnail %}
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.FEATUREDARTICLES[0].articles_published|date("Y/m/d") }}/{{ category.FEATUREDARTICLES[0].articles_slug }}" class="grid_image">
                                    <img src="{{ category.FEATUREDARTICLES[0].articles_id|articleThumbnail }}" class="img-responsive" alt="">
                                </a>
                                {% endif %}
                                <figcaption>
                                    <!--<div class="post-cat"><a href="#">Fashion</a></div>-->
                                    <div class="entry-meta">
                                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ category.FEATUREDARTICLES[0].articles_published|date("j M Y") }}</span>
                                    </div>
                                    <h4 class="grid_post_title"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.FEATUREDARTICLES[0].articles_published|date("Y/m/d") }}/{{ category.FEATUREDARTICLES[0].articles_slug }}">{{ category.FEATUREDARTICLES[0].articlesDrafts_headline|raw }}</a></h4>
                                    <p>{{ category.FEATUREDARTICLES[0].articlesDrafts_excerpt|raw }}</p>
                                    <!-- /.Post button -->
                                </figcaption>
                            </figure>
                        </article>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {% for key,article in category.FEATUREDARTICLES %}
                            {% if key > 0 %}{# Skip the first one as it's worked with above #}
                            <div class="media latest_post">
                                {% if article.articles_id|articleThumbnail %}
                                <a class="media-left" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                    <img src="{{ article.articles_id|articleThumbnail }}" class="media-object" alt="">
                                </a>
                                {% endif %}
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline|raw }}</a></h6>
                                    <div class="entry-meta">
                                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("j M Y") }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </main>
        <aside class="col-sm-4 col-md-4 rightSidebar">
            <div class="tab-widget">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#leftContentTabPanelRead" data-toggle="tab">Popular now</a></li>
                    <li><a href="#rightContentTabPanelRead" data-toggle="tab">All time most read</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="leftContentTabPanelRead">
                        {% for article in weeklyMostRead %}
                            <div class="media latest_post">
                                {% if article.articles_id|articleThumbnail %}
                                    <a class="media-left" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                        <img src="{{ article.articles_id|articleThumbnail }}" class="media-object" alt="">
                                    </a>
                                {% endif %}
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline|raw }}</a></h6>
                                    <div class="entry-meta">
                                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("l j M Y") }}</span>
                                        <span class="comment-link"></span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="rightContentTabPanelRead">
                        {% for article in allTimeMostRead %}
                            <div class="media latest_post">
                                {% if article.articles_id|articleThumbnail %}
                                    <a class="media-left" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                        <img src="{{ article.articles_id|articleThumbnail }}" class="media-object" alt="">
                                    </a>
                                {% endif %}
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline|raw }}</a></h6>
                                    <div class="entry-meta">
                                        <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("j M Y") }}</span>
                                        <span class="comment-link">{{ article.articles_lifetimeViews|number_format }} reads</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /.End of tab widget -->
            <div class="banner-content category-holder" style="overflow: hidden;padding: 0px;">
               <!--<img src="{{ CONFIG.ASSETSURL }}img/ad-300x250-1.png" class="img-responsive center-block" alt="">-->
                <!-- bCMS Homepage Right Panel -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:336px;height:280px"
                     data-ad-client="ca-pub-3272125391697294"
                     data-ad-slot="8068090343"></ins>
            </div>

        </aside>
    </div>
    </div>
    <div class="height_20"></div>
{% endblock %}