{% extends "template.twig" %}
{% block htmlIncludes %}
    <script src='https://www.google.com/recaptcha/api.js?render={{ CONFIG.RECAPTCHA.KEY }}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />

    <script>
        $(document).ready(function () {
            var sync1 = $("#sync1");
            var sync2 = $("#sync2");
            sync1.owlCarousel({
                singleItem: true,
                slideSpeed: 1000,
                navigation: false,
                pagination: false,
                afterAction: syncPosition,
                responsiveRefreshRate: 200
            });
            sync2.owlCarousel({
                items: 5,
                itemsDesktop: [1199, 5],
                itemsDesktopSmall: [979, 5],
                itemsTablet: [768, 5],
                itemsMobile: [479, 4],
                pagination: false,
                responsiveRefreshRate: 100,
                afterInit: function (el) {
                    el.find(".owl-item").eq(0).addClass("synced");
                }
            });
            function syncPosition(el) {
                var current = this.currentItem;
                $("#sync2")
                    .find(".owl-item")
                    .removeClass("synced")
                    .eq(current)
                    .addClass("synced");
                if ($("#sync2").data("owlCarousel") !== undefined) {
                    center(current);
                }
            }
            $("#sync2").on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).data("owlItem");
                sync1.trigger("owl.goTo", number);
            });
            function center(number) {
                var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
                var num = number;
                var found = false;
                for (var i in sync2visible) {
                    if (num === sync2visible[i]) {
                        var found = true;
                    }
                }

                if (found === false) {
                    if (num > sync2visible[sync2visible.length - 1]) {
                        sync2.trigger("owl.goTo", num - sync2visible.length + 2);
                    } else {
                        if (num - 1 === -1) {
                            num = 0;
                        }
                        sync2.trigger("owl.goTo", num);
                    }
                } else if (num === sync2visible[sync2visible.length - 1]) {
                    sync2.trigger("owl.goTo", sync2visible[1]);
                } else if (num === sync2visible[0]) {
                    sync2.trigger("owl.goTo", num - 1);
                }
            }
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                }
            });
        });
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
{% block htmlMeta %}
    {% if POST.articles_id|articleThumbnail != null %}
        <meta property="og:image" content="{{ POST.articles_id|articleThumbnail('large',(POST['SOCIAL-OVERLAY'] ? POST['SOCIAL-OVERLAY'] : null))|replace({" ":"%20"})|raw }}" />
    {% endif %}
    <meta property="fb:app_id" content="471873819886891" />
    <meta property="og:title" content="{{ POST.articlesDrafts_headline|raw }}">
    <meta property="og:description" content="{{ POST.articlesDrafts_excerpt|raw }}">
    <meta property="og:type"   content="article" />
    <meta property="article:content_tier"   content="free" />
    <meta property="article:publisher" content="https://www.facebook.com/yorknouse" />
    <meta property="og:url" content="{{ CONFIG.ROOTFRONTENDURL }}/{{ POST.articles_published|date("Y/m/d") }}/{{ POST.articles_slug }}" />
    <link rel="canonical" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ POST.articles_published|date("Y/m/d") }}/{{ POST.articles_slug }}" />
    {% for category in POST.CATEGORIES if category.categories_nestUnder == null %}
    <meta property="article:section" content="{{  category.categories_displayName }}" />
    {% endfor %}
    {% for author in POST.articles_authors if author.users_social_facebook != null %}
    <meta property="article:author"   content="https://facebook.com/{{ author.users_social_facebook }}" />
    {% endfor %}
    <meta property="article:published_time" content="{{ POST.articles_published|date("d M Y") }}" />

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ CONFIG.ROOTFRONTENDURL }}/{{ POST.articles_published|date("Y/m/d") }}/{{ POST.articles_slug }}"
            },
            "headline": "{{ POST.articlesDrafts_headline|raw }}",
            {% if POST.articles_id|articleThumbnail != null %}
            "image": [
                "{{ POST.articles_id|articleThumbnail('large',(POST['SOCIAL-OVERLAY'] ? POST['SOCIAL-OVERLAY'] : null))|replace({" ":"%20"})|raw }}"
            ],
            {% endif %}
            "datePublished": "{{ POST.articles_published|date("c") }}",
            "author": {
                "@type": "Organization",
                "name": "Nouse"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Nouse",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.png"
                }
            },
            "description": "{{ POST.articlesDrafts_excerpt|raw }}"
        }
    </script>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yorknouse">
    <meta name="twitter:title" content="{{ POST.articlesDrafts_headline|raw }}">
    <meta name="twitter:description" content="{{ POST.articlesDrafts_excerpt|raw }}">
    <meta name="twitter:image" content="{{ POST.articles_id|articleThumbnail('large',(POST['SOCIAL-OVERLAY'] ? POST['SOCIAL-OVERLAY'] : null))|replace({" ":"%20"})|raw }}">

    <meta name="google-signin-client_id"
          content="{{ CONFIG["GOOGLE"]["AUTH"]["CLIENT"] }}">
{% endblock %}

{% block prePageContent %}
    {% if POST.articles_type == 5 %}
    <div class="video-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <header class="details-header">
                        <h2>Print edition from {{ POST.articlesDrafts_headline|raw }}</h2>
                    </header>
                    <div class='embed-container' style="height: 820px;">
                        <iframe src="{{ POST.articlesDrafts_text }}" style="width:100%;height:800px;" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                    <!-- /.End of HTML5 video -->
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
{#
    Article Types
            {
                text: 'Text Article',
                value: 6,
            },
            {
                text: 'Gallery',
                value: '2',
            },
            {
                text: 'Video article',
                value: '3'
            },
            {
                text: 'LiveBlog Pro article',
                value: '4',
            },
            {
                text: "Print Edition",
                value: '5',
            },
            {
                text: 'HTML article',
                value: '1',
                group: 'Legacy',
            }
#}
{% block content %}
    <div class="container">
    <div class="row">
        <main class="
            {% if POST.articles_type == 2 %} {#gallery#}
            col-sm-12
             {% else %}
             col-sm-8 col-md-9
             {% endif %}content p_r_40">

            {% if POST.articles_type != 5 %} {#details at top of article#}
            <div class="details-body">
                <div class="post_details stickydetails">
                    <header class="details-header">
                        <div class="post-cat">
                            {% for category in POST.CATEGORIES %}
                                <a href="{{ CONFIG.ROOTFRONTENDURL ~ "/" ~ category.categories_id|getCategoryURL }}"
                                        {% if category.categories_backgroundColor != "" %}
                                    style="background-color: #{{ category.categories_backgroundColor }} !important; color: #{{ category.categories_backgroundColorContrast }} !important;"
                                        {% endif %}>{{ category.categories_displayName }}</a>
                            {% endfor %}
                        </div>
                        <h2>{{ POST.articlesDrafts_headline|raw }}</h2>
                        {% if POST.articlesDrafts_excerpt|length > 0 %}
                        <h4>{{ POST.articlesDrafts_excerpt|raw }}</h4>
                        {% endif %}
                        <div class="element-block">
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ POST.articles_published|date("l j M Y") }}</span>
                                {% if POST.COMMENTCOUNT > 0 %}
                                <span class="comment-link"><a href="#comments"><i class="fa fa-comment-o" aria-hidden="true"></i>{{ POST.COMMENTCOUNT }} Comment{{ POST.COMMENTCOUNT != 1 ? "s" : "" }}</a></span>
                                {% endif %}
                                {% for author in POST.articles_authors %}
                                    <span class="comment-link"><a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}" style="color: #002646;">{{ author.users_name1 }} {{ author.users_name2 }}</a></span>
                                {% endfor %}
                            </div>
                            <!--<div class="reading-time"><span class="eta"></span> ({{ POST.articlesDrafts_text|split(' ')|length }} words)</div>-->
                        </div>
                    </header>
                    {% if POST.articles_archiveFallback %}
                    <div class="alert alert-warning">
                        <strong>Archive</strong> This article is from our archive and might not display correctly. <a href="{{ CONFIG.FILESTOREURL }}/nouseArticlePDFArchive/archive/public/articles/{{ POST.articles_archiveFallback }}">Download PDF</a>
                    </div>
                    {% endif %}

                    {% if POST.articles_type == 1 %}
                    <style>
                        .legacyWordpressFigure {
                            padding: 8px;
                            text-align: right;
                        }
                        .legacyWordpressFigureImage {
                            padding: 0;
                            float:left;
                            width: 100%;
                        }
                        .legacyWordpressImage {
                            float:left;
                            padding: 10px;
                        }
                        .articleBodyDiv > iframe {
                            max-width: 100%; /*Make legacy issue embedds fit*/
                        }
                        figure {
                            max-width: 100%;
                        }
                        img {
                            max-width: 100%;
                        }
                    </style>
                    <div class="articleBodyDiv" style="font-size: 17px;line-height: 25px;">
                    {{ POST.articlesDrafts_text|replace({"PS": "&pound;", "\n": "<br/>", "[ARCHIVECDNURL]":CONFIG.ARCHIVEFILESTOREURL})|raw }}
                    </div>
                    {% elseif POST.articles_type == 2 %}
                    <div class="gallery_post popup-gallery">
                        <div id="sync1" class="owl-carousel">
                            {% for image in POST.galleryImages %}
                            <div class="item">
                                <div class="gallery_grid">
                                    <figure class="effect-lily">
                                        <a href="{{ image.url }}" class="gallery_img" title="{{ image.data.s3files_meta_caption }}">
                                            <div class="full_skin"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
                                            <img src="{{ image.url }}" class="img-responsive" alt="{{ image.data.s3files_meta_caption }}">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="sync2" class="owl-carousel">
                            {% for image in POST.galleryImages %}
                            <div class="item">
                                <img src="{{ image.url }}" class="img-responsive" alt="{{ image.data.s3files_meta_caption }}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% elseif POST.articles_type == 6 %}
                        <style>
                            #articleText img {
                                width: 100%;
                            }
                            #articleText {
                                width: 100%;
                            }
                        </style>
                        {% if POST.articles_id|articleThumbnail != null and POST.articlesDrafts_thumbnailCredit != null %}
                            <img src="{{ POST.articles_id|articleThumbnail }}" style="width: 100%;" alt="Article Thumbnail">
                            <div style="width: 100%; text-align: right;"><p>Image Credit: {{ POST.articlesDrafts_thumbnailCredit|raw }}</p></div>
                        {% endif %}
                        <div id="articleText">
                            {{ POST.articlesDrafts_text|raw }}
                        </div>
                    {% elseif POST.articles_type == 4 %}
                        {{ POST.articlesDrafts_text|raw }}
                    {% endif %}
                </div>
                <!-- /.End of post details -->
                <div class="stickyshare hidden-xs">
                    <aside class="share_article">
                        <a href="#" class="boxed_icon facebook" data-share-url="{{ CONFIG.ROOTFRONTENDURL }}/{{ POST.articles_published|date("Y/m/d") }}/{{ POST.articles_slug }}" data-share-network="facebook" data-share-text="{{ POST.articlesDrafts_headline }}" data-share-title="Facebook Share"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="boxed_icon twitter" data-share-url="{{ CONFIG.ROOTFRONTENDURL }}/{{ POST.articles_published|date("Y/m/d") }}/{{ POST.articles_slug }}" data-share-network="twitter" data-share-text="{{ POST.articlesDrafts_headline }}" data-share-title="Twitter Share" data-share-via="yorknouse"><i class="fa fa-twitter"></i></a>
                        {% if POST.COMMENTCOUNT > 0 %}
                        <a href="#comments" class="boxed_icon comment"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="14" height="14" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve"><path d="M3.6 14c0 0-0.1 0-0.1 0 -0.1-0.1-0.2-0.2-0.2-0.3v-2.7h-2.9C0.2 11 0 10.8 0 10.6V0.4C0 0.2 0.2 0 0.4 0h13.3C13.8 0 14 0.2 14 0.4v10.2c0 0.2-0.2 0.4-0.4 0.4H6.9L3.9 13.9C3.8 14 3.7 14 3.6 14zM0.7 10.2h2.9c0.2 0 0.4 0.2 0.4 0.4v2.2l2.5-2.4c0.1-0.1 0.2-0.1 0.2-0.1h6.6v-9.5H0.7V10.2z"></path></svg><span>{{ POST.COMMENTCOUNT }}</span></a>
                        {% endif %}
                    </aside>
                </div>
                <!-- /End of share icon -->

            </div>
            <!-- /.End of details body -->
            {% endif %}
            <aside class="about-author">
                {% if POST.articles_authors|length > 0 %}
                <h3>About The Author{{ POST.articles_authors|length != 1 ? "s" : "" }}</h3>
                {% endif %}


                {% for author in POST.articles_authors %}
                <div class="author-bio">
                        {% if author.IMAGE %}
                            <div class="author-img">
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}"><img alt="{{ author.users_name1 }} {{ author.users_name2 }}" src="{{ author.IMAGE }}" class="avatar img-responsive"></a>
                            </div>
                        {% endif %}

                        <div class="author-info">
                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{ author.users_userid }}"><h4 class="author-name">{{ author.users_name1 }} {{ author.users_name2 }}</h4></a>
                        {% for position in author.POSITIONS %}
                            <b>{{ (position.userPositions_displayName == null ? position.positions_displayName : position.userPositions_displayName) }}</b> (
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            {% if date(position.userPositions_end) > date() %}
                                Since {{ position.userPositions_start|date("M Y") }}
                            {% else %}
                                {{ position.userPositions_start|date("M Y") }}   to {{ position.userPositions_end|date("M Y") }}
                            {% endif %}
                            )<br/>
                        {% endfor %}
                        <p>{{ author.users_bio|replace({"\n":"<br/>"}) }}</p>

                        <p>
                        {% if author.users_social_facebook != null %}
                            <a href="https://facebook.com/{{ author.users_social_facebook }}" class="social-link facebook" style="margin: 5px;"><i class="fa fa-facebook"></i></a>
                        {% endif %}
                        {% if author.users_social_instagram != null %}
                            <a href="https://instagram.com/{{ author.users_social_instagram }}" class="social-link instagram" style="margin: 5px;"><i class="fa fa-instagram"></i></a>
                        {% endif %}
                        {% if author.users_social_twitter != null %}
                            <a href="https://twitter.com/{{ author.users_social_twitter }}" class="social-link twitter" style="margin: 5px;"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                        {% if author.users_social_snapchat != null %}
                            <a href="https://snapchat.com/add/{{ author.users_social_snpachat }}" class="social-link" style="margin: 5px;"><i class="fa fa-snapchat"></i></a>
                        {% endif %}
                        {% if author.users_social_linkedin != null %}
                            <a href="https://www.linkedin.com/in/{{ author.users_social_linkedin }}" class="social-link" style="margin: 5px;"><i class="fa fa-linkedin"></i></a>
                        {% endif %}
                        </p>
                    </div>
                </div>
                    {% endfor %}

                <!-- /.End of author bio -->
            </aside>
            <!-- End of article -->

            <ins class="adsbygoogle"
                 style="display:block; margin-bottom: 20px;"
                 data-ad-client="ca-pub-7908211756267459"
                 data-ad-slot="4589396792"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>

            <!-- /.End of about author -->
            {% if POST.articles_type != 5 %}
            <div class="post_related">
                <h3 class="related_post_title">You Might Also Like...</h3>
                <div class="row">
                    {% for article in pageConfig.SIMILAR %}
                        <div class="col-sm-4">
                            <article class="post_article item_related">
                                {% if article.articles_id|articleThumbnail != null %}
                                    <a class="post_img" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                    <figure>
                                        <img class="img-responsive" src="{{ article.articles_id|articleThumbnail }}" alt="">
                                    </figure>
                                </a>
                                {% endif %}
                                <h4><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a></h4>
                            </article>
                            <!-- /.End of related post -->
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- /.End of  related post -->
            <style>
                .reportComment, .replyComment {
                    margin-left: 10px;
                }
            </style>
            {% if POST.COMMENTS|length > 0 %}
            <div class="comments" id="comments">
                <h3 class="comment_title">{{ POST.COMMENTCOUNT }} Comment{{ POST.COMMENTCOUNT|length != 1 ? "s" : "" }}</h3>
                {% for comment in POST.COMMENTS %}
                <div class="media">
                   <div class="media-body">
                        <h4 class="media-heading">{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : '<em>Anonymous</em>')|raw }} <small>Posted on {{ comments.comments_created|date("l j M Y") }}</small></h4>
                        <p>{{ comment.comments_text|replace({"\n": "<br/>"})|raw }}</p>
                       <button data-commentid="{{ comment.comments_id }}" class="upvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-up"></i> <span>{{ comment.comments_upvotes }}</span></button>
                       <button data-commentid="{{ comment.comments_id }}" class="downvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-down"></i> <span>{{ comment.comments_downvotes }}</span></button>
                       <a href="#makeComment" data-commentid="{{ comment.comments_id }}" data-commentname="{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : 'Anonymous')|raw }}"  class="replyComment btn link-btn btn-rounded"><i class="fa fa-reply"></i> Reply</a>
                       <button data-commentid="{{ comment.comments_id }}" class="reportComment btn link-btn btn-rounded btn-outline "><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report</button>
                        {% for comment in comment.SUB %}
                            <div class="media" style="margin-left: 40px;">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : '<em>Anonymous</em>')|raw }} <small>Posted on {{ comments.comments_created|date("l j M Y") }}</small></h4>
                                    <p>{{ comment.comments_text|replace({"\n": "<br/>"})|raw }}</p>
                                    <button data-commentid="{{ comment.comments_id }}" class="upvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-up"></i> <span>{{ comment.comments_upvotes }}</span></button>
                                    <button data-commentid="{{ comment.comments_id }}" class="downvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-down"></i> <span>{{ comment.comments_downvotes }}</span></button>
                                    <a href="#makeComment" data-commentid="{{ comment.comments_id }}" data-commentname="{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : 'Anonymous')|raw }}"  class="replyComment btn link-btn btn-rounded"><i class="fa fa-reply"></i> Reply</a>
                                    <button data-commentid="{{ comment.comments_id }}" class="reportComment btn link-btn btn-rounded"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report</button>
                                    {% for comment in comment.SUB %}
                                        <div class="media" style="margin-left: 40px;">
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : '<em>Anonymous</em>')|raw }} <small>Posted on {{ comments.comments_created|date("l j M Y") }}</small></h4>
                                                <p>{{ comment.comments_text|replace({"\n": "<br/>"})|raw }}</p>
                                                <button data-commentid="{{ comment.comments_id }}" class="upvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-up"></i> <span>{{ comment.comments_upvotes }}</span></button>
                                                <button data-commentid="{{ comment.comments_id }}" class="downvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-down"></i> <span>{{ comment.comments_downvotes }}</span></button>
                                                <button data-commentid="{{ comment.comments_id }}" class="reportComment btn link-btn btn-rounded"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report</button>
                                                {% for comment in comment.SUB %}
                                                    <div class="media" style="margin-left: 40px;">
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{ (comment.comments_authorName|length > 0 ? comment.comments_authorName : '<em>Anonymous</em>')|raw }} <small>Posted on {{ comments.comments_created|date("l j M Y") }}</small></h4>
                                                            <p>{{ comment.comments_text|replace({"\n": "<br/>"})|raw }}</p>
                                                            <button data-commentid="{{ comment.comments_id }}" class="upvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-up"></i> <span>{{ comment.comments_upvotes }}</span></button>
                                                            <button data-commentid="{{ comment.comments_id }}" class="downvoteComment btn link-btn btn-rounded"><i class="fa fa-thumbs-down"></i> <span>{{ comment.comments_downvotes }}</span></button>
                                                            <button data-commentid="{{ comment.comments_id }}" class="reportComment btn link-btn btn-rounded"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report</button>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="comment_form">
                <h3 class="replay_title" id="makeComment">Leave a comment</h3>
                <div class="form-group">
                    <textarea class="form-control" id="commentText" rows="3" placeholder=""></textarea>
                </div>
                <!--<div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="commentName" type="text" placeholder="Anonymous">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-5">
                        <input class="form-control" id="commentEmail" type="text" placeholder="Anonymous">
                    </div>
                </div>
                 -->
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <button id="submitComment" style="display:none;" class="btn link-btn">Post Comment ⇾</button>
                <p style="margin-top:5px;margin-bottom:5px;">Your name from your Google account will be published alongside the comment, and your name, email address and IP address will be stored in our database to help us combat spam. Comments from outside the university require moderator approval to reduce spam, but Nouse accepts no responsibility for reviewing content comments on our site</p>
            </div>
            <!--Hide the badge on the basis we show more info to the user here-->
            <p><b>Disclaimer: </b>this page is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
            <style>
                .grecaptcha-badge {
                    display:none;
                }
            </style>
        </main>
        {% if POST.articles_type != 2 %}
        <aside class="col-sm-4 col-md-3 rightSidebar">
            <!--<div class="about-card">
                <div class="ui divider">About me</div>
                <figure>
                    <img src="{{ CONFIG.ASSETSURL }}img/about-avatar.jpg" class="img-responsive center-block" alt="">
                </figure>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <img src="{{ CONFIG.ASSETSURL }}img/signature.png" class="img-responsive center-block" alt="">
            </div>-->
            {#<div class="latest_post_widget">
                <div class="title-holder">
                    <h3 class="title">Most read</h3>
                    <span class="title-shape title-shape-dark"></span>
                </div>
                <!--  /.End of title -->

            </div>#}
            {% if POST.articles_appleNewsID != null and POST.articles_appleNewsShareLink != null %}
                <a target="_blank" href="{{ POST.articles_appleNewsShareLink }}"><img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/appleNews/US_UK_Apple_News_Badge_RGB_030619.svg" style="height: 40px; margin-bottom: 15px; margin-top:5px;" alt="Apple News badge" title="View on Apple News" /></a>
            {% endif %}
            <div class="latest_post_widget">
                <div class="title-holder">
                    <h3 class="title">Latest in {{ POST['CATEGORIES'][0].categories_displayName }}</h3>
                    <span class="title-shape title-shape-dark"></span>
                </div>
                {% for article in pageConfig.leftBar.LATEST %}
                    <div class="media latest_post">
                        {% if article.articles_id|articleThumbnail != null %}
                            <a class="media-left" href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">
                                <img src="{{ article.articles_id|articleThumbnail }}" class="media-object" alt="">
                            </a>
                        {% endif %}
                        <div class="media-body">
                            <h6 class="media-heading"><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ article.articles_published|date("Y/m/d") }}/{{ article.articles_slug }}">{{ article.articlesDrafts_headline }}</a></h6>
                            <div class="entry-meta">
                                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ article.articles_published|date("d/M/y") }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- /.latest post -->
            </div>
        </aside>
        {% endif %}
    </div>
</div>
    <script>
        var userData = {};
        var user = false;
        function onSignIn(googleUser) {
            user = true;
            var profile = googleUser.getBasicProfile();
            $("#submitComment").show();
            userData["name"] = profile.getName();
            userData["email"] = profile.getEmail();
            userData["token"] = googleUser.getAuthResponse().id_token;
        }


        var replyToComment = null; //Comment user is replying to
        $( document ).ready(function () {
            ajaxCall("readCounter.php", {"articleid": "{{ POST.articles_id }}"});
            $(".reportComment").click(function(){
                var dialog = bootbox.dialog({
                    title: 'Report Comment',
                    message: '<p>To report this comment as inappropriate please email <a href="mailto:web@nouse.co.uk">web@nouse.co.uk</a> quoting comment reference number ' + $(this).data("commentid") + "</p>",
                    buttons: {
                        ok: {
                            label: "Close",
                            className: 'btn-default'
                        }
                    },
                    backdrop: true
                });

            });
            grecaptcha.ready(function() {
                $(".upvoteComment").click(function(){
                    var commentid = $(this).data("commentid");
                    var updateCountID = $(this).find( "span" );
                    if ($(updateCountID).data("voted")) {
                        toastr["warning"]("Sorry you can't vote twice", "Can't vote again");
                    } else {
                        grecaptcha.execute('{{ CONFIG.RECAPTCHA.KEY }}', {action: 'voteCommentUP'}).then(function(token) {
                            ajaxCall("voteComment.php", {"recaptcha": token, "commentid": commentid, "type":"UP"}, function () {
                                toastr["success"]("", "Vote recorded");
                                $(updateCountID).html(parseInt($(updateCountID).html())+1);
                                $(updateCountID).data("voted",true);
                            }, function () {
                                toastr["error"]("Sorry we can't connect to Nouse to log your vote", "Can't connect");
                            });
                        });
                    }

                });
                $(".downvoteComment").click(function(){
                    var commentid = $(this).data("commentid");
                    var updateCountID = $(this).find( "span" );
                    if ($(updateCountID).data("voted")) {
                        toastr["warning"]("Sorry you can't vote twice", "Can't vote again");
                    } else {
                        grecaptcha.execute('{{ CONFIG.RECAPTCHA.KEY }}', {action: 'voteCommentDOWN'}).then(function (token) {
                            ajaxCall("voteComment.php", {
                                "recaptcha": token,
                                "commentid": commentid,
                                "type": "DOWN"
                            }, function () {
                                toastr["success"]("", "Vote recorded");
                                $(updateCountID).html(parseInt($(updateCountID).html()) + 1);
                                $(updateCountID).data("voted", true);
                            }, function () {
                                toastr["error"]("Sorry we can't connect to Nouse to log your vote", "Can't connect");
                            });
                        });
                    }
                });
                $(".replyComment").click(function(){
                    replyToComment = $(this).data("commentid");
                    $("#makeComment").html("Reply to a comment by " + $(this).data("commentname"));
                });
                $("#submitComment").click(function(){
                    if (user) {
                        if ($("#commentText").val().length > 0) {
                            grecaptcha.execute('{{ CONFIG.RECAPTCHA.KEY }}', {action: 'addComment'}).then(function(token) {
                                ajaxCall("addComment.php", {"articleid": "{{ POST.articles_id }}", "commentid": replyToComment,"recaptcha": token, "text":$("#commentText").val(), "token":userData["token"]}, function (result) {
                                    toastr.options.onHidden = function() {
                                        location.reload();
                                    }
                                    if (result.result) {
                                        toastr["success"]("", result.response.message);
                                    } else {
                                        toastr["error"]("", result.response.message);
                                    }
                                }, function (result) {
                                    console.log(result)
                                    toastr["error"]("Sorry we can't connect to Nouse to add your comment", "Can't connect");
                                });
                            });
                        } else {
                            toastr["warning"]("Please add a longer comment", "Comment too short");
                        }
                    } else {
                        toastr["warning"]("Please sign in to Google", "Sign in required");
                    }
                });
            });
        });
    </script>
{% endblock %}