<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% if pageConfig.TITLE != null %}
        {{ pageConfig.TITLE }} | Nouse
        {% else %}
            Nouse | Est 1964 | York University's oldest society and student newspaper
        {% endif %}
    </title>
    <link href="{{ CONFIG.ASSETSURL }}img/favicon.png" rel="icon">
    <link href="{{ CONFIG.ASSETSURL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/animsition.min.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}themify-icons/themify-icons.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/bootsnav.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/magnific-popup.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/fluidbox.min.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/style.css" rel="stylesheet">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/bootstrap.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/animsition.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/bootsnav.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/ResizeSensor.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/theia-sticky-sidebar.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.magnific-popup.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/modernizr.custom.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.gridrotator.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/parallax-background.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.simpleSocialShare.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.fluidbox.min.js"></script>
    <!--<script src="{{ CONFIG.ASSETSURL }}js/retina.min.js"></script>-->
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.shuffle.min.js"></script>
    <!--<script src="{{ CONFIG.ASSETSURL }}js/readingTime.min.js"></script>-->
    <script src="{{ CONFIG.ASSETSURL }}js/custom.js"></script>


    {% block htmlIncludes %}{% endblock %}

    <!--Icons (favicon apple touch etc.)-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/favicon-16x16.png">
    <link rel="manifest" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/site.webmanifest">
    <link rel="mask-icon" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{CONFIG.FILESTOREURL}}/site-assets/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Nouse">
    <meta name="application-name" content="Nouse">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{CONFIG.FILESTOREURL}}/site-assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% block htmlMeta %}
        <meta property="og:image" content="{{CONFIG.FILESTOREURL}}/site-assets/icons/apple-touch-icon.png">
        <meta property="og:title" content="Nouse">
        <meta property="og:description" content="Founded in 1964, making us the oldest society on campus, Nouse has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students’ Union.">
        <meta property="og:url" content="https://nouse.co.uk">
    {% endblock %}
</head>
<body class="news-layout2">
<div class="main-content animsition">
    <div class="page-outer-wrap">
        <div class="top-header dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="header-nav">
                            <ul>
                                <li><span class="headre-weather"><i class="fa fa-calendar-check-o"></i>&nbsp; {{ "now"|date("l, F j") }}</span></li>
                                <li><a href="{{ CONFIG.ROOTURL }}/pages/contact/">Contact</a></li>
                                <li><a href="{{ CONFIG.ROOTURL }}/pages/about/advertising.php">Advertise</a></li>
                                <li><a href="{{ CONFIG.ROOTURL }}/pages/about/">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <ul class="top-socia-share">
                            <li>
                                <a href="https://www.facebook.com/yorknouse"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/yorknouse"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/yorknouse/"><i class="fa fa-instagram"></i></a>
                                <a href="https://en.wikipedia.org/wiki/Nouse"><i class="fa fa-wikipedia-w"></i></a>
                            </li>
                            <li>
                                <a href="{{ CONFIG.ROOTURL }}">Editor Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End of top header -->
        <div class="logo-wrapper gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="header-logo" style="margin-top: 15px; width: 350px;">
                            <a href="{{ CONFIG.ROOTURL }}" class="logo-img">
                                <img src="{{CONFIG.FILESTOREURL}}/site-assets/logo/nouse-logo-full3.svg" alt="Nouse logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="header-banner">
                            <a href="{{ CONFIG.ROOTURL }}/pages/about/advertising.php"><img src="{{ CONFIG.ROOTURL }}/common/assets/adTemplates/728x90.jpg" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End of logo section -->
        <nav class="navbar navbar-mobile navbar-custom navbar-sticky menu-bar-bottom bootsnav">
            <div class="container">
                <div class="attr-nav">
                    <ul>
                        <li id="btn-search1"><a href="javascript:void(0)" id="btn-search2"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand"  style="margin-top: 15px;" href="{{ CONFIG.ROOTURL }}"><img src="{{CONFIG.FILESTOREURL}}/site-assets/logo/nouse-logo-full3.svg" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav" data-in="navFadeInDown" data-out="navFadeOutUp">
                        {% for category in CATEGORIES %}
                            {% if category.SUB|length < 1 or category.categories1_showSub != 1 %}
                            <li><a href="{{ CONFIG.ROOTURL }}/{{ category.categories1_name }}">{{ category.categories1_displayName }}</a></li>
                            {% else %}
                            <li class="dropdown active">
                                <a href="{{ CONFIG.ROOTURL }}/{{ category.categories1_name }}"  style="color: inherit;" class="dropdown-toggle">{{ category.categories1_displayName }}</a>
                                <ul class="dropdown-menu">
                                    {% for subCategory in category.SUB %}
                                        {% if subCategory.SUB|length < 1 %}
                                        <li><a href="{{ CONFIG.ROOTURL }}/{{ category.categories1_name }}/{{ subCategory.categories2_name }}">{{ subCategory.categories2_displayName }}</a></li>
                                        {% else %}
                                        <li class="dropdown">
                                            <a href="{{ CONFIG.ROOTURL }}/{{ category.categories1_name }}/{{ subCategory.categories2_name }}" class="dropdown-toggle">{{ subCategory.categories2_displayName }}</a>
                                            <ul class="dropdown-menu">
                                                {% for subSubCategory in subCategory.SUB %}
                                                <li><a href="{{ CONFIG.ROOTURL }}/{{ category.categories1_name }}/{{ subCategory.categories2_name }}/{{ subSubCategory.categories3_name }}">{{ subSubCategory.categories3_displayName }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}

                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="clearfix"></div>
        <!-- /.End of navigation -->
        <div class="search">
            <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"> <i class="ti-close"></i></button>
            <form class="search__form" action="javascript:void(0)" method="post">
                <input class="search__input" name="search" type="search" placeholder="Search and hit enter..."/>
                <span class="search__info">Hit enter to search or ESC to close</span>
            </form>
            <div class="search__related">
                <!--<div class="search__suggestion">
                    <h3>May We Suggest?</h3>
                    <p>#drone #funny #catgif #broken #lost #hilarious #good #red #blue #nono #why #yes #yesyes #aliens #green</p>
                </div>
                <div class="search__suggestion">
                    <h3>Is It This?</h3>
                    <p>#good #red #hilarious #blue #nono #why #yes #yesyes #aliens #green #drone #funny #catgif #broken #lost</p>
                </div>
                <div class="search__suggestion">
                    <h3>Needle, Where Art Thou?</h3>
                    <p>#broken #lost #good #red #funny #hilarious #catgif #blue #nono #why #yes #yesyes #aliens #green #drone</p>
                </div>-->
            </div>
        </div>
        {% if pageConfig.FEATURED %}
        <!-- /.End of search full page  -->
        <div class="news-masonry">
            <div class="height_30"></div>
            <div class="container">
                <div class="row mas-m">
                    <div class="col-sm-6 mas-p">
                        <div class="mas-item mas-big">
                            <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/518x450-02.jpg" class="img-responsive" alt=""></figure></a>
                            <div class="mas-text">
                                <div class="post-cat"><a href="#">Fashion</a></div>
                                <h2 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader will be distracted by the readable content</a></h2>
                                <div class="mas-details">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    <a href="#" class="read-more">Read More &#8702;</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.End of masonry item -->
                    </div>
                    <div class="col-sm-6 mas-p">
                        <div class="row mas-m hidden-xs">
                            <div class="col-xs-12 col-sm-12 mas-p">
                                <div class="mas-item masonry-sm mas-m-b">
                                    <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/518x223-1.jpg" class="img-responsive" alt=""></figure></a>
                                    <div class="mas-text">
                                        <div class="post-cat"><a href="#">Fashion</a></div>
                                        <h4 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader</a></h4>
                                        <div class="mas-details">
                                            <p>There are many variations of passages of Lorem Ipsum available</p>
                                            <a href="#" class="read-more">Read More &#8702;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mas-m">
                            <div class="col-xs-6 col-sm-6 mas-p">
                                <div class="masonry-slide1 owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/257x223-09.jpg" class="img-responsive" alt=""></figure></a>
                                            <div class="mas-text">
                                                <div class="post-cat"><a href="#">Fashion</a></div>
                                                <h4 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader</a></h4>
                                                <div class="mas-details">
                                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                                    <a href="#" class="read-more">Read More &#8702;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/257x223-10.jpg" class="img-responsive" alt=""></figure></a>
                                            <div class="mas-text">
                                                <div class="post-cat"><a href="#">Fashion</a></div>
                                                <h4 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader</a></h4>
                                                <div class="mas-details">
                                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                                    <a href="#" class="read-more">Read More &#8702;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 mas-p">
                                <div class="masonry-slide2 owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/257x223-11.jpg" class="img-responsive" alt=""></figure></a>
                                            <div class="mas-text">
                                                <div class="post-cat"><a href="#">Fashion</a></div>
                                                <h4 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader</a></h4>
                                                <div class="mas-details">
                                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                                    <a href="#" class="read-more">Read More &#8702;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                    <div class="item">
                                        <div class="mas-item masonry-sm">
                                            <a href="#"><figure><img src="{{ CONFIG.ASSETSURL }}img/masonry/257x223-12.jpg" class="img-responsive" alt=""></figure></a>
                                            <div class="mas-text">
                                                <div class="post-cat"><a href="#">Fashion</a></div>
                                                <h4 class="mas-title"><a href="#">It is a long <em>established</em> fact that a reader</a></h4>
                                                <div class="mas-details">
                                                    <p>There are many variations of passages of Lorem Ipsum available</p>
                                                    <a href="#" class="read-more">Read More &#8702;</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.End of masonry item -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End of news masonry -->
        {% endif %}
        {% block prePageContent %}
        {% endblock %}
        <div class="page-content">
            {% block content %}
            {% endblock %}

            <div class=" container">
                <div class="banner-content">
                    <a href="{{ CONFIG.ROOTURL }}/pages/about/advertising.php"><img src="{{ CONFIG.ROOTURL }}/common/assets/adTemplates/728x90.jpg" class="img-responsive  center-block" alt=""></a>
                </div>
                <!-- /.End of banner content -->
            </div>
        </div>
        {% block postPageContent %}
        {% endblock %}
        {# <div class="newslatter">
            <div class="container">
                <h3>Sign Up for Our <em>Newsletter</em></h3>
                <p>Subscribe now to get notified about exclusive offers<br> from The .... every week!</p>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email address" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> #}
        <!-- /. End of news latter -->
        {# <div class="insta-content">
            <div class="insta-link"><a href="#" rel="me" target="_blank" class="">Follow Me!</a></div>
            <div id="ri-grid" class="ri-grid ri-grid-size-2">
                <img class="ri-loading-image" src="{{ CONFIG.ASSETSURL }}img/loading.gif" alt=""/>
                <ul>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/01.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/02.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/03.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/04.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/05.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/06.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/07.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/08.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/09.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/10.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/11.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/12.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/13.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/14.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/15.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/16.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/17.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/18.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/19.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/20.jpg" alt=""/></a></li>
                </ul>
            </div>
        </div> #}
        <!-- /. End of instagram -->
    </div>
    <footer class="footer-black">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <img src="{{CONFIG.FILESTOREURL}}/site-assets/logo/kingfisher-white.png" class="img-responsive" alt="">
                            </div>
                            <p>Founded in 1964, making us the oldest society on campus, Nouse has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students’ Union.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="footer-box" style="text-align: center;">
                            <h3 class="widget-title title-white" style="margin-bottom: 15px;">Links</h3>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="footer-cat" style="text-align: right;">
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/">About Nouse</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/team.php">Who’s Nouse</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/credits.php">Website Credits</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/advertising.php">Advertising</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/contact/">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="footer-cat" style="text-align: left;">
                                        <li><a href="https://yorknouse.studentbeans.com/" target="_blank">Student Discounts</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/policies.php#disclaimer">Disclaimer</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/policies.php#privacy-policy">Privacy Policy</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/policies.php#cookie-policy">Cookie Policy</a></li>
                                        <li><a href="{{ CONFIG.ROOTURL }}/pages/about/archives.php">Archives</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="footer-box">
                            <h3 class="widget-title title-white" style="margin-bottom: 15px;">Our Community</h3>
                            <ul class="footer-cat">
                                <li><a href="https://york.ac.uk" target="_blank">University of York</a></li>
                                <li><a href="https://yusu.org" target="_blank">York Student Union</a></li>
                                <li><a href="https://www.yorkgsa.org" target="_blank">York Graduate Students' Association</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            ©2003-{{ "now"|date("Y") }} Nouse. <a href="{{ CONFIG.ROOTURL }}/pages/about/credits.php">Website Credits</a>
        </div>
    </footer>
    <!-- /.End of footer -->
</div>
<!-- /.End of main content -->

<script async src="https://www.googletagmanager.com/gtag/js?id={{ CONFIG.ANALYTICS.TRACKINGID }}"></script>
<script>
    //Google Anylitics
    <!-- Global site tag (gtag.js) - Google Analytics -->
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{ CONFIG.ANALYTICS.TRACKINGID }}');
</script>
</body>
</html>

