<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if pageConfig.TITLE != null %}
        {{ pageConfig.TITLE|raw }}
        {% else %}
            Nouse{# | Est 1964 | University of York's oldest society and student newspaper#}
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="{{ CONFIG.ASSETSURL }}css/bootsnav.css" rel="stylesheet">
    <link href="{{ CONFIG.ASSETSURL }}css/style.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js" integrity="sha256-fdhzLBb+vMfwRwZKZPtza9iFcdVtEhrWRHhxSzEy4Ek=" crossorigin="anonymous"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/bootsnav.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/ResizeSensor.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/theia-sticky-sidebar.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/modernizr.custom.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/parallax-background.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.simpleSocialShare.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/jquery.shuffle.min.js"></script>
    <script src="{{ CONFIG.ASSETSURL }}js/custom.js"></script>


    {% block htmlIncludes %}{% endblock %}

    <!--Icons (favicon apple touch etc.)-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/site.webmanifest">
    <link rel="mask-icon" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Nouse">
    <meta name="application-name" content="Nouse">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% block htmlMeta %}
        <meta property="fb:app_id" content="471873819886891" />
        <meta property="og:title" content="{% if pageConfig.TITLE != null %}{{ pageConfig.TITLE|raw }}{% else %}Nouse | University of York's oldest society and student newspaper{% endif %}">
        <meta property="og:description" content="Founded in 1964, making us the oldest society on campus, Nouse has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students’ Union.">
        <meta property="og:type" content="website" />

        <meta property="article:content_tier"   content="free" />
        <meta property="article:publisher" content="https://www.facebook.com/yorknouse" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@yorknouse">
        <meta name="twitter:title" content="{% if pageConfig.TITLE != null %}{{ pageConfig.TITLE|raw }}{% else %}Nouse | University of York's oldest society and student newspaper{% endif %}">
        <meta name="twitter:description" content="Founded in 1964, making us the oldest society on campus, Nouse has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students’ Union.">

        <meta property="og:image" content="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/headerImages/ogheader-centralhall-comp.jpg" />
        <meta name="twitter:image" content="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/headerImages/ogheader-centralhall-comp.jpg">

        <meta name="google-signin-client_id"
              content="{{ CONFIG["GOOGLE"]["AUTH"]["CLIENT"] }}">
    {% endblock %}

    {% if pageConfig.ADS != false %}
    <!--Google adsense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}

    <!--Sentry Error logging-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raven.js/3.26.2/raven.min.js"
            integrity="sha256-SwNT3bdv1zGK2V0mAEIMIdSEhIR+HbhYHLMkmR6U7D8=" crossorigin="anonymous"></script>
    <script>Raven.config('{{ CONFIG.ERRORS.SENTRYPublic }}').install()</script>
</head>
<body class="news-layout2">
<div class="main-content">
    <div class="page-outer-wrap">
        <div class="top-header {{ pageConfig.MUSETheme ? "light" : "dark" }}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="header-nav">
                            <ul>
                                <li><span class="headre-weather"><i class="fa fa-calendar-check-o"></i>&nbsp; {{ "now"|date("l, F j") }}</span></li>
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/advertising.php">Advertise</a></li>
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/editions/">Past Editions</a></li>
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/team.php">Team</a></li>
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/">About</a></li>
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/join.php">Join</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <ul class="top-socia-share">
                            <li>
                                <a href="https://www.facebook.com/yorknouse"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/yorknouse"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/yorknouse/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/yorknouse/" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
                                <a href="https://en.wikipedia.org/wiki/Nouse"><i class="fa fa-wikipedia-w"></i></a>
                            </li>
                            <li>
                                <a href="{{ CONFIG.ROOTBACKENDURL }}">Editor Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if pageConfig.CustomTheme %}
            {% include "customThemes/" ~ pageConfig.CustomTheme with {'CustomThemeSection': 'header'} %}
        {% else %}
            {% if pageConfig.MUSETheme %}
                {#<div class="insta-content">
                    <div class="insta-link"><a href="https://www.instagram.com/yorkmuse/" rel="me" target="_blank" class="">yorkmuse</a></div>
                    <div id="ri-grid" class="ri-grid ri-grid-size-2">
                        <ul>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/01.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/02.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/03.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/04.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/05.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/06.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/07.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/08.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/09.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/10.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/11.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/12.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/13.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/14.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/15.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/16.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/17.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/18.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/19.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/20.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
                <script src="{{ CONFIG.ASSETSURL }}js/jquery.gridrotator.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('#ri-grid').gridrotator({
                            rows: 1,
                            columns: 8,
                            animType: 'fadeInOut',
                            animSpeed: 1000,
                            step: 1,
                            w1024: {
                                rows: 1,
                                columns: 7
                            },
                            w768: {
                                rows: 1,
                                columns: 5
                            },
                            w480: {
                                rows: 2,
                                columns: 3
                            },
                            w320: {
                                rows: 2,
                                columns: 3
                            },
                            w240: {
                                rows: 2,
                                columns: 3
                            }
                        });
                    })
                </script>#}
                <div class="logo-wrapper" style="background-color: black;">
                <div class="container">
                    <div class="header-logo">
                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/muse" class="logo-img">
                            <img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/MUSE%20Logo%20White%20small.png" alt="MUSE Logo" style="width: 100%; height: auto;">
                        </a>
                    </div>
                </div>
            </div>
            {% elseif pageConfig.EDITIONTheme %}
                <div class="logo-wrapper" style="padding-bottom:0;">
                    <div class="container">
                        <div class="header-logo">
                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/" class="logo-img">
                                <img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.svg" alt="Nouse logo" style="width: 100%; height: auto;">
                            </a>
                            <table border="0" style="width:100%;margin-top:15px;font-weight: 500;">
                                <tr style="width:100%;">
                                    <td style="width:75%;text-align: left;">
                                        <p>{{ edition.editions_name }}</p>
                                    </td>
                                    <td style="width:25%;text-align: right;">
                                        {% if edition.editions_printNumber %}
                                            <p>&numero;{{ edition.editions_printNumber }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% if edition.editions_excerpt %}
                                <p>{{ edition.editions_excerpt }}</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% else %}
            <!-- /.End of top header -->
            <div class="logo-wrapper gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="header-logo" style="margin-top: 9px; width: 350px;">
                                <a href="{{ CONFIG.ROOTFRONTENDURL }}" class="logo-img">
                                    <img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3.svg" alt="Nouse logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="header-banner">
                                {% if date() >= date("13 July 2020 13:30:00") and date() <= date("07 September 2020 13:30:00") %}
                                    <a href="https://wearehomesforstudents.com/student-accommodation/york/abode?utm_source=Nouse%20News%20?utm_medium=referral?utm_campaign=202007%20HFS%20Abode%20York%20Nouse%20Newspaper%20Web%20Banner%20July?utm_content=link" target="_blank"><img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/advertising/Abode%20Student%20Housing.gif" class="img-responsive" alt="Homes for Students - Advert"></a>
                                {% elseif date() >= date("29 April 2020 11:00:00") and date() <= date("22 June 2020 00:00:00") %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/editions/" target="_blank"><img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/advertising/Weekly%20Nouse%20Banner%20Compressed.jpg" class="img-responsive" alt="The Weekly Nouse - COVID-19 - Advert"></a>
                                {% else %}
                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/advertising.php"><img src="{{ CONFIG.ROOTFRONTENDURL }}/common/assets/adTemplates/728x90.jpg" class="img-responsive" alt=""></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <nav class="navbar navbar-mobile navbar-custom navbar-sticky menu-bar-bottom bootsnav" id="primaryNav"
            {% if pageConfig.MENUColor %}
                    style="background-color: #{{ pageConfig.MENUColor.backgroundColor }}; color: #{{ pageConfig.MENUColor.backgroundColorContrast }};"
            {% endif %}>
                <div class="container" style="background-color: inherit;">
                    <div class="attr-nav">
                        <ul>
                            <li id="btn-search1"><a href="javascript:void(0)" id="btn-search2"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu" style="background-color: inherit; color:inherit;">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand"  style="margin-top: 15px;" href="{{ CONFIG.ROOTFRONTENDURL }}"><img style="margin-top: 8px;" id="mobileLogoHeader" src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/nouse-logo-full3{{ pageConfig.MENUColor.backgroundColorContrast == "ffffff" ? "-white" : "" }}.svg" class="logo" alt="Nouse Logo"></a>
                    </div>
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu" style="background-color: inherit; color: inherit;">
                        <ul class="nav navbar-nav" data-in="navFadeInDown" data-out="navFadeOutUp">
                            {% if pageConfig.MENUSub %}
                                {# This is basically to allow MUSE to have its sub categories shown instead of main menu #}
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}"><i class="fa fa-home"></i></a></li>
                                {% for category in CATEGORIES[pageConfig.MENUSub].SUB %}
                                    {% if category.SUB|length < 1 or category.categories_showSub != 1 %}
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ CATEGORIES[pageConfig.MENUSub].categories_name }}/{{ category.categories_name }}">{{ category.categories_displayName }}</a></li>
                                    {% else %}
                                        <li class="dropdown active">
                                            <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ CATEGORIES[pageConfig.MENUSub].categories_name }}/{{ category.categories_name }}"  style="color: inherit;" class="dropdown-toggle">{{ category.categories_displayName }}</a>
                                            <ul class="dropdown-menu">
                                                {% for subCategory in category.SUB if subCategory.categories_showMenu == 1 %}
                                                    <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ CATEGORIES[pageConfig.MENUSub].categories_name }}/{{ category.categories_name }}/{{ subCategory.categories_name }}">{{ subCategory.categories_displayName }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if pageConfig.EDITIONTheme %}
                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/editions/" style="font-weight:800;">Editions</a></li>
                                {% endif %}
                                {% for category in CATEGORIES if category.categories_showMenu == 1 %}
                                    {% if category.SUB|length < 1 or category.categories_showSub != 1 %}
                                    <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}">{{ category.categories_displayName }}</a></li>
                                    {% else %}
                                    <li class="dropdown active">
                                        <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}"  style="color: inherit;" class="dropdown-toggle">{{ category.categories_displayName }}</a>
                                        <ul class="dropdown-menu">
                                            {% for subCategory in category.SUB if subCategory.categories_showMenu == 1 %}
                                                {% if subCategory.SUB|length < 1 %}
                                                <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}/{{ subCategory.categories_name }}">{{ subCategory.categories_displayName }}</a></li>
                                                {% else %}
                                                <li class="dropdown">
                                                    <a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}/{{ subCategory.categories_name }}" class="dropdown-toggle">{{ subCategory.categories_displayName }}</a>
                                                    <ul class="dropdown-menu">
                                                        {% for subSubCategory in subCategory.SUB if subSubCategory.categories_showMenu == 1 %}
                                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/{{ category.categories_name }}/{{ subCategory.categories_name }}/{{ subSubCategory.categories_name }}">{{ subSubCategory.categories_displayName }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                {% endif %}

                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="clearfix" style="{{ pageConfig.MENUColor is not defined or pageConfig.MENUColor.backgroundColor == "ffffff" ? "border-top: 1px solid #eaeaea" : "" }}"></div>
            <!-- /.End of navigation -->
            <div class="search">
                <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"> <i class="fa fa-times"></i></button>
                <form class="search__form" action="javascript:void(0)" method="post">
                    <input class="search__input" autocomplete="off" id="searchBox" name="search" type="search" placeholder="Search {{ totalArticlesCountForSearch|number_format }} articles..."/>
                    <span class="search__info">Hit enter to search or ESC to close</span>
                </form>
                <div class="search__related" id="searchSuggestions">

                </div>
            </div>
        {% endif %}
        {% block prePageContent %}
        {% endblock %}

        <div class="page-content" >
            {% block content %}
            {% endblock %}
            {% if pageConfig.ADS != false %}
            <div class=" container">
                <div class="banner-content" style="overflow: hidden;padding: 0px;">
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7908211756267459"
                         data-ad-slot="3958841409"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    {#<a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/advertising.php"><img src="{{ CONFIG.ROOTFRONTENDURL }}/common/assets/adTemplates/728x90.jpg" class="img-responsive  center-block" alt=""></a>#}
                </div>
                <!-- /.End of banner content -->
            </div>
            {% endif %}
        </div>
        {% block postPageContent %}
        {% endblock %}
        {# <div class="newslatter">
            <div class="container">
                <h3>Sign Up for Our <em>Newsletter</em></h3>
                <p>Subscribe now to get notified about exclusive offers<br> from The .... every week!</p>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email address" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> #}
        <!-- /. End of news latter -->
        {# <div class="insta-content">
            <div class="insta-link"><a href="#" rel="me" target="_blank" class="">Follow Me!</a></div>
            <div id="ri-grid" class="ri-grid ri-grid-size-2">
                <img class="ri-loading-image" src="{{ CONFIG.ASSETSURL }}img/loading.gif" alt=""/>
                <ul>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/01.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/02.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/03.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/04.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/05.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/06.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/07.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/08.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/09.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/10.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/11.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/12.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/13.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/14.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/15.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/16.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/17.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/18.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/19.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="{{ CONFIG.ASSETSURL }}img/instagram/20.jpg" alt=""/></a></li>
                </ul>
            </div>
        </div> #}
        <!-- /. End of instagram -->
    </div>
    <footer class="footer-black">
        <div class="main-footer" style="padding-bottom: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="footer-box">
                            <div class="footer-logo">
                                <img src="{{ CONFIG.FILESTOREURL }}/nouseSiteAssets/logo/kingfisher-white.png" class="img-responsive" alt="" style="height: 35px;">
                            </div>
                            <p>Founded in 1964, making us the oldest society on campus, Nouse has consistently provided the student voice for generations of York students and an important critical voice of the University and the Students’ Union.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="footer-box" style="text-align: center;">
                            <h3 class="widget-title title-white" style="margin-bottom: 15px;">Links</h3>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="footer-cat" style="text-align: right;">
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/policies.php#disclaimer">Disclaimer</a></li>
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/policies.php#privacy-policy">Privacy Policy</a></li>
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/policies.php#cookie-policy">Cookie Policy</a></li>
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/credits.php">Website Credits</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="footer-cat" style="text-align: left;">
                                        <li><a href="https://yusu.org" target="_blank">YUSU</a></li>
                                        <li><a href="https://www.yorkgsa.org" target="_blank">York GSA</a></li>
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/about/archives.php">Archives</a></li>
                                        <li><a href="{{ CONFIG.ROOTFRONTENDURL }}/pages/contact/">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 hidden-xs">
                        <div class="footer-box">
                            <h3 class="widget-title title-white" style="margin-bottom: 15px;">Student Media</h3>
                            <ul class="footer-cat">
                                <li><a href="https://ury.org.uk" target="_blank">University Radio York</a></li>
                                <li><a href="https://ystv.co.uk" target="_blank">York Student Television</a></li>
                                <li><a href="https://www.yorkvision.co.uk" target="_blank">York Vision</a></li>
                                {# <li><a href="https://www.yorkstudentcinema.org" target="_blank">York Student Cinema</a></li>#}
                                <li><a href="https://thelemonpress.co.uk" target="_blank">The Lemon Press</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-box" style="padding-top: 15px;">
                    <p style="font-size:15px;">Nouse is grateful to the <a href="https://york.ac.uk" target="_blank" style="color: inherit;" >University of York</a> for their hosting of elements of this site. <a href="https://www.york.ac.uk/about/legal-statements/" style="color: inherit;" target="_blank">University Legal Statements &amp; Disclaimer</a></p>
                    <!--Compulsory message, please don't remove ! -->
                </div>

            </div>
        </div>
        <div class="sub-footer">
            ©2003-{{ "now"|date("Y") }} Nouse. {{ CONFIG.VERSION.TAG ~ "." ~ CONFIG.VERSION.COMMIT}}
        </div>
    </footer>
    <!-- /.End of footer -->
</div>
<!-- /.End of main content -->
<script>
    function ajaxCall(scriptURL, data, callbackSuccess, callbackError) {
        if (data !== null) var senddata = data;
        else var senddata = {};

        $.ajax({
            url: '{{ CONFIG.ROOTFRONTENDURL }}/api/' + scriptURL,
            type: "POST",
            data: senddata,
            cache: false,
            success: function (result) {
                if (result.error || result.result != true) {
                    if (typeof callbackError === "function") {
                        callbackError(result);
                    }
                } else {
                    if (typeof callbackSuccess === "function") {
                        callbackSuccess(result);
                    }
                }
                return false;
            }, error: function (jqXHR, textStatus, errorThrown) {
                console.log("Connection error");
                if (typeof callbackError === "function") {
                    callbackError(errorThrown);
                }
            }
        });
    }

    $(document).ready(function () {
        $('a').smoothScroll({offset: -100});


        var canMakeASuggestion = true; //Only allow a new suggestion to be made after the last one has actually arrived
        $('#searchBox').on('input',function(e){
            if (canMakeASuggestion) {
                canMakeASuggestion = false;
                ajaxCall("searchSuggestions.php", {"searchterm": $(this).val()}, function (result) {
                    canMakeASuggestion = true;
                    if (result.response && result.response.length > 0) {
                        var output = "";
                        $.each(result.response, function (key, value) {
                            output += '<div class="search__suggestion"><h3><a href="' + value['url'] + '">' + value['articlesDrafts_headline'] + '</a></h3><p>' + (value['articlesDrafts_excerpt'] != null ? value['articlesDrafts_excerpt'] : "") + '</p></div>';
                        });
                        $("#searchSuggestions").html(output);
                    }
                });
            }
        });
        $('#searchBox').keypress(function (e) {
            if(e.which ==13) {
                window.location.href = "{{ CONFIG.ROOTFRONTENDURL }}/search?q=" + $("#searchBox").val();
            }
        });
    });
</script>


<script async src="https://www.googletagmanager.com/gtag/js?id={{ CONFIG.ANALYTICS.FRONTENDTRACKINGID }}"></script>
<script>
    console.log("%c {{ CONFIG.PROJECT_NAME }} version {{ CONFIG.VERSION.TAG }} build {{ CONFIG.VERSION.COMMITFULL }}", 'font-size: 25px; font-style: italic;');

    //Google Anylitics
    <!-- Global site tag (gtag.js) - Google Analytics -->
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{ CONFIG.ANALYTICS.FRONTENDTRACKINGID }}');

    {% if pageConfig.ADS != false %}
    (adsbygoogle = window.adsbygoogle || []).push({});
    {% endif %}
</script>
</body>
</html>

