{% extends "assets/template.twig" %}
{% block htmlIncludes %}
	<!--Password Strength-->
	<link rel="stylesheet" href="{{ CONFIG.ROOTBACKENDURL }}/assets/css/strength.css"/>
	<script src="{{ CONFIG.ROOTBACKENDURL }}/assets/js/libs/strength.min.js"></script>

	<!--Date picker-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" integrity="sha256-VrmtNHAdGzjNsUNtWYG55xxE9xDTz4gF63x/prKXKH0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />

	<!--Select2-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />

	<!--Featured articles-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
	<div class="row" style="margin-top: 15px;">
		{% if USER.users_userid != "NEW" and 2|permissions %}
			<div class="col-lg-12">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">
					{{USER['users_name1'] ~ ' ' ~ USER['users_name2']}}
				</h3>
				<div class="box-tools pull-right">
					<form class="input-group input-group-sm" style="width: 150px;" method="GET" action="/users.php">
						<input type="text" name="q" class="form-control pull-right" placeholder="Search" />
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							{% if 4|permissions %}
								<button type="button" title="Add new User" id="addNewUserButton" class="btn btn-default"><i class="fa fa-plus"></i></button>
								<script>
									$("#addNewUserButton").click(function () {
										window.location.href = "{{ CONFIG.ROOTBACKENDURL }}/account.php?new";
									});
								</script>
							{% endif %}
						</div>

					</form>
				</div>
			</div>
		</div>
			</div>
		{% endif %}
		{% if USER.users_userid != "NEW" and USER.currentPositions < 1 %}
			<div class="col-lg-12">
				<div class="alert alert-danger alert-dismissible" style="border: 0px; margin-bottom: 15px;">
					<h4><i class="fa fa-exclamation"></i> Cannot login</h4>
					To allow this user to login to their account assign them a position
				</div>
			</div>
		{% endif %}
		<div class="col-lg-6">
			<div class="box panel-default">
				<div class="box-header with-border">
					<h3 class="box-title">Account Basics</h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-success" id="updatesettingsusccess" style="display: none;">
						<strong>Success!</strong> Account settings saved!
					</div>
					<div class="form-group">
						<label>First Name:</label>
						<input type="text" class="form-control" id="forename" name="forename" value="{{USER['users_name1']}}" placeholder="York" />
					</div>
					<div class="form-group">
						<label>Last Name:</label>
						<input type="text" class="form-control" id="lastname" name="lastname" value="{{USER['users_name2']}}" placeholder="Nouse" />
					</div>
					<div class="form-group">
						<label>Pronouns:</label>
						<input type="text" class="form-control" id="pronouns" name="pronouns" value="{{USER['users_pronouns']}}" />
					</div>
					<hr/>
					<div class="form-group">
						<label>York Username</label>
						<input type="text" class="form-control" id="yorkusername" name="yorkusername" {{ (USER.users_userid == USERDATA.users_userid ? 'disabled' : '') }} value="{{USER['users_googleAppsUsernameYork']}}" placeholder="nse501" />
					</div>
					<div class="form-group">
						<label>Nouse Username</label>
						<input type="text" class="form-control" id="nouseusername" name="nouseusername" {{ (USER.users_userid == USERDATA.users_userid ? 'disabled' : '') }} value="{{USER['users_googleAppsUsernameNouse']}}" placeholder="york.nouse" />
					</div>
					<hr/>
					<div class="form-group">
						<label for="bio">Bio</label>
						<textarea rows="3" class="form-control" id="bio" name="bio" placeholder="Please don't include details of roles at Nouse here">{{USER['users_bio']}}</textarea>
					</div>
					{% if USER.users_userid != "NEW" %}
					<hr/>
					<div class="form-group">
						<label>Website Page</label>
						<input type="text" class="form-control" disabled value="{{ CONFIG.ROOTFRONTENDURL }}/author/?a={{USER['users_userid']}}" />
						{% if 44|permissions %}
							<a href="{{ CONFIG.ROOTBACKENDURL }}/quicklinks.php"><i>Setup a short link for an address that features your name!</i></a>
						{% endif %}

					</div>
					{% endif %}
						</div>
				<div class="box-footer">
					<button id="save-account-settings" class="btn btn-default">Save</button>
				</div>
					<script>
					$(document).ready(function() {
						$('#save-account-settings').click(function() {
							$('#updatesettingsusccess').hide();
							$.ajax({
								url: '{{CONFIG.ROOTBACKENDURL}}/api/account/basicDetails.php?userid={{ USER.users_userid }}&forename=' + $('#forename').val() + '&lastname=' + $('#lastname').val() + '&bio=' + $('#bio').val() + '&yorkusername=' + $('#yorkusername').val() + '&nouseusername=' + $('#nouseusername').val() + '&pronouns=' + $('#pronouns').val(),
								success: function (result) {
									{% if USER.users_userid != "NEW" %}
									if (result == '1') {
										$('#updatesettingsusccess').show();
									}
									{% else %}
									result = JSON.parse(result);
									if (result) {
										window.location.href = "?uid=" + result.newUserId;
									}
									{% endif %}
									else {
										bootbox.alert(result + '<br/>Error - Could not save - Please refresh the page and try again!', function () {
											location.reload();
										});
									}
								}
							});

						});
					});
					</script>
			</div>
			{% if USER.users_userid != "NEW" %}
			<div class="box panel-default">
				<div class="box-header with-border">
					<h3 class="box-title">Featured Articles</h3>
				</div>
				<div class="box-body">
					<select id="featuredSelect" class="chooser form-control" multiple="multiple">
						{% for article in FEATUREDARTICLES %}
							<option selected value="{{ article.articles_id }}">{{ article.articlesDrafts_headline }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="box-footer">
					<button id="save-featured-articles" class="btn btn-default">Save</button>
				</div>
				<div class="overlay loadingoverlay">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
				<script>
					$(document).ready(function () {
						$(".loadingoverlay").hide();
						$("#save-featured-articles").click(function () {
							$(".loadingoverlay").show();
							var actualOrder = [];
							var listNameToId = [];
							$("#featuredSelect").find("option").each(function(index) {
								listNameToId[$( this ).html()] = $( this ).attr('value');
							});
							$("#featuredSelect").parent().find("li.select2-selection__choice").each(function(index) {
								actualOrder.push(listNameToId[$( this ).attr('title')]);
							});
							$.ajax({
								url: "{{ CONFIG.ROOTBACKENDURL }}/api/account/editFeatured.php",
								type: 'POST',
								dataType: "json",
								data: {
									"users_userid": "{{ USER.users_userid }}",
									"featured":actualOrder.join(","),
								},
								success: function (result) {
									if (result.result) {
										location.reload();
									} else {
										console.log(result);
										bootbox.alert("Sorry - there was a problem saving your changes. Please check your internet connection and try again");
									}
								},
								error: function () {
									bootbox.alert("Sorry - there was a problem saving your changes. Please check your internet connection and try again");
								}
							});
						});

						$("#featuredSelect").select2({
							tags: false,
							multiple: true,
							theme: "bootstrap",
							minimumInputLength: 0,
							maximumSelectionLength: 16,
							width: '100%',
							minimumResultsForSearch: 1,
							placeholder: "Search for articles to feature at the top of your author page",
							ajax: {
								url: "{{ CONFIG.ROOTBACKENDURL }}/api/featured/articleSearchUser.php?userid={{ USER.users_userid }}",
								dataType: "json",
								type: "POST",
								data: function (params) {
									var queryParameters = {
										term: params.term
									}
									return queryParameters;
								},
								processResults: function (data) {
									if (data && data.result && data.response) {
										return {
											results: $.map(data.response, function (item) {
												return {
													text: item.articlesDrafts_headline,
													id: item.articles_id
												}
											})
										};
									} else return {
										results: []
									};
								}
							}
						});
						$("ul.select2-selection__rendered").sortable({
							containment: 'parent'
						});
					});
				</script>
			</div>
			{% endif %}
		</div>
		<div class="col-lg-6">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Positions</h3>
					<div class="box-tools pull-right">
						<button type="button"
								class="btn btn-box-tool leavetoday"
								title="End all Positions today">
							<i class="fa fa-hourglass-end"></i></button>
					</div>

					<script>
						$(document).ready(function () {
							{% if 13|permissions %}
							$('.leavetoday').click(function() {
								bootbox.confirm("Are you sure you want to end all this users positions today?", function(result){
									if (result) {
										$("#loadingoverlay").show();
										$.ajax({
											url: '{{CONFIG.ROOTBACKENDURL}}/api/account/permissions.php',
											data: {
												"users_userid": "{{ USER.users_userid }}",
												"action":"ENDAll",
												"userPositions_id": ""
											},
											type: "POST",
											success: function (result) {
												if (result.result) {
													location.reload();
												} else {
													bootbox.alert('Error - Could not change permissions - Please try again!', function() {
														location.reload();
													});
												}
											}
										});
									}
								});


							});
							{% endif %}
						});
					</script>
				</div>
				<div class="box-body no-padding">
					<table class="table" border="0" style="overflow-x: scroll;">
						<thead>
						<tr>
							<th>Title</th>
							<th>From</th>
							<th>To</th>
							<th>Show on site</th>
							{% if 13|permissions %}
							<th></th>
								<th></th>
							{% endif %}
						</tr>
						</thead>
						<tbody>
						{% if USER.users_userid != "NEW" %}
							{% for position in USER.POSITIONS %}
								<tr>
									{% if 13|permissions %}
										<td>
											<div class="form-group">
												<select class="form-control positionID">
													{% for subposition in POSSIBLEPOSITIONS %}

														<option {{ subposition.positions_id == position.positions_id ? 'selected' : '' }} value="{{ subposition.positions_id }}">{{ subposition.positions_displayName }}</option>
													{% endfor %}
												</select>
											</div>

										</td>
										<td>
											<div class="form-group">
												<input type='text' class="form-control positionStart" id="position{{ position.userPositions_id }}Start" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type='text' class="form-control positionEnd" id="position{{ position.userPositions_id }}End" />
											</div>
										</td>
										<td>
											<div class="checkbox">
												<label><input type="checkbox" class="positionPublic" {{ (position.userPositions_show == 1 ? 'checked' : '') }} ></label>
											</div>
										</td>
										<td>
											<button type="button" title="Delete" data-positionid="{{ position.userPositions_id }}" class="btn btn-danger deletePermissionEdit"><i class="fa fa-trash"></i></button>
										</td>
										<td>
											<button type="button" title="Save" data-positionid="{{ position.userPositions_id }}" class="btn btn-default savePermissionEdit"><i class="fa fa-save"></i></button>
										</td>
										<script>
											$(function () {
												$('#position{{ position.userPositions_id }}Start').datetimepicker({
													date: "{{ position.userPositions_start }}",
													locale: "en-gb",
													format: "D MMM YYYY"
												});
												$('#position{{ position.userPositions_id }}End').datetimepicker({
													useCurrent: false, //Important! See issue #1075
													date: "{{ position.userPositions_end }}",
													locale: "en-gb",
													format: "D MMM YYYY"
												});
												$("#position{{ position.userPositions_id }}Start").on("dp.change", function (e) {
													$('#position{{ position.userPositions_id }}End').data("DateTimePicker").minDate(e.date);
												});
												$("#position{{ position.userPositions_id }}End").on("dp.change", function (e) {
													$('#position{{ position.userPositions_id }}Start').data("DateTimePicker").maxDate(e.date);
												});
											});
										</script>
									{% else %}
									<td>
										{% if position.userPositions_displayName != null %}
											{{ position.userPositions_displayName }}
										{% else %}
											{{ position.positions_displayName }}
										{% endif %}
									</td>
									<td>
										{{ position.userPositions_start }}</td>
									<td>{{ position.userPositions_end }}</td>
									<td>{{ (position.userPositions_show == 1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>') }}</td>
									{% endif %}
								</tr>
							{% endfor %}
							{% if 13|permissions %}
							<tr><td colspan="999" style="font-weight: bold;">Add position</td></tr>
							<tr>
								<td>
									<div class="form-group">
										<select class="form-control positionID" id="newPositionID">
											{% for position in POSSIBLEPOSITIONS %}
											<option value="{{ position.positions_id }}">{{ position.positions_displayName }}</option>
											{% endfor %}
										</select>
									</div>

								</td>
								<td>
									<div class="form-group">
										<input type='text' class="form-control positionStart" id="newPositionStart" />
									</div>
								</td>
								<td>
									<div class="form-group">
										<input type='text' class="form-control positionEnd" id="newPositionEnd" />
									</div>
								</td>
								<td>
									<div class="checkbox">
										<label><input type="checkbox" class="positionPublic" checked id="newPositionShow"></label>
									</div>
								</td>
								<td>
									<button type="button" title="Save" data-positionid="new" class="btn btn-default savePermissionEdit"><i class="fa fa-plus"></i></button>
								</td>
							</tr>
							<script>
								$(function () {
									$('#newPositionStart').val(localStorage.getItem("positionmacrostart"));
									$('#newPositionEnd').val(localStorage.getItem("positionmacroend"));
									$('#newPositionStart').datetimepicker({
										locale: "en-gb",
										format: "D MMM YYYY"
									});
									$('#newPositionEnd').datetimepicker({
										useCurrent: false, //Important! See issue #1075
										locale: "en-gb",
										format: "D MMM YYYY"
									});
									$("#newPositionStart").on("dp.change", function (e) {
										$('#newPositionEnd').data("DateTimePicker").minDate(e.date);
									});
									$("#newPositionEnd").on("dp.change", function (e) {
										$('#newPositionStart').data("DateTimePicker").maxDate(e.date);
									});
								});
							</script>
							{% endif %}
						{% else %}
							<tr>
								<td colspan="999" style="font-style: italic; text-align: center;">Please create the user before you assign positions</td>
							</tr>
						{% endif %}
						</tbody>

					</table>
					<script>
						$(document).ready(function() {
							$("#permissionsOverlayLoading").hide();
							$('.positionID').select2({
								theme: "bootstrap"
							});
							{% if 13|permissions %}
							$('.savePermissionEdit').click(function() {
								$("#permissionsOverlayLoading").show();
								$.ajax({
									url: '{{CONFIG.ROOTBACKENDURL}}/api/account/permissions.php',
									data: {
										"users_userid":"{{ USER.users_userid }}",
										"userPositions_id":$(this).data("positionid"),
										"positions_id":$(this).closest('tr').find('.positionID').val(),
										"userPositions_start":$(this).closest('tr').find('.positionStart').val() + " 00:00:00",
										"userPositions_end":$(this).closest('tr').find('.positionEnd').val() + " 00:00:00",
										"userPositions_show":($(this).closest('tr').find('.positionPublic').is(':checked') ? 1 : 0),
										"action":"EDIT"
									},
									type: "POST",
									success: function (result) {
										if (result.result) {
											location.reload();
										} else {
											bootbox.alert('Error - Could not change permissions - Please try again!', function() {
												location.reload();
											});
										}
									}
								});

							});
							var thispositonid = "";
							$('.deletePermissionEdit').click(function() {
								thispositonid = $(this).data("positionid");
								bootbox.confirm({
									message: "Are you sure you wish to delete this position record? <br/> Positions should be normally kept as an important matter of record - if this user has now left the position please instead set the end date as appropriate",
									buttons: {
										confirm: {
											label: 'Yes',
											className: 'btn-success'
										},
										cancel: {
											label: 'No',
											className: 'btn-danger'
										}
									},
									callback: function (result) {
										if (result) {
											$("#permissionsOverlayLoading").show();
											$.ajax({
												url: '{{ CONFIG.ROOTBACKENDURL }}/api/account/permissions.php',
												data: {
													"userPositions_id": thispositonid,
													"users_userid":"{{ USER.users_userid }}",
													"action": "DELETE"
												},
												type: "POST",
												success: function (result) {
													if (result.result) {
														location.reload();
													} else {
														bootbox.alert('Error - Could not change permissions - Please try again!', function () {
															location.reload();
														});
													}
												}
											});
										}
									}
								});
							});
							{% endif %}
						});
					</script>
				</div>
				<div class="overlay" id="permissionsOverlayLoading">
					<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>
		</div>

		{% if USER.users_userid != "NEW" %}
			<div class="col-lg-6">
				<div class="box panel-default">
					<div class="box-header with-border">
						<h3 class="box-title">Social Media profiles</h3>
					</div>
					<div class="panel-body">
						<div class="alert alert-success" id="update_social_success" style="display: none;">
							<strong>Success!</strong> Social media updated!
						</div>
						<form id="update_social_form">
							<p>Share links to your social media profiles to be displayed on your user profile page</p>

							<label>Facebook</label>
							<div class="input-group">
								<span class="input-group-addon">https://facebook.com/</span>
								<input type="text" class="form-control" name="facebook" value="{{ USER.users_social_facebook }}">
							</div>
							<br/>
							<label>Twitter</label>
							<div class="input-group">
								<span class="input-group-addon">https://twitter.com/</span>
								<input type="text" class="form-control" name="twitter" value="{{ USER.users_social_twitter }}">
							</div><br/>
							<label>Instagram</label>
							<div class="input-group">
								<span class="input-group-addon">https://instagram.com/</span>
								<input type="text" class="form-control" name="instagram" value="{{ USER.users_social_instagram }}">
							</div><br/>
							<label>Linkedin</label>
							<div class="input-group">
								<span class="input-group-addon">https://linkedin.com/ln/</span>
								<input type="text" class="form-control" name="linkedin" value="{{ USER.users_social_linkedin }}">
							</div><br/>
							<label>Snapchat</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-snapchat-ghost"></i></span>
								<input type="text" class="form-control" name="snapchat" value="{{ USER.users_social_snapchat }}">
							</div>
						</form>
					</div>
					<div class="box-footer">
						<button id="save-social-settings" class="btn btn-default">Save</button>
					</div>
					<script>
						$(document).ready(function() {
							$('#save-social-settings').click(function() {
								$("#update_social_success").hide();
								$.ajax({
									url: '{{CONFIG.ROOTBACKENDURL}}/api/account/social.php',
									data: {"data":$("#update_social_form").serialize(),"users_userid": "{{ USER.users_userid }}"},
									type: "POST",
									success: function (result) {
										if (result == '1') {
											$("#update_social_success").show();
										} else {
											bootbox.alert('Error - Could not change social settings - Please try again!', function() {
												location.reload();
											});
										}
									}
								});
							});
						});
					</script>
				</div>
			</div>
		{% endif %}
		
		{% if USER.users_userid != "NEW" %}
		<div class="col-lg-6">
			<div class="box panel-default">
				<div class="box-header with-border">
					<h3 class="box-title">Profile picture</h3>
				</div>
				<div class="panel-body">
					{% if USER.users_thumbnail != null %}
						<img src="{{ USER.users_thumbnail|s3URL("") }}" style="width: 100%;">
						{% else %}
						<i>None currently set</i>
					{% endif %}
				</div>
				{% if 14|permissions or USER.users_userid == USERDATA.users_userid %}
				<div class="box-footer">
					{% embed 'common/plugins/uppy.twig' with {'publicBool': true, 'type': 'USER-THUMBNAIL', 'paste': false, 'typeId': 1, 'subTypeId': 1, 'fileLimit': 1, 'imagesOnly': true, 'licenceCredit': false } %}
						{% block success %}
							$.ajax({
							url: '{{CONFIG.ROOTBACKENDURL}}/api/account/thumbnail.php',
							type : "POST",
							data : {
								"users_userid": "{{ USER.users_userid }}",
								'thumbnail' : responseJson.id,
							},
							cache : false,
							success: function (result) {
								if (result != '1') {
									bootbox.alert(result + 'Error - Could not change thumbnail - Please refresh the page and try again!');
								} else {
									location.reload();
								}
							}
							});
						{% endblock %}
					{% endembed %}
				</div>
				{% endif %}
				<script>
				</script>
			</div>
		</div>
		{% endif %}
</div>
{% endblock %}
