---
import AuthorArticles from "@components/AuthorArticles.astro";
import FeaturedArticles from "@components/FeaturedArticles.astro";
import Layout from "src/layouts/Layout.astro";
import type { S3URL } from "@components/types";

const { authorId } = Astro.params;
const page = Astro.url.searchParams.get("page");

if (!authorId) return Astro.redirect("/404");

const authorIdNumber = parseInt(authorId);
const pageNumber = parseInt(page || "") || 0;

const apiBase = import.meta.env.API_BASE_URL;

const res = await fetch(`${apiBase}/api/frontend/author/${authorIdNumber}`);
const author: {
  users_name1: string | null
  users_name2: string | null
  users_bio: string | null
  articles_featured: string | null
  users_thumbnail: string | null
  users_pronouns: string | null
  userPositions: {
    userPositions_show: boolean
    userPositions_start: Date
    userPositions_end: Date | null
    positions: {
      positions_id: number
      positions_displayName: string
      positions_positionsGroups: string | null
      positions_rank: number
      positions_teamPageGroup: number
    } | null
  }[]
} | null = await res.json();

if (!author) return Astro.redirect("/404");

let s3URL: S3URL = {
  url: ""
};

if (author.users_thumbnail) {
  const res = await fetch(`${apiBase}/api/s3url?fileId=${Number(author.users_thumbnail)}&size=large`);
  s3URL = await res.json();
}

const authorImage = /^-?\d+$/.test(author.users_thumbnail!)
  ? s3URL.url
  : undefined;

const featuredArticleIds = author.articles_featured?.split(",").map(Number);

const articlesPerPage = 10;
---

<Layout
  title={`${author.users_name1} ${author.users_name2} - Nouse`}
  active={undefined}
  style={"nouse"}
>
  <div
    id="author-mantle"
    class="mt-8 w-full bg-neutral-900 text-white sm:px-[0.5%] 2xl:px-[13%]"
  >
    <div
      class="flex flex-col items-center justify-center py-16 md:flex-row md:items-start"
    >
      {
        authorImage && (
          <img
            id="author-image"
            class="mb-4 h-52 w-52 rounded-full border-4 border-[#D76B6B] object-cover md:mr-20"
            src={authorImage}
            alt=`Thumbnail image of ${author.users_name1}  ${author.users_name2}`
          />
        )
      }
      <div id="author-details" class="w-full px-8 md:w-7/12 md:px-0">
        <h1 class="text-center md:text-left text-4xl">
          <span class="text-4xl">
            {`${author.users_name1}  ${author.users_name2}`}
          </span>
          {
            author.users_pronouns && (
              <span class="text-base italic"> ({author.users_pronouns})</span>
            )
          }
        </h1>
        <p class="text-center text-lg font-bold md:text-left">
          {
            author.userPositions
              .filter(
                (position) =>
                  position.userPositions_show &&
                  position.positions &&
                  position.userPositions_end! >= new Date()
              )
              .map(
                (position, index) =>
                  `${index === 0 ? "" : ", "}${
                    position.positions!.positions_displayName
                  }`
              )
          }
        </p>
        <p class="text-center text-lg font-bold md:text-left">
          {
            author.userPositions
              .filter(
                (position) =>
                  position.userPositions_show &&
                  position.positions &&
                  position.userPositions_end! < new Date()
              )
              .map(
                (position, index) =>
                  `${index === 0 ? "Previously Held Positions: " : ", "}${
                    position.positions!.positions_displayName
                  } (${position.userPositions_start.getFullYear()}-${position.userPositions_end!.getFullYear()})`
              )
          }
        </p>
        {author.users_bio && <p class="mt-5 text-base">{author.users_bio}</p>}
      </div>
    </div>
    {
      featuredArticleIds !== undefined && (
        <div class="border-t border-gray-300 py-8">
          <FeaturedArticles
            featuredArticlesIds={featuredArticleIds}
            style={"nouse"}
            textColor={"#FFF"}
          />
        </div>
      )
    }
  </div>
  <AuthorArticles
    articlesPerPage={articlesPerPage}
    authorId={authorIdNumber}
    pageNumber={pageNumber}
  />
</Layout>
