---
import "@styles/global.css";
import Navbar from "@components/Navbar.astro";
import SearchInterface from "@components/SearchInterface.astro";
import { Icon } from "astro-icon/components";

export interface Props {
  title: string | undefined;
  active: string | undefined | null;
  style: "nouse" | "muse";
}

const apiBase = import.meta.env.PUBLIC_API_BASE_URL;

const res = await fetch(`${apiBase}/api/frontend/getCategoriesColours`);
const categoriesColours: {
    categories_name: string
    categories_backgroundColor: string | null
}[] = await res.json();

const { title, active, style } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-whiteish-100 font-arno font-normal">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--<link-->
    <!--  rel="icon"-->
    <!--  type="image/png"-->
    <!--  href="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/icons/favicon-32x32.png"-->
    <!--/>-->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Nouse" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* Adobe Fonts */}
    <link rel="stylesheet" href="https://use.typekit.net/ghx5ucu.css" />
    {/* Iconify icons */}
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  </head>
  <body>
    <SearchInterface />
    <Navbar active={active} style={style} />
    <slot />
  </body>
  <footer
    class="mt-4 flex flex-col bg-black py-8 px-[3%] pt-8 sm:px-[5%] 2xl:px-[13%]"
  >
    <img
      class="mb-6 h-10 w-min invert"
      src="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/nouse-logo-print.svg"
    />
    <div
      class="flex flex-row justify-between border-t border-white pt-5 text-xs text-lg text-white lg:text-sm"
    >
      <div class="flex grow flex-row flex-wrap gap-3 pr-2 2xl:gap-7 bg-navbar">
        <a href={`/about-us`}>About Us</a>
        <a href={`/team`}>Our Team</a>
        <a href={`/editions`}>Previous Editions</a>
        <a href={`/website-credits`}
          >Website Credits</a
        >
        <a href={`/archives`}>Archives</a>
        <a href={`/website-policies`}
          >Website Policies</a
        >
        <a href={`/advertising`}>Advertising</a>
        <a href={`/contact-us`}>Contact Us</a>
        <a href="https://edit.nouse.co.uk" target="_blank" rel="”noreferrer”"
          >Editor Login</a
        >
      </div>
      <div
        class="flex flex-row gap-3 border-l border-white pl-2 md:border-l-0 2xl:gap-7"
      >
        <a href="https://www.facebook.com/yorknouse">
          <Icon name="ri:facebook-fill" class="h-4 lg:h-5" />
        </a>
        <a href="https://twitter.com/yorknouse">
          <Icon name="ri:twitter-fill" class="h-4 lg:h-5" />
        </a>
        <a href="https://www.instagram.com/yorknouse/">
          <Icon name="ri:instagram-line" class="h-4 lg:h-5" />
        </a>
        <p class="opacity-50">@yorknouse</p>
      </div>
    </div>
  </footer>
  <script define:vars={{ categoriesColours }}>
      const style = document.createElement("style");
      document.getElementsByTagName("head")[0].appendChild(style);
      categoriesColours.forEach((c) => {
          if (style.sheet && style.sheet.insertRule) {
              style.sheet.insertRule(
                  `.category-color-${c.categories_name} {color: ${c.categories_backgroundColor};}`
              );
              style.sheet.insertRule(
                  `.border-color-${c.categories_name} {border-color: ${c.categories_backgroundColor};}`
              );
          } else {
              (style.styleSheet || style.sheet).addRule(
                  `.category-color-${c.categories_name}`,
                  `color: ${c.categories_backgroundColor};`
              );
              (style.styleSheet || style.sheet).addRule(
                  `.border-color-${c.categories_name}`,
                  `border-color: ${c.categories_backgroundColor};`
              );
          }
      });
  </script>
  <style is:global>
      .arno-display {
          font-family: "arno-pro-display", serif;
          font-weight: 700;
          font-style: normal;
      }
  </style>
</html>
