---
import Navbar from "@components/Navbar.astro";
import SearchInterface from "@components/SearchInterface.astro";
import prisma from "src/prisma";

export interface Props {
  title: string | undefined;
  active: string | undefined;
  style: "nouse" | "muse";
}

const categoriesColours = await prisma.categories.findMany({
  select: {
    categories_backgroundColor: true,
    categories_name: true,
  },
  where: {
    NOT: {
      categories_backgroundColor: null,
    },
  },
});

const { title, active, style } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-whiteish-100 font-arno font-normal">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {/* Adobe Fonts */}
    <link rel="stylesheet" href="https://use.typekit.net/ghx5ucu.css" />
    {/* Iconify icons */}
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  </head>
  <body>
    <SearchInterface />
    <Navbar active={active} style={style} />
    <slot />
  </body>
</html>
<script define:vars={{ categoriesColours }}>
  const style = document.createElement("style");
  document.getElementsByTagName("head")[0].appendChild(style);
  categoriesColours.forEach((c) => {
    if (style.sheet && style.sheet.insertRule) {
      style.sheet.insertRule(
        `.category-color-${c.categories_name} {color: ${c.categories_backgroundColor};}`
      );
      style.sheet.insertRule(
        `.border-color-${c.categories_name} {border-color: ${c.categories_backgroundColor};}`
      );
    } else {
      (style.styleSheet || style.sheet).addRule(
        `.category-color-${c.categories_name}`,
        `color: ${c.categories_backgroundColor};`
      );
      (style.styleSheet || style.sheet).addRule(
        `.border-color-${c.categories_name}`,
        `border-color: ${c.categories_backgroundColor};`
      );
    }
  });
</script>
<style is:global>
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
</style>
