---
export interface Props {
  headline: string;
  excerpt: string | null;
  author: string;
  authorId: number | undefined;
  category: string | null | undefined;
  categoryLink: string | undefined;
  categoryColor: string | null | undefined;
  imageUrl?: string;
  articleUrl: string;
  isVertical?: boolean; // Defines if the image is ontop or to the left of the text
  isPortrait: boolean; // Defines if the image is portrait or landscape
  hideCategoryAccent?: boolean;
  textColour?: string;
}

const {
  headline,
  excerpt,
  author,
  authorId,
  category,
  categoryLink,
  categoryColor,
  imageUrl,
  articleUrl,
  isVertical,
  isPortrait,
  hideCategoryAccent,
  textColour = "#000",
} = Astro.props;

const imagePlaceHolder =
  '"https://bbcdn.nouse.co.uk/file/nousePublicBackendUploads/db/webUploads/public/ARTICLE-THUMBNAIL/mWMFA4fY1ENg25x%20breakingNews_large.jpg"';
---

<style define:vars={{ categoryColor, textColour }}>
  .border-color {
    border-color: var(--categoryColor);
  }
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  .category-color {
    color: var(--categoryColor);
  }

  .text-colour {
    color: var(--textColour);
  }
</style>
<div class="article h-full overflow-hidden text-ellipsis">
  <div class={`flex ${isVertical ? "flex-col" : "flex-row"}`}>
    {
      imageUrl !== undefined && (
        <a
          class={`image-link ${isVertical ? "w-full" : "h-full w-1/2"}`}
          href={articleUrl}
        >
          <img
            class={`${
              isPortrait
                ? "aspect-portrait-video h-full"
                : "aspect-video w-full"
            } rounded-xl object-cover ${isVertical && "mb-5"}`}
            src={imageUrl}
            alt="Article Thumbnail"
            onerror={`if (this.src !== ${imagePlaceHolder}) this.src = ${imagePlaceHolder}`}
          />
        </a>
      )
    }
    <div
      class={`${
        isVertical || imageUrl == undefined ? "w-full" : "ml-3 h-full w-1/2"
      } ${!hideCategoryAccent && "border-color border-t-2"}`}
    >
      {
        !hideCategoryAccent && (
          <a
            class="text-l category-text category-color uppercase xl:text-xl 2xl:text-2xl"
            href={`${categoryLink}`}
          >
            {category}
          </a>
        )
      }
      <div class="mb-2">
        <a class="headline" href={articleUrl}>
          <p class="text-l text-colour xl:text-xl 2xl:text-2xl">{headline}</p>
        </a>
        {
          authorId && (
            <a class="author" href={`/author/${authorId}`}>
              <p class="text-colour text-sm italic 2xl:text-base">
                <span class="category-color">By</span>
                {author}
              </p>
            </a>
          )
        }
      </div>
      <a class="excerpt" href={articleUrl}>
        <p class="text-colour text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
      </a>
    </div>
  </div>
</div>
