---
export interface Props {
  headline: string;
  excerpt: string | null;
  author: string;
  authorId: number | undefined;
  category: string | null | undefined;
  categoryLink: string | undefined;
  categoryColor: string | undefined;
  imageUrl: string;
  articleUrl: string;
  isVertical?: boolean; // Defines if the image is ontop or to the left of the text
  isPortrait: boolean; // Defines if the image is portrait or landscape
}

const {
  headline,
  excerpt,
  author,
  authorId,
  category,
  categoryLink,
  categoryColor,
  imageUrl,
  articleUrl,
  isVertical,
  isPortrait,
} = Astro.props;
---

<style define:vars={{ categoryColor }}>
  .border-color {
    border-color: var(--categoryColor);
  }
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  .category-color {
    color: var(--categoryColor);
  }
</style>
{
  !isPortrait && (
    <div class="article h-full overflow-hidden text-ellipsis">
      <>
        {!isVertical && (
          <div class="flex">
            <>
              <a class="h-full w-1/2" href={articleUrl}>
                <img
                  class="aspect-video rounded-xl object-cover"
                  src={imageUrl}
                  alt="Article Thumbnail"
                />
              </a>
              <div class="border-color ml-3 h-full w-1/2 border-t-2">
                <a
                  class="text-l category-text category-color uppercase xl:text-xl 2xl:text-2xl"
                  href={`/${categoryLink}`}
                >
                  {category}
                </a>
                <div class="mb-2">
                  <a href={articleUrl}>
                    <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
                  </a>
                  <a href={`/author/${authorId}`}>
                    <p class="text-sm italic 2xl:text-base">
                      <span class="category-color">By </span>
                      {author}
                    </p>
                  </a>
                </div>
                <a href={articleUrl}>
                  <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
                </a>
              </div>
            </>
          </div>
        )}
        {isVertical && (
          <div class="flex-col">
            <>
              <a class="w-full" href={articleUrl}>
                <img
                  class="mb-5 aspect-video rounded-xl object-cover"
                  src={imageUrl}
                  alt="Article Thumbnail"
                />
              </a>
              <div class="border-color border-t-2">
                <a
                  class="text-l category-text category-color uppercase xl:text-xl 2xl:text-2xl"
                  href={`/${categoryLink}`}
                >
                  {category}
                </a>
                <div class="mb-2">
                  <a href={articleUrl}>
                    <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
                  </a>
                  <a href={`/author/${authorId}`}>
                    <p class="text-sm italic 2xl:text-base">
                      <span class="category-color">By </span>
                      {author}
                    </p>
                  </a>
                </div>
                <a href={articleUrl}>
                  <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
                </a>
              </div>
            </>
          </div>
        )}
      </>
    </div>
  )
}

{
  isPortrait && (
    <div class="article h-full overflow-hidden text-ellipsis">
      <>
        <div class="flex">
          <a class="h-full w-1/2 " href={articleUrl}>
            <img
              class="aspect-{9/16} h-full rounded-xl object-cover"
              src={imageUrl}
              alt="Article Thumbnail"
            />
          </a>
          <div class="border-color ml-3 h-full w-1/2 border-t-2">
            <a
              class="text-l category-text category-color uppercase xl:text-xl 2xl:text-2xl"
              href={`/${categoryLink}`}
            >
              {category}
            </a>
            <div class="mb-2">
              <a href={articleUrl}>
                <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
              </a>
              <a href={`/author/${authorId}`}>
                <p class="text-sm italic 2xl:text-base">
                  <span class="category-color">By </span>
                  {author}
                </p>
              </a>
            </div>
            <a href={articleUrl}>
              <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
            </a>
          </div>
        </div>
      </>
    </div>
  )
}
