---
export interface Props {
  headline: string;
  excerpt: string | null;
  author: string;
  authorId: number | undefined;
  category: string | null | undefined;
  categoryLink: string | undefined;
  categoryColor: string | undefined;
  imageUrl: string;
  articleUrl: string;
  isVertical?: boolean; // Defines if the image is ontop or to the left of the text
  isPortrait: boolean; // Defines if the image is portrait or landscape
  hideCategoryAccent?: boolean;
}

const {
  headline,
  excerpt,
  author,
  authorId,
  category,
  categoryLink,
  categoryColor,
  imageUrl,
  articleUrl,
  isVertical,
  isPortrait,
  hideCategoryAccent,
} = Astro.props;
---

<style define:vars={{ categoryColor }}>
  .border-color {
    border-color: var(--categoryColor);
  }
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  .category-color {
    color: var(--categoryColor);
  }
</style>
<div class="h-full overflow-hidden text-ellipsis">
  <div class={`flex ${isVertical ? "flex-col" : "flex-row"}`}>
    <a class={isVertical ? "w-full" : "h-full w-1/2"} href={articleUrl}>
      <img
        class={`${
          isPortrait ? "aspect-{9/16} h-full" : "aspect-video w-full"
        } rounded-xl object-cover ${isVertical && "mb-5"}`}
        src={imageUrl}
        alt="Article Thumbnail"
      />
    </a>
    <div
      class={`${isVertical ? "w-full" : "ml-3 h-full w-1/2"} ${
        !hideCategoryAccent && "border-color border-t-2"
      }`}
    >
      {
        !hideCategoryAccent && (
          <a
            class="text-l category-text category-color uppercase xl:text-xl 2xl:text-2xl"
            href={`/${categoryLink}`}
          >
            {category}
          </a>
        )
      }
      <div class="mb-2">
        <a href={articleUrl}>
          <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
        </a>
        <a href={`/author/${authorId}`}>
          <p class="text-sm italic 2xl:text-base">
            <span class="category-color">By</span>
            {author}
          </p>
        </a>
      </div>
      <a href={articleUrl}>
        <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
      </a>
    </div>
  </div>
</div>
