---
export interface Props {
	headline: string;
	excerpt: string | null;
  author: string;
  authorId: number | undefined;
  category: string | undefined;
  categoryColor: string | undefined;
	imageUrl: string;
  articleUrl: string;
  isVertical?: boolean; // Defines if the image is ontop or to the left of the text
  isPortrait: boolean; // Defines if the image is portrait or landscape
}

const { headline, excerpt, author, authorId, category, categoryColor, imageUrl, articleUrl, isVertical, isPortrait } = Astro.props;
---
<style define:vars={{ categoryColor }}>
  .border-color {
    border-color: var(--categoryColor);
  }
  .category-text {
    font-family: "arno-pro-display", serif;
    font-weight: 700;
    font-style: normal;
  }
  .category-color {
    color: var(--categoryColor);
  }
</style>
{!isPortrait && <div class="h-full text-ellipsis overflow-hidden">
  <>

    {!isVertical && <div class="flex">
      <>
      <a class="w-1/2 h-full" href={articleUrl}>
        <img class="aspect-video object-cover rounded-xl" src={imageUrl} alt="Article Thumbnail">
      </a>
      <div class="w-1/2 h-full ml-3 border-t-2 border-color">
        <a href={`/${category}`}>
          <p class="text-l xl:text-xl 2xl:text-2xl uppercase category-text category-color">{category}</p>
        </a>
        <div class="mb-2">
          <a href={articleUrl}>
            <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
          </a>
          <a href={`/author/${authorId}`}>
            <p class="italic text-sm 2xl:text-base"><span class="category-color">By </span>{author}</p>
          </a>
        </div>
        <a href={articleUrl}>
          <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
        </a>
      </div>
      </>
    </div>}
    {isVertical && <div class="flex-col">
      <>
        <a class="w-full" href={articleUrl}>
          <img class="aspect-video object-cover rounded-xl mb-5" src={imageUrl} alt="Article Thumbnail">
        </a>
        <div class="border-t-2 border-color">
          <a href={`/${category}`}>
            <p class="text-l xl:text-xl 2xl:text-2xl uppercase category-text category-color">{category}</p>
          </a>
          <div class="mb-2">
            <a href={articleUrl}>
              <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
            </a>
            <a href={`/author/${authorId}`}>
              <p class="italic text-sm 2xl:text-base"><span class="category-color">By </span>{author}</p>
            </a>
          </div>
          <a href={articleUrl}>
            <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
          </a>
        </div>
      </>
    </div>}
  </>
</div>}

{isPortrait && <div class="h-full text-ellipsis overflow-hidden">
  <>
    <div class="flex">
      <a class="w-1/2 h-full " href={articleUrl}>
        <img class="h-full aspect-{9/16} object-cover rounded-xl" src={imageUrl} alt="Article Thumbnail">
      </a>
      <div class="w-1/2 h-full ml-3 border-t-2 border-color">
        <a href={`/${category}`}>
          <p class="text-l xl:text-xl 2xl:text-2xl uppercase category-text category-color">{category}</p>
        </a>
        <div class="mb-2">
          <a href={articleUrl}>
            <p class="text-l xl:text-xl 2xl:text-2xl">{headline}</p>
          </a>
          <a href={`/author/${authorId}`}>
            <p class="italic text-sm 2xl:text-base"><span class="category-color">By </span>{author}</p>
          </a>
        </div>
        <a href={articleUrl}>
          <p class="text-xs xl:text-sm 2xl:text-base">{excerpt}</p>
        </a>
      </div>
    </div>
  </>
</div>}
