---
import ArticleRows from "./ArticleRows.astro";
import Paginator from "@solidComponents//Paginator";
import type { AuthorArticles } from "./types";

interface Props {
  articlesPerPage: number;
  pageNumber: number;
  authorId: number;
}

const { articlesPerPage, pageNumber, authorId } = Astro.props;

const apiBase = import.meta.env.PUBLIC_API_BASE_URL;

const res = await fetch(
  `${apiBase}/api/frontend/authors/${authorId}/articles?page=${pageNumber}&limit=${articlesPerPage}`,
);
const authorArticles: AuthorArticles = await res.json();
---

<div class="pt-8 sm:px-[0.5%] 2xl:px-[13%]">
  {
    authorArticles.articles.length !== 0 && (
      <div id="article-list">
        <ArticleRows articles={authorArticles.articles} style={"nouse"} />
      </div>
    )
  }
  <div class="mt-4 w-full" id="paginator-container">
    <Paginator
      client:only
      page={pageNumber === 0 ? pageNumber : pageNumber - 1}
      pages={authorArticles.pages}
      pagesToDisplay={4}
      prefix={`author/${authorId}`}
      useQueryParams={true}
    />
  </div>
</div>
