---
import type { categories } from "@prisma/client";
import prisma from "../prisma";
import Article from "./SolidJS/Article";
import { getArticles, articlesWithArticleDrafts, getArticleImage } from "./utils/articles";
import { getMainArticleCategory } from "./utils/categories";

interface Props {
  featuredArticlesIds: number[] | undefined;
}

const { featuredArticlesIds} = Astro.props;

// Get featured articles
const featuredArticles: articlesWithArticleDrafts[] = await getArticles(featuredArticlesIds)
const hasPortraitArticles = featuredArticles.filter(a => a.articles_isThumbnailPortrait).length > 0;
// Sort articles so that portrait articles are first
if (hasPortraitArticles) {
  featuredArticles.sort((a, b) => {
    if (a.articles_isThumbnailPortrait && !b.articles_isThumbnailPortrait) {
      return -1;
    } else {
      return 1;
    }
  });
}

// Get the main categories for each article
const mainCategories: (categories | null)[] = await Promise.all(featuredArticles.map(article => getMainArticleCategory(article.articles_categories.split(',').map(Number))))
---
{/* Desktop */}
<div class="hidden sm:flex">
  {/* Only Landscape Articles */}
  {!hasPortraitArticles && <div>
    {/* 4 or more Articles */}
    {featuredArticles.length >= 4 && <div>
      <div class="flex max-h-52 max-w-full gap-2.5">
        <div class="w-1/2 border-r-2 pr-2.5 border-gray-300">
          <Article
          headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
          category={mainCategories[0]?.categories_displayName}
          categoryLink={mainCategories[0]?.categories_name}
          categoryColor={mainCategories[0]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[0])}
          articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        <div class="w-1/2">
          <Article 
          headline={featuredArticles[1].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[1].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[1].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[1].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[1].articlesDrafts[0].users?.users_userid}
          category={mainCategories[1]?.categories_displayName}
          categoryLink={mainCategories[1]?.categories_name}
          categoryColor={mainCategories[1]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[1])}
          articleUrl={`/${featuredArticles[1].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[1].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
      </div>
      <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
      {/* More than 4 articles */}
      {featuredArticles.length > 4 && <div class="flex max-w-full gap-2.5 justify-center">
        {featuredArticles.slice(2).map(async (article, index) => (
          <div class={`w-full pr-2.5 ${index != featuredArticles.length - 3 ? "border-r-2 border-gray-300" : ""}`}>
            <Article
            headline={article.articlesDrafts[0].articlesDrafts_headline}
            excerpt={article.articlesDrafts[0].articlesDrafts_excerpt}
            author={article.articlesDrafts[0].users?.users_name1 + " " + article.articlesDrafts[0].users?.users_name2}
            authorId={article.articlesDrafts[0].users?.users_userid}
            category={mainCategories[index + 2]?.categories_displayName}
            categoryLink={mainCategories[index + 2]?.categories_name}
            categoryColor={mainCategories[index + 2]?.categories_backgroundColor}
            imageUrl={await getArticleImage(article)}
            articleUrl={`/${article.articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${article.articles_slug}`}
            isVertical={true}
            isPortrait={false}
            />
          </div>
        ))}
      </div>}
      {/* 4 articles */}
      {featuredArticles.length == 4 && <div class="flex max-h-52 max-w-full gap-2.5">
        <div class="w-1/2 border-r-2 pr-2.5 border-gray-300">
          <Article
          headline={featuredArticles[2].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[2].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[2].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[2].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[2].articlesDrafts[0].users?.users_userid}
          category={mainCategories[2]?.categories_displayName}
          categoryLink={mainCategories[2]?.categories_name}
          categoryColor={mainCategories[2]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[2])}
          articleUrl={`/${featuredArticles[2].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[2].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        <div class="w-1/2">
          <Article 
          headline={featuredArticles[3].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[3].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[3].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[3].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[3].articlesDrafts[0].users?.users_userid}
          category={mainCategories[3]?.categories_displayName}
          categoryLink={mainCategories[3]?.categories_name}
          categoryColor={mainCategories[3]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[3])}
          articleUrl={`/${featuredArticles[3].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[3].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
      </div>}
    </div>}
    {/* 3 articles */}
    {featuredArticles.length == 3 && <div class="flex w-full gap-2.5">
      <div class="flex-col max-w-[60%] border-r-2 pr-2.5 border-gray-300">
        <div class="w-full">
          <Article
          headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
          category={mainCategories[0]?.categories_displayName}
          categoryLink={mainCategories[0]?.categories_name}
          categoryColor={mainCategories[0]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[0])}
          articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
        <div class="w-full">
          <Article 
          headline={featuredArticles[1].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[1].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[1].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[1].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[1].articlesDrafts[0].users?.users_userid}
          category={mainCategories[1]?.categories_displayName}
          categoryLink={mainCategories[1]?.categories_name}
          categoryColor={mainCategories[1]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[1])}
          articleUrl={`/${featuredArticles[1].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[1].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
      </div>
      <div class="max-w-[40%]">
          <Article 
          headline={featuredArticles[2].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[2].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[2].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[2].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[2].articlesDrafts[0].users?.users_userid}
          category={mainCategories[2]?.categories_displayName}
          categoryLink={mainCategories[2]?.categories_name}
          categoryColor={mainCategories[2]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[2])}
          articleUrl={`/${featuredArticles[2].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[2].articles_slug}`}
          isVertical={true}
          isPortrait={false}
          />
        </div>
    </div>}
    {/* 2 articles */}
    {featuredArticles.length == 2 && <div class="flex w-full gap-2.5">
    <div class="max-w-[50%]">
        <Article 
        headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
        excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
        author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
        authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
        category={mainCategories[0]?.categories_displayName}
        categoryLink={mainCategories[0]?.categories_name}
        categoryColor={mainCategories[0]?.categories_backgroundColor}
        imageUrl={await getArticleImage(featuredArticles[0])}
        articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
        isVertical={true}
        isPortrait={false}
        />
      </div>
      <div class="max-w-[50%]">
          <Article 
          headline={featuredArticles[1].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[1].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[1].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[1].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[1].articlesDrafts[0].users?.users_userid}
          category={mainCategories[1]?.categories_displayName}
          categoryLink={mainCategories[1]?.categories_name}
          categoryColor={mainCategories[1]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[1])}
          articleUrl={`/${featuredArticles[1].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[1].articles_slug}`}
          isVertical={true}
          isPortrait={false}
          />
        </div>
    </div>}
    {/* 1 article */}
    {featuredArticles.length == 1 && <div class="w-full">
      <Article 
      headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
      excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
      author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
      authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
      category={mainCategories[0]?.categories_displayName}
      categoryLink={mainCategories[0]?.categories_name}
      categoryColor={mainCategories[0]?.categories_backgroundColor}
      imageUrl={await getArticleImage(featuredArticles[0])}
      articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
      isVertical={false}
      isPortrait={false}
      />
    </div>}
  </div>}

  {/* Landscape Articles with one Portrait article */}
  {hasPortraitArticles && <div>
    {/* More than 1 article */}
    {featuredArticles.length > 1 && 
    <div class="flex w-full gap-2.5">
      <div class="max-w-[50%] border-r-2 pr-2.5 border-gray-300">
        <Article
        headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
        excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
        author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
        authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
        category={mainCategories[0]?.categories_displayName}
        categoryLink={mainCategories[0]?.categories_name}
        categoryColor={mainCategories[0]?.categories_backgroundColor}
        imageUrl={await getArticleImage(featuredArticles[0])}
        articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
        isPortrait={true}
        />
      </div>
      {/* More than 2 Articles */}
      {featuredArticles.length > 2 && <div class="flex-col max-w-[50%]">
        <div class="w-full">
          <Article
          headline={featuredArticles[1].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[1].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[1].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[1].articlesDrafts[0].users?.users_userid}
          category={mainCategories[1]?.categories_displayName}
          categoryLink={mainCategories[1]?.categories_name}
          categoryColor={mainCategories[1]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[1])}
          articleUrl={`/${featuredArticles[1].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[1].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
        <div class="w-full">
          <Article 
          headline={featuredArticles[2].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[2].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[2].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[2].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[2].articlesDrafts[0].users?.users_userid}
          category={mainCategories[2]?.categories_displayName}
          categoryLink={mainCategories[2]?.categories_name}
          categoryColor={mainCategories[2]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[2])}
          articleUrl={`/${featuredArticles[2].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[2].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        {/* 4 articles */}
        {featuredArticles.length == 4 && 
          <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
          <div class="w-full">
            <Article 
            headline={featuredArticles[3].articlesDrafts[0].articlesDrafts_headline}
            excerpt={featuredArticles[3].articlesDrafts[0].articlesDrafts_excerpt}
            author={featuredArticles[3].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[3].articlesDrafts[0].users?.users_name2}
            authorId={featuredArticles[3].articlesDrafts[0].users?.users_userid}
            category={mainCategories[3]?.categories_displayName}
            categoryLink={mainCategories[3]?.categories_name}
            categoryColor={mainCategories[3]?.categories_backgroundColor}
            imageUrl={await getArticleImage(featuredArticles[3])}
            articleUrl={`/${featuredArticles[3].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[3].articles_slug}`}
            isVertical={false}
            isPortrait={false}
            />
          </div>
        }
        </div>
      }
      {/* 2 articles */}
      {featuredArticles.length == 2 && <div class="w-1/2">
        <Article
        headline={featuredArticles[1].articlesDrafts[0].articlesDrafts_headline}
        excerpt={featuredArticles[1].articlesDrafts[0].articlesDrafts_excerpt}
        author={featuredArticles[1].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[1].articlesDrafts[0].users?.users_name2}
        authorId={featuredArticles[1].articlesDrafts[0].users?.users_userid}
        category={mainCategories[1]?.categories_displayName}
        categoryLink={mainCategories[1]?.categories_name}
        categoryColor={mainCategories[1]?.categories_backgroundColor}
        imageUrl={await getArticleImage(featuredArticles[1])}
        articleUrl={`/${featuredArticles[1].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[1].articles_slug}`}
        isVertical={true}
        isPortrait={false}
        />
      </div>}
    </div>}
    {/* 5 articles */}
    {featuredArticles.length == 5 &&
      <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
      <div class="flex max-h-52 max-w-full gap-2.5">
        <div class="w-1/2 border-r-2 pr-2.5 border-gray-300">
          <Article
          headline={featuredArticles[3].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[3].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[3].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[3].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[3].articlesDrafts[0].users?.users_userid}
          category={mainCategories[3]?.categories_displayName}
          categoryLink={mainCategories[3]?.categories_name}
          categoryColor={mainCategories[3]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[3])}
          articleUrl={`/${featuredArticles[3].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[3].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
        <div class="w-1/2">
          <Article 
          headline={featuredArticles[4].articlesDrafts[0].articlesDrafts_headline}
          excerpt={featuredArticles[4].articlesDrafts[0].articlesDrafts_excerpt}
          author={featuredArticles[4].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[4].articlesDrafts[0].users?.users_name2}
          authorId={featuredArticles[4].articlesDrafts[0].users?.users_userid}
          category={mainCategories[4]?.categories_displayName}
          categoryLink={mainCategories[4]?.categories_name}
          categoryColor={mainCategories[4]?.categories_backgroundColor}
          imageUrl={await getArticleImage(featuredArticles[4])}
          articleUrl={`/${featuredArticles[4].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[4].articles_slug}`}
          isVertical={false}
          isPortrait={false}
          />
        </div>
      </div>
    }
    {/* 6 articles */}
    {featuredArticles.length == 6 &&
      <hr class="w-full self-center border-[1px] border-gray-300 my-2.5" />
      <div class="flex max-w-full gap-2.5 justify-center">
          {featuredArticles.slice(3).map(async (article, index) => (
            <div class={`w-full pr-2.5 ${index != featuredArticles.length - 4 ? "border-r-2 border-gray-300" : ""}`}>
              <Article
              headline={article.articlesDrafts[0].articlesDrafts_headline}
              excerpt={article.articlesDrafts[0].articlesDrafts_excerpt}
              author={article.articlesDrafts[0].users?.users_name1 + " " + article.articlesDrafts[0].users?.users_name2}
              authorId={article.articlesDrafts[0].users?.users_userid}
              category={mainCategories[index + 2]?.categories_displayName}
              categoryLink={mainCategories[index + 2]?.categories_name}
              categoryColor={mainCategories[index + 2]?.categories_backgroundColor}
              imageUrl={await getArticleImage(article)}
              articleUrl={`/${article.articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${article.articles_slug}`}
              isVertical={true}
              isPortrait={false}
              />
            </div>
          ))}
      </div>
    }

    {/* 1 article */}
    {featuredArticles.length == 1 && <div class="max-w-3xl mx-auto">
      <Article
      headline={featuredArticles[0].articlesDrafts[0].articlesDrafts_headline}
      excerpt={featuredArticles[0].articlesDrafts[0].articlesDrafts_excerpt}
      author={featuredArticles[0].articlesDrafts[0].users?.users_name1 + " " + featuredArticles[0].articlesDrafts[0].users?.users_name2}
      authorId={featuredArticles[0].articlesDrafts[0].users?.users_userid}
      category={mainCategories[0]?.categories_displayName}
      categoryLink={mainCategories[0]?.categories_name}
      categoryColor={mainCategories[0]?.categories_backgroundColor}
      imageUrl={await getArticleImage(featuredArticles[0])}
      articleUrl={`/${featuredArticles[0].articles_published?.toISOString().substring(0, 10).replaceAll("-","/")}/${featuredArticles[0].articles_slug}`}
      isPortrait={true}
      />
    </div>}
  </div>}
</div>
{/* Mobile */}
<div class="block max-w-full justify-center sm:hidden">
  {featuredArticles.map(async (article, index) => (
    <div
      class={`w-full p-2.5 ${
        index != featuredArticles.length - 1 ? "border-b-2 border-gray-300" : ""
      }`}
    >
      <Article
        headline={article.articlesDrafts[0].articlesDrafts_headline}
        excerpt={article.articlesDrafts[0].articlesDrafts_excerpt}
        author={
          article.articlesDrafts[0].users?.users_name1 +
          " " +
          article.articlesDrafts[0].users?.users_name2
        }
        authorId={article.articlesDrafts[0].users?.users_userid}
        category={mainCategories[index]?.categories_displayName}
        categoryLink={mainCategories[index]?.categories_name}
        categoryColor={mainCategories[index]?.categories_backgroundColor}
        imageUrl={index <= 2 ? await getArticleImage(article) : undefined}
        articleUrl={`/${article.articles_published
          ?.toISOString()
          .substring(0, 10)
          .replaceAll("-", "/")}/${article.articles_slug}`}
        isVertical={index == 0}
        isPortrait={article.articles_isThumbnailPortrait}
      />
    </div>
  ))}
</div>
