---
import type { ArticleContent, MuseNavbarCategory } from "@components/types";
import MuseComponent from "@solidComponents/MuseComponent";
import { getArticleImage, getArticles } from "./utils/articles";
import { getMenuCategories } from "./utils/categories";

const museMenuCategories = await getMenuCategories("muse");

const categories = museMenuCategories.reduce((accumulator, currentCategory) => {
  if (
    currentCategory.categories_name !== "nouse" &&
    currentCategory.categories_name != "home"
  ) {
    accumulator.push({
      name: currentCategory.categories_name,
      displayName: currentCategory.categories_displayName
        ? currentCategory.categories_displayName
        : "",
    });
  }
  return accumulator;
}, [] as MuseNavbarCategory[]);

const content = new Map<string, ArticleContent[]>();

for (let i = 0; i < categories.length; i++) {
  const featuredArticles = museMenuCategories[i]
    .categories_featured!.split(",")
    .map(Number);

  // Only 4 articles per category
  const articles = (await getArticles(featuredArticles)).slice(0, 4);
  const articlesArray = await Promise.all(
    articles.map(async (article) => {
      return {
        headline: article.articlesDrafts[0].articlesDrafts_headline,
        excerpt: article.articlesDrafts[0].articlesDrafts_excerpt,
        author: `${article.articlesDrafts[0].users?.users_name1} ${article.articlesDrafts[0].users?.users_name2}`,
        authorId: article.articlesDrafts[0].users?.users_userid,
        imageUrl: await getArticleImage(article),
        articleUrl: `/${article.articles_published
          ?.toISOString()
          .substring(0, 10)
          .replaceAll("-", "/")}/${article.articles_slug}`,
        isPortrait: article.articles_isThumbnailPortrait,
      };
    })
  );

  content.set(museMenuCategories[i].categories_name, articlesArray);
}
---

<div class="relative mt-4 flex w-full flex-col bg-black">
  <a href="/muse" class="mx-[42%] my-4 w-[14%]">
    <img
      class="w-full"
      src="https://bbcdn.nouse.co.uk/file/nouseSiteAssets/logo/MUSE%20Logo%20White%20small.png"
    />
  </a>

  <MuseComponent client:load categories={categories} articles={content} />
</div>
