---
import FeaturedArticles from "@components/FeaturedArticles.astro";
import FeaturedSection from "@components/FeaturedSection.astro";
import Paginator from "@components/SolidJS/Paginator";
import {
  categoriesWithArticles,
  getCategoriesWithArticles,
} from "@components/utils/categories";
import Layout from "src/layouts/Layout.astro";
import NavbarColourSwitcher from "@components/NavbarColourSwitcher.astro";
import ArticleRows from "@components/ArticleRows.astro";
import prisma from "src/prisma";

const { topLevelCategory, path } = Astro.params;
const cleanPath = path ? decodeURIComponent(path) : undefined;

// Getting the category name and page number
let categoryName: string | undefined;
let pageNumber: number = 0;
let paginatorPrefix: string | undefined;
// if the path is undefined, then the category is the top level category for example /news
if (cleanPath === undefined) {
  categoryName = topLevelCategory;
  paginatorPrefix = topLevelCategory;
} else {
  const pathComponents = cleanPath.split("/");
  // If the last component is a number for example, then it's a page number
  // For example /news/2 or /news/campus-news/2 Otherwise, it's a category name for example /news/campus-news
  if (
    !Number.isNaN(Number.parseInt(pathComponents[pathComponents.length - 1]))
  ) {
    // If there's only one component, then it's the category is the topLevelCategory
    // For example, /news/2. Otherwise, it's the second to last component for example /news/campus-news/2
    if (pathComponents.length === 1) {
      categoryName = topLevelCategory;
      paginatorPrefix = topLevelCategory;
    } else {
      categoryName = pathComponents[pathComponents.length - 2];
      paginatorPrefix = `${topLevelCategory}/${pathComponents
        .slice(0, pathComponents.length - 1)
        .join("/")}`;
    }
    pageNumber = Number.parseInt(pathComponents[pathComponents.length - 1]);
  } else {
    categoryName = pathComponents[pathComponents.length - 1];
    paginatorPrefix = `${topLevelCategory}/${pathComponents.join("/")}`;
  }
}

// Redirecting to 404 if the page number is 1 as we paginate from 0
if (pageNumber === 1 || categoryName === undefined) {
  return Astro.redirect("/404");
} else if (pageNumber > 1) {
  pageNumber -= 1;
}

const articlesPerPage = 30; // Number of articles per page
const isMuseLandingPage = categoryName === "muse" && pageNumber === 0; // Whether the page is the muse landing page
const articlesSkipped = isMuseLandingPage // Number of articles to skip
  ? 0
  : categoryName === "muse"
  ? (pageNumber - 1) * articlesPerPage
  : pageNumber * articlesPerPage;

// Getting the number of articles in the category and the ids of featured articles
const categoryFeaturedAndCount = await prisma.categories.findFirst({
  where: {
    categories_name: categoryName,
    categories_showPublic: true,
    categories_showMenu: true,
  },
  select: {
    categories_featured: true,
    _count: {
      select: {
        articles: {
          where: {
            article: {
              articles_showInLists: true,
            },
          },
        },
      },
    },
  },
});

// Getting the featured article ids
const featuredArticlesIds =
  categoryFeaturedAndCount?.categories_featured &&
  categoryFeaturedAndCount.categories_featured !== ""
    ? categoryFeaturedAndCount.categories_featured.split(",").map(Number)
    : [];

// Redirecting to 404 if the category doesn't exist
// Or if there are no articles to display and the page number isn't 0
// Note: the second condition allows us to show landing pages for categories with no articles
if (
  !categoryFeaturedAndCount ||
  (categoryFeaturedAndCount._count.articles -
    (articlesSkipped + featuredArticlesIds.length) <=
    0 &&
    pageNumber !== 0)
)
  return Astro.redirect("/404");

const category = await prisma.categories.findFirst({
  where: {
    categories_name: categoryName,
    categories_showPublic: true,
    categories_showMenu: true,
  },
  include: {
    articles: {
      take: isMuseLandingPage ? 0 : articlesPerPage,
      skip: articlesSkipped,
      where: {
        article: {
          articles_showInLists: true,
          NOT: {
            articles_id: {
              in: featuredArticlesIds,
            },
          },
        },
      },
      orderBy: {
        article: {
          articles_published: "desc",
        },
      },
      include: {
        article: {
          include: {
            articlesDrafts: {
              orderBy: {
                articlesDrafts_timestamp: "desc",
              },
              take: 1,
            },
            categories: {
              include: { category: true },
            },
            users: { include: { users: true } },
          },
        },
      },
    },
  },
});

// Redirecting to 404 if the category doesn't exist or if there are no articles to show
if (!category) return Astro.redirect("/404");

// Getting the style for the category
const style =
  category.categories_nestUnder === 4 ||
  topLevelCategory === "muse" ||
  category.categories_name === "muse"
    ? "muse"
    : "nouse";

// Getting the featured section for the muse homepage
let museCategories: categoriesWithArticles[] = [];
if (isMuseLandingPage) {
  museCategories = await getCategoriesWithArticles(4);
}
---

<Layout
  title={`${category.categories_displayName} - Nouse`}
  active={category.categories_name}
  style={style}
>
  <div class="px-[3%] pt-8 sm:px-[0.5%] 2xl:px-[13%]">
    {/* Mobile Header */}
    {
      category.categories_name !== "muse" && (
        <h1 id="mobile-header" class="block text-center text-2xl sm:hidden">
          {category.categories_displayName}
        </h1>
      )
    }
    {
      featuredArticlesIds.length !== 0 && (
        <>
          <div id="featured-articles">
            <FeaturedArticles
              featuredArticlesIds={featuredArticlesIds}
              hideCategoryAccent={category.categories_name !== "muse"}
              style={style}
            />
          </div>
          {!isMuseLandingPage && (
            <hr class="my-2.5 w-full self-center border-gray-300" />
          )}
        </>
      )
    }
    {
      !isMuseLandingPage ? (
        <>
          <div id="article-list">
            <ArticleRows
              articles={category.articles.map((article) => article.article)}
              parentCategory={category}
              style={"nouse"}
              hideCategoryAccent={true}
            />
          </div>
        </>
      ) : (
        <>
          <div class="featured-sections">
            {museCategories.map((category) => (
              <div id={`${category.categories_name}-section`}>
                <FeaturedSection category={category} />
              </div>
            ))}
          </div>
        </>
      )
    }
  </div>
  <div class="mt-4 w-full" id="paginator-container">
    <Paginator
      client:only
      page={pageNumber}
      pages={category.categories_name === "muse"
        ? Math.ceil(
            (categoryFeaturedAndCount._count.articles -
              featuredArticlesIds.length) /
              articlesPerPage
          ) + 1
        : Math.max(
            1,
            Math.ceil(
              categoryFeaturedAndCount._count.articles / articlesPerPage
            )
          )}
      pagesToDisplay={5}
      prefix={paginatorPrefix}
    />
  </div>
  <NavbarColourSwitcher featuredCategories={museCategories} style={"muse"} />
</Layout>
