---
import TopArticles from "@components/SolidJS/TopArticles";
import {
  articleWithUserAndDraft,
  getAllArticles,
  getArticleImage,
} from "@components/utils/articles";
import { Icon } from "astro-icon";
import Layout from "src/layouts/Layout.astro";
import prisma from "src/prisma";

export async function getStaticPaths() {
  const dateFormatter = new Intl.DateTimeFormat("en-GB", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });

  const articles = await getAllArticles();

  return articles.map((article) => {
    const date = article.articles_published || new Date(0);
    // DD/MM/YYYY
    const dateParts = dateFormatter.format(date).split("/");
    return {
      params: {
        year: dateParts[2],
        month: dateParts[1],
        day: dateParts[0],
        slug: article.articles_slug || "err",
      },
      props: {
        article,
      },
    };
  });
}

interface Props {
  article: articleWithUserAndDraft;
}

const { article } = Astro.props;
const topCategory = article.categories[0].category;
const parentCategory =
  article.categories[article.categories.length - 1].category;
const articleDraft = article.articlesDrafts[0];
const imageUrl = await getArticleImage(article);

let formattedUser = {
  name: `${articleDraft.users?.users_name1} ${articleDraft.users?.users_name2}`,
  positions: `${await articleDraft.users?.userPositions.reduce(
    async (accumulatorPromise, userPosition) => {
      let accumulator = await accumulatorPromise;
      // Only show position if still current
      if (
        !userPosition.userPositions_end ||
        userPosition.userPositions_end.getTime() > new Date().getTime()
      ) {
        if (userPosition.positions_id) {
          const position = await prisma.positions.findFirst({
            where: {
              positions_id: userPosition.positions_id,
            },
          });
          accumulator += position?.positions_displayName || "";
          accumulator += " ";
        }
      }
      return accumulator;
    },
    Promise.resolve("")
  )}`,
};

const articleId = article.articles_id;

let baseUrl = import.meta.env.BASE_URL;

baseUrl = baseUrl.slice(0, baseUrl.length - 1);
---

<Layout
  style={topCategory.categories_id === 4 ? "muse" : "nouse"}
  active={parentCategory.categories_name}
  title={`${articleDraft.articlesDrafts_headline} - Nouse`}
>
  <main>
    <div class="flex flex-col px-[3%] pt-8 text-base sm:px-[0.5%] 2xl:px-[13%]">
      <div class="flex flex-col md:flex-row md:gap-10">
        {/* Article */}
        <div class="flex w-full flex-col gap-3 md:w-2/3">
          <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl lg:text-6xl">
            {article.articlesDrafts[0].articlesDrafts_headline}
          </h1>
          {
            article.articles_published && (
              <div class="flex flex-row font-semibold">
                <Icon
                  name="ic:baseline-access-time-filled"
                  class="my-auto mr-1 h-4 w-4"
                />
                <p class="my-auto">
                  {article.articles_published.toLocaleDateString()}
                </p>
              </div>
            )
          }
          <h3>{article.articlesDrafts[0].articlesDrafts_excerpt}</h3>
          {
            article.articles_isThumbnailPortrait ? (
              <img
                class="max-w-1/2 aspect-portrait-video mx-auto rounded-lg object-cover"
                src={imageUrl}
              />
            ) : (
              <img
                class="aspect-video rounded-lg object-cover"
                src={imageUrl}
              />
            )
          }
          <div class="relative h-5">
            <div
              class={`absolute top-0 left-0 border-l-[5px] h-full border-color-${topCategory.categories_name}`}
            >
            </div>
            <p class={`ml-2 category-color-${topCategory.categories_name}`}>
              Image by {
                article.articlesDrafts[0].articlesDrafts_thumbnailCredit
              }
            </p>
          </div>
          <p class="text-xl italic">
            <span class={`category-color-${topCategory.categories_name}`}
              >By
            </span>{formattedUser.name}{
              formattedUser.positions.length > 0 &&
                ` - ${formattedUser.positions}`
            }
          </p>
          <div
            class="text-justify"
            set:html={articleDraft.articlesDrafts_text}
          />
        </div>
        {/* Top Articles */}
        <div class="flex w-full flex-col md:w-1/3">
          <TopArticles
            client:only
            categoryName={topCategory.categories_name}
            baseUrl={baseUrl}
          />
        </div>
      </div>
    </div>
  </main>
</Layout>

<script define:vars={{ articleId }}>
  const cookies = document.cookie.split(";");
  const cookie = "readArticles=";
  const expiration = "readArticlesExpires=";
  const readArticles = [];

  // Expires in a month
  let expires = new Date();
  expires.setUTCDate(1);
  expires.setUTCMonth(expires.getUTCMonth() + 1);
  expires.setUTCMilliseconds(0);
  expires.setUTCSeconds(0);
  expires.setUTCMinutes(0);
  expires.setUTCHours(0);

  for (let i = 0; i < cookies.length; i++) {
    const item = cookies[i];

    if (item.includes(cookie)) {
      const articles = item.substring(cookie.length + 1);
      readArticles.push(
        ...articles
          .split(",")
          .map((article) => parseInt(article))
          .filter((articleNum) => !isNaN(articleNum))
      );
    }

    if (item.includes(expiration))
      expires = item.substring(expiration.length + 1);
  }

  if (!readArticles.includes(articleId)) {
    readArticles.push(articleId);

    // Register read on server
    const formData = new FormData();
    formData.append("articleId", articleId);

    fetch("/api/registerRead.php", {
      method: "POST",
      body: formData,
    });
  }

  expires = expires instanceof Date ? expires.toUTCString() : expires;

  document.cookie = `${cookie}${readArticles.join(
    ","
  )};expires=${expires};path=/`;

  document.cookie = `${expiration}${expires};expires=${expires};path=/`;
</script>
